{% extends "MainPage.html" %}
{% load staticfiles %}
{% load extratags %}


{% block extendHead %}
<link rel="stylesheet" type="text/css" href='{% static "css/table_style.css" %}' name="style">
<script type="text/javascript" src='{% static "js/table_script.js" %}'></script>
{% endblock %}

{% block content %}
<section class="overviewContainer">
    <div class="section_menu">
        <span class="section_title" style="cursor:default">
            <b>Tweet: <a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.get_ident }}"
                         class="TableToolLink" target="_blank">
                @{{ tweet.user }}'s Tweet
            </a></b>
        </span>
    </div>
    <div class="section_overview_content">
        <div class="overviewDescription">
            {% if tweet.text %}
            {{ tweet.text }}
            {% else %}
            <i>Pas encore disponible</i>
            {% endif %}
        </div>
        <br><br>

        {% with "Tweet"|getFieldsAsDict as fields %}
        <div class="overviewValue tooltip">
            {{ fields.user.name }}:<hr>
            <a href="/twitter/user/{{ tweet.user.pk }}" class="TableToolLink">{{ tweet.user }}</a>
            <span class="tooltiptext">{{ fields.user.description }}</span>
        </div>
        {% if tweet.coordinates %}
        <div class="overviewValue tooltip">
            {{ fields.coordinates.name }}:<hr>{{ tweet.coordinates }}
            <span class="tooltiptext">{{ fields.coordinates.description }}</span>
        </div>
        {% endif %}
        {% if tweet.contributors__length > 0 %}
        <div class="overviewValue tooltip">
            {{ fields.contributors.name }}:<hr>{{ tweet.contributors }}
            <span class="tooltiptext">{{ fields.contributors.description }}</span>
        </div>
        {% endif %}
        <div class="overviewValue tooltip">
            {{ fields.created_at.name }}:<hr>{{ tweet.created_at }}
            <span class="tooltiptext">{{ fields.created_at.description }}</span>
        </div>
        {% if tweet.deleted_at %}
        <div class="overviewValue tooltip">
            {{ fields.deleted_at.name }}:<hr>{{ tweet.deleted_at }}
            <span class="tooltiptext">{{ fields.deleted_at.description }}</span>
        </div>
        {% endif %}
        <div class="overviewValue tooltip">
            {{ fields.retweet_count.name }}:<hr>{{ tweet.retweet_count }}
            <span class="tooltiptext">{{ fields.retweet_count.description }}</span>
        </div>
        {% if tweet.possibly_sensitive %}
        <div class="overviewValue tooltip">
            {{ fields.possibly_sensitive.name }}:<hr>Oui
            <span class="tooltiptext">{{ fields.possibly_sensitive.description }}</span>
        </div>
        {% endif %}
        {% if tweet.place %}
        <div class="overviewValue tooltip">
            {{ fields.place.name }}:<hr>{{ tweet.place }}
            <span class="tooltiptext">{{ fields.place.description }}</span>
        </div>
        {% endif %}
        {% if tweet.source %}
        <div class="overviewValue tooltip">
            {{ fields.source.name }}:<hr>
            <a class="TableToolLink" target="_blank" href="{{ tweet.digestSource.url }}">{{ tweet.digestSource.name }}</a>
            <span class="tooltiptext">{{ fields.source.description }}</span>
        </div>
        {% endif %}
        <div class="overviewValue tooltip">
            {{ fields.lang.name }}:<hr>{{ tweet.lang }}
            <span class="tooltiptext">{{ fields.lang.description }}</span>
        </div>
        {% if tweet.withheld_copyright %}
        <div class="overviewValue tooltip">
            {{ fields.withheld_copyright.name }}:<hr>Oui
            <span class="tooltiptext">{{ fields.withheld_copyright.description }}</span>
        </div>
        {% endif %}
        {% if tweet.withheld_in_countries %}
        <div class="overviewValue tooltip">
            {{ fields.withheld_in_countries.name }}:<hr>{{ tweet.withheld_in_countries }}
            <span class="tooltiptext">{{ fields.withheld_in_countries.description }}</span>
        </div>
        <div class="overviewValue tooltip">
            {{ fields.withheld_scope.name }}:
            <hr>
            {{ tweet.withheld_scope }}
            <span class="tooltiptext">{{ fields.withheld_scope.description }}</span>
        </div>
        {% endif %}
        {% if in_reply_to_user %}
        <div class="overviewValue tooltip">
            {{ fields.in_reply_to_user.name }}:<hr>
            <a href="/twitter/user/{{ tweet.in_reply_to_user.pk }}" class="TableToolLink">
                {{ tweet.in_reply_to_user }}</a>
            <span class="tooltiptext">{{ fields.in_reply_to_user.description }}</span>
        </div>
        {% endif %}
        {% if tweet.in_reply_to_status %}
        <div class="overviewValue tooltip">
            {{ fields.in_reply_to_status.name }}:<hr>
            <a href="/twitter/tweet/{{ tweet.in_reply_to_status.pk }}" class="TableToolLink">
                {{ tweet.in_reply_to_status}}</a>
            <span class="tooltiptext">{{ fields.in_reply_to_status.description }}</span>
        </div>
        {% endif %}
        {% if tweet.quoted_status %}
        <div class="overviewValue tooltip">
            {{ fields.quoted_status.name }}:<hr>
            <a href="/twitter/tweet/{{ tweet.quoted_status.pk }}" class="TableToolLink">
                {{ tweet.quoted_status}}</a>
            <span class="tooltiptext">{{ fields.quoted_status.description }}</span>
        </div>
        {% endif %}
        {% if tweet.retweet_of %}
        <div class="overviewValue tooltip">
            {{ fields.retweet_of.name }}:<hr>
            <a href="/twitter/tweet/{{ tweet.retweet_of.pk }}" class="TableToolLink">
                {{ tweet.retweet_of}}</a>
            <span class="tooltiptext">{{ fields.retweet_of.description }}</span>
        </div>
        {% endif %}

        {% if user.is_superuser %}
        <div class="overviewValue superuserOnly">Last updated:<hr>{{ tweet.last_updated }}</div>
        <div class="overviewValue superuserOnly">Last retweet-harvested:<hr>{{ tweet.last_retweeter_harvested }}</div>
        <div class="overviewValue superuserOnly">Error on update:<hr>{{ tweet.error_on_update }}</div>
        <div class="overviewValue superuserOnly">Error on retweet-harvest:<hr>{{ tweet.error_on_retweet_harvest }}</div>
        {% endif %}
        {% endwith %}
    </div>
</section>

<!-- RETWEETS -->
{% include "tool/tables/twitterTweetTable.html" with source="TwitterTweetRetweets" %}

<!-- REPLIES -->
{% include "tool/tables/twitterTweetTable.html" with source="TwitterTweetRepliedBy" %}

<!-- USER MENTIONS -->
{% include "tool/tables/twitterUserTable.html" with source="TwitterTweetMentions" %}

<!-- FAVORITED BY -->
{% include "tool/tables/twitterUserTable.html" with source="TwitterTweetFavoritedBy" %}

<!-- HASHTAGS -->
{% include "tool/tables/twitterHashtagTable.html" with source="TwitterTweetHashtag" %}

{% endblock %}