{% extends "MainPage.html" %}
{% load staticfiles %}
{% load extratags %}

{% block extendHead %}
<link rel="stylesheet" type="text/css" href='{% static "css/table_style.css" %}?v={{ STATICFILES_VERSION }}' name="style">
<script type="text/javascript" src='{% static "js/table_script.js" %}?v={{ STATICFILES_VERSION }}'></script>
{% endblock %}

{% block content %}

<section class="overviewContainer" {% if twUser.profile_background_image_url %}
         style="background:url({{ twUser.profile_background_image_url }});background-size:100% 100%" {% endif %}>
    <div class="section_menu">
        <span class="section_title document_title">
            <b><a href="https://twitter.com/{{twUser.screen_name}}" class="TableToolLink"
                                  target="_blank">
                @{{ twUser.screen_name }}
            </a></b>
        </span>
    </div>
    <div class="section_overview_content">
        {% include "tool/misc.html" with tool="gridDisplay" item=twUser currentUser=user %}
    </div>
</section>


<!-- TWEETS -->
{% include "tool/tables/twitterTweetTable.html" with source="TwitterUserTweets" %}

<!-- MENTIONS -->
{% include "tool/tables/twitterTweetTable.html" with source="TwitterUserMentions" %}

<!-- FOLLOWERS -->
{% include "tool/tables/twitterUserTable.html" with source="TwitterUserFollowers" %}

<!-- FRIENDS -->
{% include "tool/tables/twitterUserTable.html" with source="TwitterUserFriends" %}

<!-- FAVORITE TWEETS -->
{% include "tool/tables/twitterTweetTable.html" with source="TwitterUserFavorites" %}

{% endblock %}