{% extends "MainPage.html" %}
{% load staticfiles %}

{% block Title %}SNH | Twitter{% endblock %}

{% block extendHead %}
    <link rel="stylesheet" type="text/css" href='{% static "css/table_style.css" %}' name="style">
    <script type="text/javascript" src='{% static "js/table_script.js" %}'></script>
{% endblock %}

{% block content %}
    <section class="overviewContainer yetToCome">
        <div class="section_menu">
            <span class="section_title">
                <b>Overview</b>
            </span>
        </div>
        <div class="section_overview_content">
            -- STATISTIQUES DIVERSES --
        </div>
    </section>
    <section class="tableContainer">
        <div class="section_menu">
            <span class="section_title">
                <b>Twitter Users</b>
            </span>
            <div class="section_options">
                <span>|</span>
                <span id="new_user" class="section_menuItem">New</span>
                <span>|</span>
                <span id="delete_user" class="section_menuItem">Delete</span>
                <span>|</span>
                <span id="add_to_group" class="section_menuItem">Add to group</span>
                <span>|</span>
                <span id="downloadAllUsers" class="section_menuItem">Download selection</span>
                <span>|</span>
                <span id="reloadTableLink" class="section_menuItem">Reload table</span>
            </div>
        </div>

        <div class="section_content">
            <table class="display" id="twUser_table" width="100%" drawn='False'>
                <thead>
                    <tr>
                        <th><input type="checkbox" class='table_select_master'></input></th>
                        <th>Name</th>
                        <th>Screen Name</th>
                        <th>Follower count</th>
                        <th>Friend count</th>
                        <th>Status count</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <script class="tableVars">
                    var fields = "name,screen_name,followers_count,friends_count,statuses_count,location";
                    var url = "/twitter/TWUserTable/{{user.id}}/";
                    var columnsDefs = [
                        {
                            "orderable": false,
                            "searchable": false,
                            "className": 'select-checkbox',
                            "targets":   0,
                            "render":function(){return ""}
                        },
                        {
                            "targets":   1,
                            "asSorting": [ "desc", "asc" ],
                            "render":function(data,type,row){
                                if (row['name'] == null){return '<i>undefined</i>'}
                                else {return row['name']};
                            }
                        },
                        {
                            "targets":   2,
                            "asSorting": [ "desc", "asc" ],
                            "render":function(data,type,row){
                                if (row['screen_name']==null){return '<i>undefined</i>'} else {
                                    return '<a href="/twitter/user/' + row['screen_name'] + '" class="TableToolLink snippetHover">' + row['screen_name'] + '</a>';
                                }
                            }
                        },
                        {
                            "targets":   3,
                            "searchable": false,
                            "asSorting": [ "desc", "asc" ],
                            "render":function(data,type,row){
                                if (row['followers_count'] == null){return '<i>undefined</i>'}
                                else {return row['followers_count']};
                            }
                        },
                        {
                            "targets":   4,
                            "searchable": false,
                            "asSorting": [ "desc", "asc" ],
                            "render":function(data,type,row){
                                if (row['friends_count'] == null){return '<i>undefined</i>'}
                                else {return row['friends_count']};
                            }
                        },
                        {
                            "targets":   5,
                            "searchable": false,
                            "asSorting": [ "desc", "asc" ],
                            "render":function(data,type,row){
                                if (row['statuses_count'] == null){return '<i>undefined</i>'}
                                else {return row['statuses_count']};
                            }
                        },
                        {
                            "targets":   6,
                            "asSorting": [ "desc", "asc" ],
                            "render":function(data,type,row){
                                if (row['location'] == ''){return '<i>undefined</i>'}
                                else {return row['location']};
                            }
                        },
                    ]
                </script>
            </table>
        </div>
    </section>
    
    <section class="tableContainer">
        <div class="section_menu">
            <span class="section_title">
                <b>Twitter Hashtags</b>
            </span>
            <div class="section_options">
                <span>|</span>
                <span id="new_user" class="section_menuItem">New</span>
                <span>|</span>
                <span id="delete_user" class="section_menuItem">Delete</span>
                <span>|</span>
                <span id="add_to_group" class="section_menuItem">Add to group</span>
                <span>|</span>
                <span id="downloadAllHashtags" class="section_menuItem">Download selection</span>
                <span>|</span>
                <span id="reloadTableLink" class="section_menuItem">Reload table</span>
            </div>
        </div>

        <div class="section_content">
            <table class="display" id="twHashtags_table" width="100%" drawn='False'>
                <thead>
                    <tr>
                        <th><input type="checkbox" class='table_select_master'></input></th>
                        <th>Term</th>
                        <th>Hit count</th>
                    </tr>
                </thead>
                <script class="tableVars">
                    var fields = "term,hit_count";
                    var url = "/twitter/TWHashtagTable/{{user.id}}/";
                    var columnsDefs = [ 
                        {
                            "orderable": false,
                            "className": 'select-checkbox',
                            "targets":   0,
                            "render":function(){return ""}
                        },
                        {
                            "targets":   1,
                            "asSorting": [ "desc", "asc" ],
                            "render":function(data,type,row){
                                return '<a href="/twitter/hashtag/'+row['term']+'" class="TableToolLink">'+row['term']+'</a>';
                            }
                        },
                        {
                            "targets":   2,
                            "asSorting": [ "desc", "asc" ],
                            "render":function(data,type,row){
                                return row['hit_count'];
                            }
                        },
                    ]
                </script>
            </table>
        </div>
    </section>
    
    
    <section class="tableContainer">
        <div class="section_menu">
            <span class="section_title">
                <b>Tweets</b>
            </span>
            <div class="section_options">
                <span>|</span>
                <span id="downloadAllTweets" class="section_menuItem">Download selection</span>
                <span>|</span>
                <span id="reloadTableLink" class="section_menuItem">Reload table</span>
            </div>
        </div>

        <div class="section_content">
            <table class="display" id="tweet_table" width="100%" drawn='False'>
                <thead>
                    <tr>
                        <th><input type="checkbox" class='table_select_master'></input></th>
                        <th>Date</th>
                        <th>Author</th>
                        <th>Text</th>
                        <th>Retweets</th>
                        <th></th>
                    </tr>
                </thead>
                <script class="tableVars">
                    var fields = "created_at,user,text,retweet_count,_ident";
                    var url="/twitter/TWTweetTable/";
                    var languageParams = {
                            "zeroRecords": "Select some rows in the tables above, then reload this table.",
                            "thousands":",",
                        };
                    var columnsDefs = [ 
                        {
                            "orderable": false,
                            "className": 'select-checkbox',
                            "targets":   0,
                            "render":function(){return ""}
                        },
                        {
                            "targets":   1,
                            "searchable": false,
                            "asSorting": [ "desc", "asc" ],
                            "render":function(data,type,row){
                                return row['created_at'];
                            }
                        },
                        {
                            "targets":   2,
                            "searchable": false,
                            "asSorting": [ "desc", "asc" ],
                            "render":function(data,type,row){
                                return '<a href="/twitter/user/'+row['user']+'" class="TableToolLink snippetHover">'+row['user']+'</a>';
                            }
                        },
                        {
                            "targets":   3,
                            "asSorting": [ "desc", "asc" ],
                            "render":function(data,type,row){
                                var url = row['text'].match(/https?:\/\/t\.co\/([A-Z]|[0-9])+/i);
                                if(url != null){url = url[0]}
                                return row['text'].replace(/https?:\/\/t\.co\/([A-Z]|[0-9])+/i, '<a class="TableToolLink" target="_blank" href="'+url+'">'+url+'</a>');
                            }
                        },
                        {
                            "targets":   4,
                            "asSorting": [ "desc", "asc" ],
                            "render":function(data,type,row){
                                return row['retweet_count'];
                            }
                        },
                        {
                            "targets":   5,
                            "searchable": false,
                            "orderable": false,
                            "render":function(data,type,row){
                                return '<a href="/twitter/tweet/'+row["_ident"]+'" class="TableToolLink">'+'more infos'+'</a>';
                            }
                        },
                    ];
                </script>
            </table>
        </div>
    </section>
{% endblock %}






























































