{% extends "MainPage.html" %}
{% load staticfiles %}
{% load extratags %}


{% block extendHead %}
<link rel="stylesheet" type="text/css" href='{% static "css/table_style.css" %}?v={{ STATICFILES_VERSION }}' name="style">
<script type="text/javascript" src='{% static "js/table_script.js" %}?v={{ STATICFILES_VERSION }}'></script>
<script>
    // Insures that second script is loaded only once the first script finished loading. Fails otherwise.
    $.getScript("/static/js/linkify/linkify.min.js", function () {
        $.getScript("/static/js/linkify/linkify-string.min.js", function(){
            $("#mainTweetText").html(formatTweetText($("#mainTweetText").html()));
        })
    })
</script>
{% endblock %}

{% block content %}
<section class="overviewContainer">
    <div class="section_menu">
        <span class="section_title" style="cursor:default">
            <b>Tweet: <a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.get_ident }}"
                         class="TableToolLink" target="_blank">
                @{{ tweet.user }}'s Tweet
            </a></b>
        </span>
    </div>
    <div class="section_overview_content">
        {% include "tool/misc.html" with tool="gridDisplay" item=tweet currentUser=user %}
    </div>
</section>

<!-- RETWEETS -->
{% include "tool/tables/twitterTweetTable.html" with source="TwitterTweetRetweets" %}

<!-- REPLIES -->
{% include "tool/tables/twitterTweetTable.html" with source="TwitterTweetRepliedBy" %}

<!-- USER MENTIONS -->
{% include "tool/tables/twitterUserTable.html" with source="TwitterTweetMentions" %}

<!-- FAVORITED BY -->
{% include "tool/tables/twitterUserTable.html" with source="TwitterTweetFavoritedBy" %}

<!-- HASHTAGS -->
{% include "tool/tables/twitterHashtagTable.html" with source="TwitterTweetHashtag" %}

{% endblock %}