{% extends "MainPage.html" %}
{% load staticfiles %}

{% block Title %}SNH | Twitter{% endblock %}

{% block extendHead %}
    <link rel="stylesheet" type="text/css" href='{% static "css/table_style.css" %}' name="style">
    <script type="text/javascript" src='{% static "js/table_script.js" %}'></script>
{% endblock %}

{% block content %}
    <section class="overviewContainer">
        <div class="section_menu">
            <span class="section_title">
                <b>Overview</b>
            </span>
        </div>
        <div class="section_overview_content">
            -- STATISTIQUES DIVERSES --
        </div>
    </section>
    <section class="tableContainer">
        <div class="section_menu">
            <span class="section_title">
                <b>Twitter Users</b>
            </span>
            <div class="section_options">
                <span class="section_menuItem">
                    |
                </span>
                <span id="new_user" class="section_menuItem">
                    New
                </span>
                <span class="section_menuItem">
                    |
                </span>
                <span id="delete_user" class="section_menuItem">
                    Delete
                </span>
                <span class="section_menuItem">
                    |
                </span>
                <span id="add_to_group" class="section_menuItem">
                    Add to group
                </span>
                <span class="section_menuItem">
                    |
                </span>
                <span id="downloadAllUsers" class="section_menuItem">
                    Download selection
                </span>
            </div>
        </div>

        <div class="section_content" scriptargs=>
            <table class="display" id="twUser_table" width="100%" drawn='False'>
                <thead>
                    <tr>
                        <th><input type="checkbox" class='table_select_master'></input></th>
                        <th>Name</th>
                        <th>Screen Name</th>
                        <th>Follower count</th>
                        <th>Friend count</th>
                        <th>Status count</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <script class="tableVars">
                    source = "/twitter/TWUserTable/1/"
                    columnsDefs = [ 
                        {
                            "orderable": false,
                            "className": 'select-checkbox',
                            "targets":   0
                        },
                        {
                            "targets":   1,
                            "render":function(data,type,row){
                                return '<a href="/twitter/user/'+row[2]+'" class="TableToolLink">'+row[1]+'</a>';
                            }
                        },
                        {
                            "targets":   2,
                            "render":function(data,type,row){
                                return '<a href="/twitter/user/'+row[2]+'" class="TableToolLink">'+row[2]+'</a>';
                            }
                        },
                        {
                            "targets":   3,
                            "render":function(data,type,row){
                                if (row[3] == 'None'){return '0'}
                                else {return row[3]};
                            }
                        },
                        {
                            "targets":   4,
                            "render":function(data,type,row){
                                if (row[4] == 'None'){return '0'}
                                else {return row[4]};;
                            }
                        },
                        {
                            "targets":   5,
                            "render":function(data,type,row){
                                if (row[5] == 'None'){return '0'}
                                else {return row[5]};;
                            }
                        },
                    ]
                </script>
            </table>
        </div>
    </section>
    
    <section class="tableContainer">
        <div class="section_menu">
            <span class="section_title">
                <b>Twitter Hashtags</b>
            </span>
            <div class="section_options">
                <span class="section_menuItem">
                    |
                </span>
                <span id="new_user" class="section_menuItem">
                    New
                </span>
                <span class="section_menuItem">
                    |
                </span>
                <span id="delete_user" class="section_menuItem">
                    Delete
                </span>
                <span class="section_menuItem">
                    |
                </span>
                <span id="add_to_group" class="section_menuItem">
                    Add to group
                </span>
                <span class="section_menuItem">
                    |
                </span>
                <span id="downloadAllHashtags" class="section_menuItem">
                    Download selection
                </span>
            </div>
        </div>

        <div class="section_content">
            <table class="display" id="twHashtags_table" width="100%" drawn='False'>
                <thead>
                    <tr>
                        <th><input type="checkbox" class='table_select_master'></input></th>
                        <th>Term</th>
                        <th>Hit count</th>
                    </tr>
                </thead>
                <script class="tableVars">
                    var source = "/twitter/TWHashtagTable/1/";
                    var columnsDefs = [ 
                        {
                            "orderable": false,
                            "className": 'select-checkbox',
                            "targets":   0
                        },
                        {
                            "targets":   1,
                            "render":function(data,type,row){
                                return '<a href="/twitter/hashtag/'+row[1]+'" class="TableToolLink">'+row[1]+'</a>';
                            }
                        },
                    ]
                </script>
            </table>
        </div>
    </section>
    
    
    <section class="tableContainer">
        <div class="section_menu">
            <span class="section_title">
                <b>Tweets</b>
            </span>
            <div class="section_options">
                <span class="section_menuItem">
                    |
                </span>
                <span id="downloadAllTweets" class="section_menuItem">
                    Download selection
                </span>
            </div>
        </div>

        <div class="section_content">
            <table class="display" id="tweet_table" width="100%" drawn='False'>
                <thead>
                    <tr>
                        <th><input type="checkbox" class='table_select_master'></input></th>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Author</th>
                        <th>Text</th>
                        <th>Retweets</th>
                    </tr>
                </thead>
                <script class="tableVars">
                    var source = "/twitter/TWTweetTable/1/";
                    var columnsDefs = [ 
                        {
                            "orderable": false,
                            "className": 'select-checkbox',
                            "targets":   0
                        },
                        {
                            "targets":   1,
                            "render":function(data,type,row){
                                return '<a href="/twitter/tweet/'+row[1]+'" class="TableToolLink">'+row[1]+'</a>';
                            }
                        },
                        {
                            "targets":   3,
                            "render":function(data,type,row){
                                return '<a href="/twitter/user/'+row[3]+'" class="TableToolLink">'+row[3]+'</a>';
                            }
                        },
                    ]
                </script>
            </table>
        </div>
    </section>
{% endblock %}






























































