<!doctype html>
{% load staticfiles %}
{% load extratags %}

<head>
    <meta name="robots" content="NONE,NOARCHIVE"/>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    {% with rnd="123"|make_list|random %}
        {% if rnd == "1" %}
            <link rel="icon" type="image/png" href='{% static "medias/favicon_green.png" %}'/>
        {% elif rnd == "2" %}
            <link rel="icon" type="image/png" href='{% static "medias/favicon_yellow.png" %}'/>
        {% else %}
            <link rel="icon" type="image/png" href='{% static "medias/favicon_purple.png" %}'/>
        {% endif %}
    {% endwith %}
    <link rel="stylesheet" href='{% static "css/jquery-ui-1.11.4.custom/jquery-ui.css" %}'/>
    <link rel="stylesheet" href='{% static "css/design.css" %}' name="style">
    <script src='{% static "js/jquery-2.1.4.js" %}'></script>
    <script src='{% static "js/script.js" %}'></script>
    {% block Title %}<title>SNH | {{ navigator|last|first|truncatechars:40 }}</title>{% endblock %}

    <script>
        {%if DISPLAY_YET_TO_COMES %}
            var DEBUG = true;
        {% else %}
            var DEBUG = false;
        {% endif %}
    </script>
    {% block extendHead %}{% endblock %}
</head>

<body>
    <!-- HEAD BANNER -->
    <div id="head_banner" style="z-index:2">
        <div id="menu_select">
            {% include "tool/icons.html" with x=0 y=3 %}
        </div>
         <a href="/">
             <div id="SNH_Title">Social Network Harvester</div>
        </a>
        <a href="#">
            {% if not user.is_authenticated %}
            <div id="login_button">
                Connexion
            </div>
            {% else %}
            <div id="login_button">
                Bienvenue {{ user }}
            </div>
            {% endif %}
        </a>
        <div id="login_section">
            {% if not user.is_authenticated %}
            <form class="loginForm" {% if 'next' in request.GET %}action="/login?next={{ request.GET.next }}"{% else %}action="/login"{% endif %}method="post">{% csrf_token %}
                <table>
                    <tr>
                        <td>Nom d'utilisateur: </td>
                        <td><input class='prettyInput' type="text" name="username" placeholder="nom d'utilisateur"></td>
                    </tr>
                    <tr>
                        <td>Mot de passe: </td>
                        <td><input class='prettyInput' type="password" name="password"></td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td colspan=2 ><input type="submit" value="login" style="width:80px;"></td></tr>
                </table>
            </form>
            {% else %}
                <a href="/logout" class="perm_item">Déconnexion</a>
            {% endif %}
        </div>
        {% if user.is_authenticated %}

        <div id="notification_marker">
            <a onclick="displayCenterPopup('notificationPopup')">
                {% include "tool/icons.html" with x=3 y=4 %}
            </a>
            <!-- NOTIFICATION POPUP -->
            <div class="popup" id="notificationPopup">
                <div id="title">Notifications</div>
                <div id="help">
                    Notifications de votre accompte et de vos activitées
                </div>
                <div id="content">
                    <div style="height:150px;width:300px;text-align: center">
                        Aucune nouvelles notifications
                    </div>
                </div>
            </div>
        </div>
        <div id="notification_marker">
            <a href="/user/settings">
                {% include "tool/icons.html" with x=2 y=4 %}
            </a>
        </div>
        {% endif %}
    </div>

    <!--SIDE MENU-->
    <div id="side_menu">
        <a href="/twitter">
            <div class="left_menu_item" id="Twitter">
                {% include "tool/icons.html" with x=0 y=0 className="left_menu_item_icon" %}
                <span>Twitter</span>
            </div>
        </a>
        <div class="yetToCome">
            <a href="/facebook">
                <div class="left_menu_item" id="Facebook">
                    {% include "tool/icons.html" with x=1 y=0 className="left_menu_item_icon" %}
                    <span>Facebook</span>
                </div>
            </a>
        </div>
        <div class="">
            <a href="/youtube">
                <div class="left_menu_item" id="Youtube">
                    {% include "tool/icons.html" with x=2 y=0 className="left_menu_item_icon" %}
                    <span>YouTube</span>
                </div>
            </a>
        </div>
        <div class="yetToCome">
            <a href="/dailymotion">
                <div class="left_menu_item" id="DM">
                    {% include "tool/icons.html" with x=4 y=0 className="left_menu_item_icon" %}
                    <span>DailyMotion</span>
                </div>
            </a>
        </div>
        <div class="yetToCome">
            <a href="/instagram">
                <div class="left_menu_item" id="Instagram">
                    {% include "tool/icons.html" with x=5 y=0 className="left_menu_item_icon" %}
                    <span>Instagram</span>
                </div>
            </a>
        </div>
        <div class="yetToCome">
            <a href="/reddit">
                <div class="left_menu_item" id="Reddit">
                    {% include "tool/icons.html" with x=3 y=0 className="left_menu_item_icon" %}
                    <span>Reddit</span>
                </div>
            </a>
        </div>
        <hr class="menu_hr">
        <a href="#">
            <div class="left_menu_item" id="analysis_box">
                {% include "tool/icons.html" with x=5 y=1 className="left_menu_item_icon" %}
                <span>Outils analytiques</span>
            </div>
        </a>

        <!-- ANALYSIS TOOLS -->
        <div id="SubLeftMenu">
            <div class="">
                <a href="/tool/linechart?chart_type=activite_en_ligne">
                    <div class="sub_left_menu_item" id="LineChartMenu">
                        {% include "tool/icons.html" with x=0 y=1 className="left_menu_item_icon" %}
                        <span>Temporel</span>
                    </div>
                </a>
            </div>
            <div class="">
                <a href="/tool/piechart">
                    <div class="sub_left_menu_item" id="PieChartMenu">
                        {% include "tool/icons.html" with x=5 y=2 className="left_menu_item_icon" %}
                        <span>Proportion</span>
                    </div>
                </a>
            </div>
            <div class="yetToCome">
                <a href="/tool/geographic">
                    <div class="sub_left_menu_item" id="GeoChartMenu">
                        {% include "tool/icons.html" with x=1 y=1 className="left_menu_item_icon" %}
                        <span>Géographique</span>
                    </div>
                </a>
            </div>
            <div class="yetToCome">
                <a href="/tool/bubblechart">
                    <div class="sub_left_menu_item" id="BubbleChartMenu">
                        {% include "tool/icons.html" with x=3 y=1 className="left_menu_item_icon" %}
                        <span>Multi-Axe</span>
                    </div>
                </a>
            </div>
            <div class="yetToCome">
                <a href="/tool/distributionchart">
                    <div class="sub_left_menu_item" id="BellCurveMenu">
                        {% include "tool/icons.html" with x=4 y=1 className="left_menu_item_icon" %}
                        <span>Distribution</span>
                    </div>
                </a>
            </div>
            <div class="yetToCome">
                <a href="/tool/sentimentAnalysis">
                    <div class="sub_left_menu_item" id="sentimentTool">
                        {% include "tool/icons.html" with x=0 y=2 className="left_menu_item_icon" %}
                        <span>Sentiment</span>
                    </div>
                </a>
            </div>
            </div>
        <!--hr class="menu_hr">
        <div class="yetToCome">
            <div id="groupMenu"><b>Groups</b><a id="addGroupLink"><b>+</b></a></div>
        </div>
        <!--
        <a href="/group/groupId">
            <div class="left_menu_item" id="DM">
                <img class="left_menu_item_icon"src='{% static "medias/defaultGroupIcon.png" %}'></img>
                <span>Fédérales 2015</span>
            </div>
        </a>
        <a href="/group/groupId">
            <div class="left_menu_item" id="DM">
                <img class="left_menu_item_icon"src='{% static "medias/defaultGroupIcon.png" %}'></img>
                <span>France 2013</span>
            </div>
        </a>-->
        <hr class="menu_hr">
        <div id="">
            {% if user.is_authenticated %}
            <a href="/user/settings">
                <div class="left_menu_item">
                    {% include "tool/icons.html" with x=2 y=4 className="left_menu_item_icon" %}
                    <span>Paramètres</span>
                </div>
            </a>
            {% endif %}
            <a href="https://github.com/unclesaam/Social-Network-Harvester-v1.0" target="_blank">
                <div class="left_menu_item">
                    {% include "tool/icons.html" with x=3 y=2 className="left_menu_item_icon" %}
                    <span>Github</span>
                </div>
            </a>
            <a href="mailto:samuel.cloutier.5@ulaval.ca" target="_blank">
                <div class="left_menu_item">
                    {% include "tool/icons.html" with x=2 y=2 className="left_menu_item_icon" %}
                    <span>Contacter</span>
                </div>
            </a>
            {% if user.is_staff %}
            <a href="/admin">
                <div class="left_menu_item">
                    {% include "tool/icons.html" with x=1 y=2 className="left_menu_item_icon" %}
                    <span>Administration</span>
                </div>
            </a>
            {%if user.is_staff %}
            <!--li><a class="perm_item" href="/facebook/apilogin/">Facebook login</a></li-->
            {% endif %}
            {% endif %}
        </div>
        <hr class="menu_hr">
        <div id="GRCP_banner">
            <a class="perm_item" href="https://www.grcp.ulaval.ca/">
                <img src="{%static 'medias/GRCP_Banner.jpg'%}" style="width:100%;">
            </a>
        </div>
    </div>

    <!-- MAIN CONTAINER> -->
    <div id="content_container">
        <div id="inner_container">
            <div id="messages_container_container">
                <center>
                    {% for message in aspiraMessages %}
                    <div class="message_container autoClose">
                        <span class="message_content">{{ message }}</span>
                        <span class="message_closer">X</span>
                    </div>
                    {% endfor %}
                    {% if aspiraErrors|length > 5%}
                    <div class="error_container autoClose">
                        <span class="message_content">
                            Trop de message d'erreurs! Clickez
                            <a onclick="displayCenterPopup('multipleErrorsPopup')"
                               style="text-decoration: underline; color:red; cursor:pointer">
                                ici
                            </a> pour les voir tous
                        </span>
                        <span class="message_closer">X</span>
                    </div>
                    <!-- MULTIPLE ERROR POPUP -->
                    <div class="popup" id="multipleErrorsPopup">
                        <div id="title">Multiple errors!</div>
                        <div id="help">
                            Plusieurs erreurs se sont produites durant le traitement de votre requête.
                        </div>
                        <div id="content">
                            {% for error in aspiraErrors %}
                            <div class="error_container">
                                <div class="message_content">{{ error }}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    {% for error in aspiraErrors %}
                    <div class="error_container autoClose">
                        <span class="message_content">{{ error }}</span>
                        <span class="message_closer">X</span>
                    </div>
                    {% endfor %}
                    {% endif %}
                </center>
            </div>
            <div id="navigator">
                <span class="navigator_item"><a href="/">SNH</a></span>
                {% for link, url in navigator|slice:"-1" %}
                <span><img class="closing_bracket_icon" src="{% static 'medias/closing_bracket_icon_128.png' %}"></span>
                <span class="navigator_item"><a href="{{ url }}">{{ link|truncatechars:40 }}</a></span>
                {% endfor %}
                {% if navigator %}
                {% for link, url in navigator|slice:"-1:" %}
                <span><img class="closing_bracket_icon" src="{% static 'medias/closing_bracket_icon_128.png' %}"></span>
                <span style="cursor:default;padding:4px;"><b>{{ link|truncatechars:40 }}</b></span>
                {% endfor %}
                {% endif %}
            </div>
            {% block content %}{% endblock %}
        </div>
        <div style="height:100px;" id="bottom_spacer"></div>
    </div>
    {% include "tool/popupContainer.html" %}


</body>




























