<!doctype html>
{% load staticfiles %}
{% load extratags %}

<head>
    <meta name="robots" content="NONE,NOARCHIVE"/>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    {% with rnd="123"|make_list|random %}{% if rnd == "1" %}
    <link rel="icon" type="image/png" href='{% static "medias/favicon_green.png" %}'/>
    {% elif rnd == "2" %}
    <link rel="icon" type="image/png" href='{% static "medias/favicon_yellow.png" %}'/>
    {% else %}
    <link rel="icon" type="image/png" href='{% static "medias/favicon_purple.png" %}'/>
    {% endif %}{% endwith %}
    <link rel="stylesheet" href='{% static "css/jquery-ui-1.11.4.custom/jquery-ui.css" %}'/>
    <link rel="stylesheet" href='{% static "css/design.css" %}?v={{ STATICFILES_VERSION }}' name="style">
    <script src='{% static "js/jquery-2.1.4.js" %}'></script>
    <script src='{% static "js/script.js" %}?v={{ STATICFILES_VERSION }}'></script>
    {% block Title %}<title>SNH | {{ navigator|last|first|truncatechars:40 }}</title>{% endblock %}
    {%if DISPLAY_YET_TO_COMES %}
    <script>var DEBUG = true;</script>
    {% else %}
    <script>var DEBUG = false;</script>
    {% endif %}
    {% block extendHead %}{% endblock %}
</head>

<body>
    <!-- HEAD BANNER -->
    <div id="head_banner" style="z-index:2">
        <div id="menu_select">
            {% include "tool/icons.html" with x=0 y=3 %}
        </div>
         <a href="/">
             <div id="SNH_Title">Social Network Harvester</div>
        </a>
        <a href="#">
            {% if not user.is_authenticated %}
            <div id="login_button">
                Connexion
            </div>
            {% else %}
            <div id="login_button">
                Bienvenue {{ user }}
            </div>
            {% endif %}
        </a>
        <div id="login_section">
            {% if not user.is_authenticated %}
            <form class="loginForm" {% if 'next' in request.GET %}action="/login?next={{ request.GET.next }}"{% else %}action="/login"{% endif %}method="post">{% csrf_token %}
                <table>
                    <tr>
                        <td>Nom d'utilisateur: </td>
                        <td><input class='prettyInput' type="text" name="username" placeholder="nom d'utilisateur"></td>
                    </tr>
                    <tr>
                        <td>Mot de passe: </td>
                        <td><input class='prettyInput' type="password" name="password"></td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td colspan=2 ><input type="submit" value="login" style="width:80px;"></td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td colspan=2>
                            <center><a class="TableToolLink" onclick=displayCenterPopup("passwordResetPopup")
                            style="font-size:10px;">
                            Identifiant/mot de passe perdu?
                        </a></center></td>
                    </tr>
                </table>
            </form>
            <div class="popup" id="passwordResetPopup">
                <div id="title">Réinitialisation du mot de passe</div>
                <div id="help">
                    Utilisez ce formulaire pour réinitialiser votre mot de passe.
                </div>
                <div id="content">
                    <table>
                        <tr>
                            <td>Entrez votre adresse email: </td>
                            <td><input class="prettyInput" name="email" type="email"
                                       placeholder="email" id="emailInput"
                                        onkeyup=emailKeyUp(event)></td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <td colspan=2>
                                <center><input type="submit" value="Soummetre"
                                               onclick=submitPasswordResetForm()
                                               id="emailSubmitButton" disabled></center>
                            </td>
                        </tr>
                    </table>
                </div>
                <script id="functions">
                    function emailKeyUp(event){
                        if (checkEmailValid() && event.keyCode == 13){
                            submitPasswordResetForm();
                        }
                    }
                    function checkEmailValid(){
                        var emailInput = $('#centerPopupContent').find('#emailInput');
                        var emailSubmitButton = $('#centerPopupContent').find('#emailSubmitButton');
                        if (emailInput.prop('value') != 'undefined' &&
                                emailInput.prop('value') != '' &&
                                emailInput[0].validity.valid){
                            emailSubmitButton.prop('disabled', false);
                            return true;
                        } else {
                            emailSubmitButton.prop('disabled', true);
                            return false
                        }
                    }
                    function submitPasswordResetForm(){
                        if (checkEmailValid()){
                            var emailInput = $('#centerPopupContent').find('#emailInput');
                            $('#centerPopupContent').find('#emailSubmitButton').prop('disabled', true);
                            $.post('/user/forms/resetPW', {
                                        'email': emailInput.prop('value'),
                                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                                    },
                                    function (response) {
                                        if (response['status'] == 'ok') {
                                            displayNewMessages(
                                                    ['Un courriel vous a été envoyé à ' + emailInput.prop('value') +
                                                    '. Veuillez suivre les instructions qui s\'y trouvent.'
                                                    ], 0);
                                        } else {
                                            displayNewErrors(response['errors'], 4000)
                                        }
                                        closeCenterPopup();
                                    }
                            );
                        }
                    }
                </script>
            </div>
            {% else %}
                <a href="/logout" class="perm_item">Déconnexion</a>
            {% endif %}
        </div>
        {% if user.is_authenticated %}

        <div id="header_icon">
            <a onclick="displayCenterPopup('notificationPopup')">
                {% include "tool/icons.html" with x=3 y=4 %}
            </a>
            <!-- NOTIFICATION POPUP -->
            <div class="popup" id="notificationPopup">
                <div id="title">Notifications</div>
                <div id="help">
                    Notifications de votre compte et de vos activitées
                </div>
                <div id="content">
                    <div style="height:150px;width:300px;text-align: center">
                        Aucune nouvelles notifications
                    </div>
                </div>
            </div>
        </div>
        <div id="header_icon">
            <a href="/user/settings">
                {% include "tool/icons.html" with x=2 y=4 %}
            </a>
        </div>
        <div id="searchBar">
            <input id="searchInput" class="prettyInput collapsed" type="text" placeholder="Rechercher" value="">
            <div id="header_icon">
                {% include "tool/icons.html" with x=6 y=0 style="float:right;" id="searchIcon" %}
            </div>
        </div>
        {% endif %}
    </div>

    <!--SIDE MENU-->
    <div id="side_menu">
            <!-- TWITTER -->
            <a href="/twitter">
                <div class="left_menu_item" id="Twitter">
                    {% include "tool/icons.html" with x=0 y=0 className="left_menu_item_icon" %}
                    <span>Twitter</span>
                </div>
            </a>
            <!-- FACEBOOK -->
            <div class="">
                <a href="/facebook">
                    <div class="left_menu_item" id="Facebook">
                        {% include "tool/icons.html" with x=1 y=0 className="left_menu_item_icon" %}
                        <span>Facebook</span>
                    </div>
                </a>
            </div>
            <!-- YOUTUBE -->
            <div class="">
                <a href="/youtube">
                    <div class="left_menu_item" id="Youtube">
                        {% include "tool/icons.html" with x=2 y=0 className="left_menu_item_icon" %}
                        <span>YouTube</span>
                    </div>
                </a>
            </div>
            <!-- DAILYMOTION -->
            <div class="yetToCome">
                <a href="/dailymotion">
                    <div class="left_menu_item" id="DM">
                        {% include "tool/icons.html" with x=4 y=0 className="left_menu_item_icon" %}
                        <span>DailyMotion</span>
                    </div>
                </a>
            </div>
            <!-- INSTAGRAM -->
            <div class="yetToCome">
                <a href="/instagram">
                    <div class="left_menu_item" id="Instagram">
                        {% include "tool/icons.html" with x=5 y=0 className="left_menu_item_icon" %}
                        <span>Instagram</span>
                    </div>
                </a>
            </div>
            <!-- REDDIT -->
            <div class="yetToCome">
                <a href="/reddit">
                    <div class="left_menu_item" id="Reddit">
                        {% include "tool/icons.html" with x=3 y=0 className="left_menu_item_icon" %}
                        <span>Reddit</span>
                    </div>
                </a>
            </div>
            <hr class="menu_hr">
            <a href="#">
                <div class="left_menu_item" id="analysis_box">
                    {% include "tool/icons.html" with x=5 y=1 className="left_menu_item_icon" %}
                    <span>Outils analytiques</span>
                </div>
            </a>

            <!-- ANALYSIS TOOLS -->
            <div id="SubLeftMenu">
                <!-- LINECHART -->
                <div class="">
                    <a href="/tool/linechart?chart_type=activite_en_ligne">
                        <div class="sub_left_menu_item" id="LineChartMenu">
                            {% include "tool/icons.html" with x=0 y=1 className="left_menu_item_icon" %}
                            <span>Temporel</span>
                        </div>
                    </a>
                </div>
                <!-- PIECHART -->
                <div class="">
                    <a href="/tool/piechart">
                        <div class="sub_left_menu_item" id="PieChartMenu">
                            {% include "tool/icons.html" with x=5 y=2 className="left_menu_item_icon" %}
                            <span>Proportion</span>
                        </div>
                    </a>
                </div>
                <!-- GEOCHART -->
                <div class="yetToCome">
                    <a href="/tool/geographic">
                        <div class="sub_left_menu_item" id="GeoChartMenu">
                            {% include "tool/icons.html" with x=1 y=1 className="left_menu_item_icon" %}
                            <span>Géographique</span>
                        </div>
                    </a>
                </div>
                <!-- BUBBLECHART -->
                <div class="yetToCome">
                    <a href="/tool/bubblechart">
                        <div class="sub_left_menu_item" id="BubbleChartMenu">
                            {% include "tool/icons.html" with x=3 y=1 className="left_menu_item_icon" %}
                            <span>Multi-Axe</span>
                        </div>
                    </a>
                </div>
                <!-- DISTRIBUTION -->
                <div class="yetToCome">
                    <a href="/tool/distributionchart">
                        <div class="sub_left_menu_item" id="BellCurveMenu">
                            {% include "tool/icons.html" with x=4 y=1 className="left_menu_item_icon" %}
                            <span>Distribution</span>
                        </div>
                    </a>
                </div>
                <!-- SENTIMENT ANALYSIS -->
                <div class="yetToCome">
                    <a href="/tool/sentimentAnalysis">
                        <div class="sub_left_menu_item" id="sentimentTool">
                            {% include "tool/icons.html" with x=0 y=2 className="left_menu_item_icon" %}
                            <span>Sentiment</span>
                        </div>
                    </a>
                </div>
            </div>
            <!--hr class="menu_hr">
            <div class="yetToCome">
                <div id="groupMenu"><b>Groups</b><a id="addGroupLink"><b>+</b></a></div>
            </div>
            <!--
            <a href="/group/groupId">
                <div class="left_menu_item" id="DM">
                    <img class="left_menu_item_icon"src='{% static "medias/defaultGroupIcon.png" %}'></img>
                    <span>Fédérales 2015</span>
                </div>
            </a>
            <a href="/group/groupId">
                <div class="left_menu_item" id="DM">
                    <img class="left_menu_item_icon"src='{% static "medias/defaultGroupIcon.png" %}'></img>
                    <span>France 2013</span>
                </div>
            </a>-->
            <hr class="menu_hr">
            <div id="">
                {% if user.is_authenticated %}
                <a href="/user/settings">
                    <div class="left_menu_item">
                        {% include "tool/icons.html" with x=2 y=4 className="left_menu_item_icon" %}
                        <span>Paramètres</span>
                    </div>
                </a>
                {% endif %}
                <a href="https://github.com/unclesaam/Social-Network-Harvester-v1.0" target="_blank">
                    <div class="left_menu_item">
                        {% include "tool/icons.html" with x=3 y=2 className="left_menu_item_icon" %}
                        <span>Github</span>
                    </div>
                </a>
                <a href="mailto:samuel.cloutier.5@ulaval.ca" target="_blank">
                    <div class="left_menu_item">
                        {% include "tool/icons.html" with x=2 y=2 className="left_menu_item_icon" %}
                        <span>Contacter</span>
                    </div>
                </a>
                {% if user.is_staff %}
                <a href="/admin">
                    <div class="left_menu_item">
                        {% include "tool/icons.html" with x=1 y=2 className="left_menu_item_icon" %}
                        <span>Administration</span>
                    </div>
                </a>
                {%if user.is_staff %}
                <!--li><a class="perm_item" href="/facebook/apilogin/">Facebook login</a></li-->
                {% endif %}
                {% endif %}
            </div>
            <hr class="menu_hr">
            <div id="GRCP_banner">
                <a class="perm_item" href="https://www.grcp.ulaval.ca/">
                    <img src="{%static 'medias/GRCP_Banner.jpg'%}" style="width:100%;">
                </a>
            </div>
        </div>


    <!-- MAIN CONTAINER> -->
    <div id="content_container">
        <div id="inner_container">
            <div id="messages_container_container">
                <center>
                    {% for message in aspiraMessages %}
                    <br>
                    <div class="message_container autoClose">
                        <span class="message_content">{{ message }}</span>
                        <span class="message_closer">X</span>
                    </div>
                    {% endfor %}
                    {% if aspiraErrors|length > 5%}
                    <br>
                    <div class="error_container autoClose">
                        <span class="message_content">
                            Trop de message d'erreurs! Clickez
                            <a onclick="displayCenterPopup('multipleErrorsPopup')"
                               style="text-decoration: underline; color:red; cursor:pointer">
                                ici
                            </a> pour les voir tous
                        </span>
                        <span class="message_closer">X</span>
                    </div>
                    {% else %}
                    {% for error in aspiraErrors %}
                    <br>
                    <div class="error_container autoClose">
                        <span class="message_content">{{ error }}</span>
                        <span class="message_closer">X</span>
                    </div>
                    {% endfor %}
                    {% endif %}
                </center>
            </div>
            <div id="navigator">
                <span class="navigator_item"><a href="/">Accueil</a></span>
                {% for link, url in navigator|slice:"-1" %}
                <span>
                        {% include "tool/icons.html" with x=4 y=3 className="closing_bracket_icon" %}
                </span>
                <span class="navigator_item"><a href="{{ url }}">{{ link|truncatechars:40 }}</a></span>
                {% endfor %}
                {% if navigator %}
                {% for link, url in navigator|slice:"-1:" %}
                <span>
                    {% include "tool/icons.html" with x=4 y=3 className="closing_bracket_icon" %}
                </span>
                <span style="cursor:default;padding:4px;"><b>{{ link|truncatechars:40 }}</b></span>
                {% endfor %}
                {% endif %}
            </div>
            {% block content %}{% endblock %}
        </div>
        <div style="height:100px;" id="bottom_spacer"></div>
    </div>
    {% include "tool/popupContainer.html" %}


</body>




























