<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SNH | Browser list</title>
</head>
<body>
Liste des navigateurs supportés par Aspira:
<ul>
    <li><a href="https://www.google.com/chrome/">Google Chrome</a></li>
    <li><a href="https://www.mozilla.org/en-US/firefox/">Mozilla Firefox</a></li>
    <li><a href="https://www.microsoft.com/en-us/download/internet-explorer.aspx">Internet explorer</a></li>
    <li><a href="https://www.microsoft.com/en-us/windows/microsoft-edge">Microsoft Edge</a></li>
    <li><a href="https://www.opera.com/">Opera</a></li>
</ul>
</body>
</html>