{% extends "MainPage.html" %}
{% load staticfiles %}

{% block Title %}SNH | Dashboard{% endblock %}
{% block extendHead %}
<link rel="stylesheet" href='{% static "css/acceuilUser.css" %}' name="style">
<script type="text/javascript" src='{% static "js/acceuilUser.js" %}'></script>
<style>
    .twitterUserLimitBar {
        background: linear-gradient(to right,
                        limegreen 0%,
                        {% if twitterUserPercent < 60 %}
                            lightgreen {{ twitterUserPercent }}%
                        {% elif twitterUserPercent < 95 %}
                            yellow {{ twitterUserPercent }}%
                        {% elif twitterUserPercent <= 100%}
                            red {{ twitterUserPercent }}%
                        {% else %}
                            red 100%
                        {% endif %},
                        rgba(255,0,0,0) 0%,
                        rgba(255,0,0,0) 100%
                    );
    }
    .twitterHashtagLimitBar {
        background: linear-gradient(to right,
                        limegreen 0%,
                        {% if twitterHashtagPercent < 60 %}
                            lightgreen {{ twitterHashtagPercent }}%
                        {% elif twitterHashtagPercent < 95 %}
                            yellow {{ twitterHashtagPercent }}%
                        {% elif twitterHashtagPercent <= 100%}
                            red {{ twitterHashtagPercent }}%
                        {% else %}
                            red 100%
                        {% endif %},
                        rgba(255,0,0,0) 0%,
                        rgba(255,0,0,0) 100%
                    );
    }
</style>
{% endblock %}
{% block content %}
    <div id="zone_title">
        <div id="title_text">Dashboard</div>
        <div id="editor">
            <a href="#">Edit</a>
        </div>
    </div>
    <div class="content">
        <div class="section_box">
            <a href="/twitter">
                <div class="section_title">
                    <img class="section_title_icon" src='{% static "medias/twitter_icon.png" %}'>
                    <span>Twitter</span>
                </div>
            </a>
            <div class="">
                <div class="section_box_info twitterUserLimitBar">Users:
                    <span class="dataValue">{{ twitterUserUsage }}/{{ twitterUserLimit }}</span>
                </div>
                <div class="section_box_info twitterHashtagLimitBar">Hashtags:
                    <span class="dataValue">{{ twitterHashtagUsage }}/{{ twitterHashtagLimit }}</span>
                </div>
                <div class="section_box_info">Collected Tweets:
                    <span class="dataValue">{{ collectedTweets }}</span>
                </div>
                <div class="section_box_info">Most active user:
                    <span class="dataValue"><a href="/twitter/user/{{ mostActiveTwitterUser.screen_name }}">{{ mostActiveTwitterUser }}</a></span>
                </div>
                <div class="section_box_info">Most active hashtag:
                    <span class="dataValue"><a href="#">{{ mostActiveHashtag }}</a></span>
                </div>
            </div>

        </div>
        <div class="section_box yetToCome">
            <a href="/facebook">
                <div class="section_title">
                    <img class="section_title_icon" src='{% static "medias/facebook_icon_512.png" %}'>
                    <span>Facebook</span>
                </div>
            </a>
        </div>
        <div class="section_box yetToCome">
            <a href="/youtube">
                <div class="section_title">
                    <img class="section_title_icon" src='{% static "medias/youtube_icon_512.png" %}'>
                    <span>Youtube</span>
                </div>
            </a>
        </div>
        <div class="section_box yetToCome">
            <a href="/dailymotion">
                <div class="section_title">
                        <img class="section_title_icon" src='{% static "medias/DM_icon.png" %}'>
                        <span>DailyMotion</span>
                </div>
            </a>
        </div>
    </div>
{% endblock %}