{% extends "MainPage.html" %}
{% load staticfiles %}

{% block Title %}SNH | Tableau de bord{% endblock %}
{% block extendHead %}
<link rel="stylesheet" href='{% static "css/acceuilUser.css" %}' name="style">
<script type="text/javascript" src='{% static "js/acceuilUser.js" %}'></script>
{% include "AspiraUser/dashboard_style.html" %}


{% endblock %}
{% block content %}
    <div id="zone_title">
        <div id="title_text">Tableau de bord</div>
        <div id="editor">
            <a style="cursor: pointer" onclick="displayCenterPopup('dashboardModifierPopup')">Modifier</a>
            <!-- NOTIFICATION POPUP -->
            <div class="popup" id="dashboardModifierPopup">
                <div id="title">Modifier le tableau de bord</div>
                <div id="help">
                    Personalisation de votre tableaau de bord
                </div>
                <div id="content">
                    <div style="height:150px;width:150px">
                        Fonction à venir...
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <!-- TWITTER -->
        <div class="section_box">
            <a href="/twitter">
                <div class="section_title">
                    <img class="section_title_icon" src='{% static "medias/twitter_icon_128.png" %}'>
                    <span>Twitter</span>
                </div>
            </a>
            <div class="">
                <div class="section_box_info twitterUserLimitBar">Utilisateurs:
                    <span class="dataValue">{{ twStats.twitterUserUsage }}/{{ twStats.twitterUserLimit }}</span>
                </div>
                <div class="section_box_info twitterHashtagLimitBar">Hashtags:
                    <span class="dataValue">{{ twStats.twitterHashtagUsage }}/{{ twStats.twitterHashtagLimit }}</span>
                </div>
                <div class="section_box_info">Tweets Collectés:
                    <span class="dataValue">{{ twStats.collectedTweets }}</span>
                </div>
                <div class="section_box_info">Utilisateur le plus actif:
                    <span class="dataValue"><a href="/twitter/user/{{ twStats.mostActiveTwitterUser.screen_name }}"
                                               class="classic">{{ twStats.mostActiveTwitterUser }}</a></span>
                </div>
                <div class="section_box_info">Hashtag le plus actif:
                    <span class="dataValue"><a href="/twitter/hashtag/{{ twStats.mostActiveHashtag.term }}" class="classic">{{ twStats.mostActiveHashtag }}</a></span>
                </div>
            </div>

        </div>
        <!-- YOUTUBE -->
        <div class="section_box yetToCome">
            <a href="/youtube">
                <div class="section_title">
                    <img class="section_title_icon" src='{% static "medias/youtube_icon_128.png" %}'>
                    <span>Youtube</span>
                </div>
            </a>
            <div class="">
                <div class="section_box_info ytChannelsLimitBar">Chaîne:
                    <span class="dataValue">{{ ytStats.ytChannelUsage }}/{{ ytStats.ytChannelLimit }}</span>
                </div>
                <div class="section_box_info ytPlaylistLimitBar">Liste de lecture:
                    <span class="dataValue">{{ ytStats.ytPlaylistUsage }}/{{ ytStats.ytPlaylistLimit }}</span>
                </div>
                <div class="section_box_info">Videos collectées:
                    <span class="dataValue">{{ ytStats.collectedYtVids }}</span>
                </div>
                <div class="section_box_info">Commentaires collectés:
                    <span class="dataValue">{{ ytStats.collectedYtComments }}</span>
                </div>
                <div class="section_box_info">Chaîne la plus active:
                    <span class="dataValue"><a href="/youtube/channel/{{ ytStats.mostActiveChannel }}">{{ ytStats.mostActiveChannel }}</a></span>
                </div>
                <div class="section_box_info">Vidéo la plus commentée:
                    <span class="dataValue"><a href="/youtube/video/{{ ytStats.mostActiveYtVid }}">{{ ytStats.mostActiveYtVid.shortTitle }}</a></span>
                </div>
            </div>
        </div>
        <!-- FACEBOOK -->
        <div class="section_box yetToCome">
            <a href="/facebook">
                <div class="section_title">
                    <img class="section_title_icon" src='{% static "medias/facebook_icon_128.png" %}'>
                    <span>Facebook</span>
                </div>
            </a>
        </div>
        <!-- DAILYMOTION -->
        <div class="section_box yetToCome">
            <a href="/dailymotion">
                <div class="section_title">
                        <img class="section_title_icon" src='{% static "medias/dailymotion_icon_128.png" %}'>
                        <span>DailyMotion</span>
                </div>
            </a>
        </div>
        <!-- INSTAGRAM -->
        <div class="section_box yetToCome">
            <a href="/instagram">
                <div class="section_title">
                    <img class="section_title_icon" src='{% static "medias/instagram_icon_128.png" %}'>
                    <span>Instagram</span>
                </div>
            </a>
        </div>
        <!-- REDDIT -->
        <div class="section_box yetToCome">
            <a href="/reddit">
                <div class="section_title">
                    <img class="section_title_icon" src='{% static "medias/reddit_icon_128.png" %}'>
                    <span>Reddit</span>
                </div>
            </a>
        </div>
    </div>

{% endblock %}
