{% extends "MainPage.html" %}
{% load staticfiles %}

{% block Title %}SNH | Dashboard{% endblock %}
{% block extendHead %}
<link rel="stylesheet" href='{% static "css/acceuilUser.css" %}' name="style">
<script type="text/javascript" src='{% static "js/acceuilUser.js" %}'></script>
{% endblock %}
{% block content %}
    <div id="zone_title">
        <div id="title_text">Dashboard</div>
        <div id="editor">
            <a href="#">Edit</a>
        </div>
    </div>
    <div class="content">
        <div class="section_box">
            <a href="/twitter">
                <div class="section_title">
                    <img class="section_title_icon" src='{% static "medias/twitter_icon.png" %}'>
                    <span>Twitter</span>
                </div>
            </a>
            <div class="yetToCome">
                <div class="section_box_info">Users limit: <span class="dataValue">200</span></div>
                <div class="section_box_info">Usage: <span class="dataValue">30%</span></div>
                <div class="section_box_info">Hashtags limit: <span class="dataValue">50</span></div>
                <div class="section_box_info">Usage: <span class="dataValue">78%</span></div>
                <div class="section_box_info">Collected Tweets: <span class="dataValue">136 098</span></div>
                <div class="section_box_info">Most active user: <span class="dataValue"><a href="#">Al Capone</a></span></div>
                <div class="section_box_info">Most active hashtag: <span class="dataValue"><a href="#">#NASA</a></span></div>
            </div>

        </div>
        <div class="section_box yetToCome">
            <a href="/facebook">
                <div class="section_title">
                    <img class="section_title_icon" src='{% static "medias/facebook_icon_512.png" %}'>
                    <span>Facebook</span>
                </div>
            </a>
        </div>
        <div class="section_box yetToCome">
            <a href="/youtube">
                <div class="section_title">
                    <img class="section_title_icon" src='{% static "medias/youtube_icon_512.png" %}'>
                    <span>Youtube</span>
                </div>
            </a>
        </div>
        <div class="section_box yetToCome">
            <a href="/dailymotion">
                <div class="section_title">
                        <img class="section_title_icon" src='{% static "medias/DM_icon.png" %}'>
                        <span>DailyMotion</span>
                </div>
            </a>
        </div>
    </div>
{% endblock %}