{% extends "MainPage.html" %}
{% load staticfiles %}

{% block Title %}SNH | Dashboard{% endblock %}
{% block extendHead %}
<link rel="stylesheet" href='{% static "css/acceuilUser.css" %}' name="style">
<script type="text/javascript" src='{% static "js/acceuilUser.js" %}'></script>
{% include "AspiraUser/dashboard_style.html" %}


{% endblock %}
{% block content %}
    <div id="zone_title">
        <div id="title_text">Dashboard</div>
        <div id="editor">
            <a href="#">Edit</a>
        </div>
    </div>
    <div class="content">
        <!-- TWITTER -->
        <div class="section_box">
            <a href="/twitter">
                <div class="section_title">
                    <img class="section_title_icon" src='{% static "medias/twitter_icon_128.png" %}'>
                    <span>Twitter</span>
                </div>
            </a>
            <div class="">
                <div class="section_box_info twitterUserLimitBar">Users:
                    <span class="dataValue">{{ twStats.twitterUserUsage }}/{{ twStats.twitterUserLimit }}</span>
                </div>
                <div class="section_box_info twitterHashtagLimitBar">Hashtags:
                    <span class="dataValue">{{ twStats.twitterHashtagUsage }}/{{ twStats.twitterHashtagLimit }}</span>
                </div>
                <div class="section_box_info">Collected Tweets:
                    <span class="dataValue">{{ twStats.collectedTweets }}</span>
                </div>
                <div class="section_box_info">Most active user:
                    <span class="dataValue"><a href="/twitter/user/{{ twStats.mostActiveTwitterUser.screen_name }}">{{ twStats.mostActiveTwitterUser }}</a></span>
                </div>
                <div class="section_box_info">Most active hashtag:
                    <span class="dataValue"><a href="/twitter/hashtag/{{ twStats.mostActiveHashtag.term }}">{{ twStats.mostActiveHashtag }}</a></span>
                </div>
            </div>

        </div>
        <!-- YOUTUBE -->
        <div class="section_box yetToCome">
            <a href="/youtube">
                <div class="section_title">
                    <img class="section_title_icon" src='{% static "medias/youtube_icon_128.png" %}'>
                    <span>Youtube</span>
                </div>
            </a>
            <div class="">
                <div class="section_box_info ytChannelsLimitBar">Channels:
                    <span class="dataValue">{{ ytStats.ytChannelUsage }}/{{ ytStats.ytChannelLimit }}</span>
                </div>
                <div class="section_box_info ytPlaylistLimitBar">Playlists:
                    <span class="dataValue">{{ ytStats.ytPlaylistUsage }}/{{ ytStats.ytPlaylistLimit }}</span>
                </div>
                <div class="section_box_info">Collected videos:
                    <span class="dataValue">{{ ytStats.collectedYtVids }}</span>
                </div>
                <div class="section_box_info">Collected comments:
                    <span class="dataValue">{{ ytStats.collectedYtComments }}</span>
                </div>
                <div class="section_box_info">Most active Youtube channel:
                    <span class="dataValue"><a href="/youtube/channel/{{ ytStats.mostActiveChannel }}">{{ ytStats.mostActiveChannel }}</a></span>
                </div>
                <div class="section_box_info">Most commented video:
                    <span class="dataValue"><a href="/youtube/video/{{ ytStats.mostActiveYtVid }}">{{ ytStats.mostActiveYtVid.shortTitle }}</a></span>
                </div>
            </div>
        </div>
        <!-- FACEBOOK -->
        <div class="section_box yetToCome">
            <a href="/facebook">
                <div class="section_title">
                    <img class="section_title_icon" src='{% static "medias/facebook_icon_128.png" %}'>
                    <span>Facebook</span>
                </div>
            </a>
        </div>
        <!-- DAILYMOTION -->
        <div class="section_box yetToCome">
            <a href="/dailymotion">
                <div class="section_title">
                        <img class="section_title_icon" src='{% static "medias/dailymotion_icon_128.png" %}'>
                        <span>DailyMotion</span>
                </div>
            </a>
        </div>
        <!-- INSTAGRAM -->
        <div class="section_box yetToCome">
            <a href="/instagram">
                <div class="section_title">
                    <img class="section_title_icon" src='{% static "medias/instagram_icon_128.png" %}'>
                    <span>Instagram</span>
                </div>
            </a>
        </div>
        <!-- REDDIT -->
        <div class="section_box yetToCome">
            <a href="/reddit">
                <div class="section_title">
                    <img class="section_title_icon" src='{% static "medias/reddit_icon_128.png" %}'>
                    <span>Reddit</span>
                </div>
            </a>
        </div>
    </div>

{% endblock %}
