{% extends "MainPage.html" %}
{% load staticfiles %}

{% block extendHead %}
<link rel="stylesheet" href='{% static "css/settings_page.css" %}?v={{ STATICFILES_VERSION }}' name="style">
{% endblock %}
{% block content %}
<div id="content">
    <h1 style="padding-left: 2px">
        Veuillez vous authentifier pour continuer
    </h1>
    <section class="registerContainer">
        <p>
            <b>Vous ne possédez pas encore de compte Aspira? Vous pouvez en créer un ci-dessous.</b>
        </p>
        <center>
            <form method="post" action="/register" id="registerForm">{% csrf_token %}
                <table>
                    <tr>
                        <td></td>
                        <td><span class="requiredField">*</span> = <i>champs requis</i></td>
                    </tr>
                    <tr>
                        <td>Adresse email:<span class="requiredField">*</span></td>
                        <td><input class="prettyInput" type="text" name="email" value="{{ fieldKeeper.email }}"
                                   placeholder="email"></td>
                    </tr>
                    <tr>
                        <td>Nom d'utilisateur:<span class="requiredField">*</span></td>
                        <td><input class="prettyInput" type="text" name="username"
                                   value="{{ fieldKeeper.username }}" placeholder="nom d'utilisateur"></td>
                    </tr>
                    <tr>
                        <td>Mot de passe:<span class="requiredField">*</span></td>
                        <td><input class="prettyInput" type="password" id="pass1" name="pw" onkeyup="checkPass();"
                                   placeholder="mot de passe"></td>
                    </tr>
                    <tr>
                        <td>Confirmation du mot de passe:<span class="requiredField">*</span></td>
                        <td>
                            <input class="prettyInput" type="password" id="pass2" name="pw_confirm"
                                   onkeyup="checkPass();" placeholder="mot de passe">
                        </td>
                    </tr>
                    <tr>
                        <td>Prénom:</td>
                        <td><input class="prettyInput" type="text" name="fname"
                                   value="{{ fieldKeeper.fname }}" placeholder="prénom"></td>
                    </tr>
                    <tr>
                        <td>Nom:</td>
                        <td><input class="prettyInput" type="text" name="lname"
                                   value="{{ fieldKeeper.lname }}" placeholder="nom"></td>
                    </tr>
                    <tr>
                        <td>Organisation:</td>
                        <td><input class="prettyInput" type="text" name="org"
                                   value="{{ fieldKeeper.org }}" placeholder="organisation"></td>
                    </tr>
                    <tr>
                        <td colspan=2>
                            <hr>
                            Pourquoi utiliserez-vous le SNH? (maximum 200 caractères):<br><br>
                            <textarea form="registerForm" rows="4" cols="55" maxlength="200" name="usageText" style="font-family: Verdana;font-size: 12px;">{{fieldKeeper.usageText}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan=2 style="text-align:center;">
                            <input type="submit" value="Poursuivre" id="submit_button"
                                   onclick="displayCenterPopup('EUA')"></td>
                        <center class="popup" id="EUA"  >
                            <div id="title">Conditions d'utilisations du Social Network Harvester Aspira</div>
                            <div id="help">Veuillez lire et accepter les conditions d'utilisation du SNH</div>
                            <div id="content">
                                <div style="width: 600px; padding:4px;">
                                ASPIRA est un outil de collecte, d’archivage et d’analyse de messages
                            politiques diffusés publiquement par des partis politiques, des politiciens
                            et d’autres organisations politiques, entre autres en période électorale,
                            sur les médias sociaux.<br><br>
                                Il fonctionne en utilisant les API publics de Twitter,
                            Facebook, Youtube et d'autres médias sociaux. Les utilisateurs d’ASPIRA doivent
                            donc s’engagerà respecter le droit à la vie privée des citoyens qui commentent,
                            produisent ou partagent en ligne ces messages politiques. <br><br>
                                    Ainsi, afin de respecter les termes et conditions de chacune des plateformes
                            dont ils collectent des contenus, les utilisateurs d’ASPIRA doivent s’assurer que les
                            données produites à l'aide du logiciel nesont utilisées qu'à des fins de recherche
                            universitaire et de façon agrégée.<br><br>
                            Si les données font l'objet d'une publication sous une forme ou une autre,
                            celles-ci DOIVENT être anonymisées enretirant tout élément d'information pouvant permettre
                            d'identifier un usager d’une des plateformes dont les contenuest aspiré, à l’exception des
                            politiciens ou des pages publiques des organisations politiques étudiées.<br><br>
                                    Afin de pouvoir créer un compte d’utilisateur d’ASPIRA, vous devez signifiez votre
                            consentement envers ces conditions d’utilisation en cochant la case ci-dessous.
                                    <hr>
                                    <center>
                                        <input type="checkbox" value="Je consens" id="popup_checkbox">
                                        J'ai lu et je consens aux conditions d'utilisations
                                        <br><br>
                                        <input type="submit" value="S'enregistrer" id="popup_submit" disabled>
                                        <br>
                                    </center>
                                </div>

                            </div>
                            <script id="functions">
                                $('#centerPopupContent').find('#popup_checkbox').click(function () {
                                    $('#centerPopupContent').find('#popup_submit').attr('disabled', !this.checked);
                                    $('#centerPopupContent').find('#popup_submit').click(function () {
                                        $('#registerForm').unbind().submit();
                                    })
                                });
                            </script>
                        </div>


                    </tr>
                </table>
            </form>
        </center>
        <p>
            {% include "tool/icons.html" with x=3 y=5 style="width:15px;height:15px;" %}
            Important: Tous les nouveaux comptes doivent faire l'object d'une approbation du <i>Groupe de Recherche en Communication Politique</i> avant d'être fonctionnels. Veuillez aller voir vos courriels après soumission d'une requête.
        </p>
        <script>
            function checkPass(){
                var pass1 = $('#pass1');
                var pass2 = $('#pass2');
                if (pass1.prop('value') == pass2.prop('value')) { //match
                    pass2.css('border', "solid 1px #66cc66");
                } else {                                        //dont match
                    pass2.css('border', "solid 1px #ff6666");
                }
            };

            $('#submit_button').click(function (e) {
                $('#registerForm').submit(function (e) {
                    e.preventDefault();
                })
            });
            $('#centerPopupContent').find('#popup_checkbox').click(function () {
                log($('#centerPopupContent').find('#popup_submit'));
                $('#centerPopupContent').find('#popup_submit').attr('disabled', !this.checked);
                $('#centerPopupContent').find('#popup_submit').click(function () {
                    $('#registerForm').unbind().submit();
                })
            });

        </script>
    </section>
</div>
{% endblock %}