{% extends "MainPage.html" %}
{% load staticfiles %}

{% block Title %}SNH | Login{% endblock %}
{% block extendHead %}
<link rel="stylesheet" href='{% static "css/settings_page.css" %}' name="style">
{% endblock %}
{% block content %}
<div id="content">
    <h1>
        Veuillez vous authentifier pour continuer
    </h1>
    <section class="registerContainer">
        <p>
            <b>Pas de compte? Vous pouvez un créer un ici.</b>
        </p>
        <center>
            <form method="post" action="/register" id="registerForm">{% csrf_token %}
                <table>
                    <tr>
                        <td></td>
                        <td><span class="requiredField">*</span> = <i>champs requis</i></td>
                    </tr>
                    <tr>
                        <td>Adresse email:<span class="requiredField">*</span></td>
                        <td><input class="prettyInput" type="email" name="email" value="{{ fieldKeeper.email }}"
                                   value placeholder="email"></td>
                    </tr>
                    <tr>
                        <td>Nom d'utilisateur:<span class="requiredField">*</span></td>
                        <td><input class="prettyInput" type="text" name="username"
                                   value="{{ fieldKeeper.username }}" placeholder="nom d'utilisateur"></td>
                    </tr>
                    <tr>
                        <td>Mot de passe:<span class="requiredField">*</span></td>
                        <td><input class="prettyInput" type="password" id="pass1" name="pw" onkeyup="checkPass();"
                                   placeholder="mot de passe"></td>
                    </tr>
                    <tr>
                        <td>Confirmation du mot de passe:<span class="requiredField">*</span></td>
                        <td>
                            <input class="prettyInput" type="password" id="pass2" name="pw_confirm"
                            onkeyup="checkPass();" placeholder="mot de passe">
                        </td>
                    </tr>
                    <tr>
                        <td>Prénom:</td>
                        <td><input class="prettyInput" type="text" name="fname"
                                   value="{{ fieldKeeper.fname }}" placeholder="prénom"></td>
                    </tr>
                    <tr>
                        <td>Nom:</td>
                        <td><input class="prettyInput" type="text" name="lname"
                                   value="{{ fieldKeeper.lname }}" placeholder="nom"></td>
                    </tr>
                    <tr>
                        <td>Organisation:</td>
                        <td><input class="prettyInput" type="text" name="org"
                                   value="{{ fieldKeeper.org }}" placeholder="organisation"></td>
                    </tr>
                    <tr>
                        <td colspan=2>
                            <hr>
                            Pourquoi utiliserez-vous le SNH? (maximum 200 caractères):<br><br>
                            <textarea form="registerForm" rows="4" cols="55" maxlength="200" name="usageText" style="font-family: Verdana;font-size: 12px;">{{fieldKeeper.usageText}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan=2 style="text-align:center;"><input type="submit" value="Register"></td>
                    </tr>
                </table>
            </form>
        </center>
        <p>
            <span class="requiredField">*</span> Tous les nouveaux comptes doivent faire l'object d'une approbation du <i>Groupe de Recherche en Communication Politique</i> avant d'être fonctionnels. Veuillez aller voir vos courriels après soumission d'une requête.
        </p>
        <script>
            function checkPass(){
                var pass1 = $('#pass1');
                var pass2 = $('#pass2');
                if (pass1.prop('value') == pass2.prop('value')) { //match
                    pass2.css('border', "solid 1px #66cc66");
                } else {                                        //dont match
                    pass2.css('border', "solid 1px #ff6666");
                }
            };
        </script>
    </section>
</div>
{% endblock %}