{% extends "MainPage.html" %}
{% load staticfiles %}

{% block title %}SNH | Enregistrement complété {% endblock %}
{% block extendHead %}
<link rel="stylesheet" href='{% static "css/settings_page.css" %}?v={{ STATICFILES_VERSION }}' name="style">
{% endblock %}
{% block content %}
<div id="content">
    <h1>
        Veuillez vous enregistrer pour continuer
    </h1>
    <section class="registerContainer">
        <b>Merci pour votre intérêt! Vous devriez recevoir un courriel contenant de plus amples informations.</b>
    </section>
</div>
{% endblock %}