{% extends "MainPage.html" %}
{% load staticfiles %}

{% block Title %}SNH | Paramètres {% endblock %}
{% block extendHead %}
<link rel="stylesheet" href='{% static "css/settings_page.css" %}' name="style">
<script src='{% static "js/settings_page.js" %}'></script>
{% endblock %}
{% block content %}
<div id="content">
    <form id="settings_form" action="/user/edit_user_settings" method="post">{% csrf_token %}
        <!-- GENERAL SETTINGS -->
        <div class="settings_box">
            <div class="category_title">
                Paramètres de {{ user.userProfile }}
            </div>
            <hr class="category_insider_separator">
            <table>
                <tr style="height:26px;">
                    <td>Prénom: </td>
                    <td>
                        <input class=prettyInput type="text" name="u_first_name" value="{{ user.first_name }}" placeholder="Entrez une valeur"/>
                    </td>
                </tr>
                <tr>
                    <td>Nom: </td>
                    <td>
                        <input class=prettyInput type="text" name="u_last_name" value="{{ user.last_name }}"placeholder="Entrez une valeur"/>
                    </td>
                </tr>
                    <td>Adresse email: </td>
                    <td>
                        <input class=prettyInput type="text" name="u_email" value="{{ user.email }}"placeholder="Entrez une valeur"/>
                    </td>
                </tr>
            </table>
        </div>
        <!-- TWITTER SETTINGS -->
        <div class="settings_box">
            <div class="category_title">
                <a class="category_opener">Application Twitter</a>
            </div>
            <div class="category_content">
                <hr class="category_insider_separator">
                <a class="helpLink" onclick="displayCenterPopup('twitterAppHelp')"> Clickez ici pour de l'aide! </a>
                <!-- TWITTER SETTINGS HELP POPUP -->
                <div class="popup" id="twitterAppHelp">
                    <div id="title">Création d'une application Twitter</div>
                    <div id="help">
                        Suivez ces instructions pour paramètrer votre application Twitter correctement.
                    </div>
                    <div id="content">
                        <embed src="/tools/download?file=Twitter_app_creation_helper_french.pdf" width="1000px"
                               height="800px"/>
                    </div>
                    <script id="functions"></script>
                </div>
                <table>
                    <tr>
                        <td>"Consumer key": </td>
                        <td>
                            <input class=prettyInput type="text" name="p_twitterApp_consumerKey" value="{{ user.userProfile.twitterApp_consumerKey }}" placeholder="Entrez une valeur">
                        </td>
                    </tr>
                    <tr>
                        <td>"Consumer secret":</td>
                        <td>
                            <input class=prettyInput type="text" name="p_twitterApp_consumer_secret" value="{{ user.userProfile.twitterApp_consumer_secret }}" placeholder="Entrez une valeur">
                        </td>
                    </tr>
                    <tr>
                        <td>"Access token key":</td>
                        <td>
                            <input class=prettyInput type="text" name="p_twitterApp_access_token_key" value="{{ user.userProfile.twitterApp_access_token_key }}" placeholder="Entrez une valeur">
                        </td>
                    </tr>
                    <tr>
                        <td>"Access token secret":</td>
                        <td>
                            <input class=prettyInput type="text" name="p_twitterApp_access_token_secret" value="{{ user.userProfile.twitterApp_access_token_secret }}" placeholder="Entrez une valeur">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- FACEBOOK SETTINGS -->
        <div class="settings_box yetToCome">
            <div class="category_title">
                <a class="category_opener">Compte Facebook</a>
            </div>
            <div class="category_content">
                <hr class="category_insider_separator">
                <span>Yet to come...</span>
            </div>
        </div>
        <!-- YOUTUBE SETTINGS -->
        <div class="settings_box">
            <div class="category_title">
                <a class="category_opener">Application Youtube</a>
            </div>
            <div class="category_content">
                <hr class="category_insider_separator">
                <a class="helpLink" onclick="displayCenterPopup('youtubeAppHelp')"> Clickez ici pour de l'aide!</a>
                <!-- YOUTUBE SETTINGS HELP POPUP -->
                <div class="popup" id="youtubeAppHelp">
                    <div id="title">Youtube Application Creation</div>
                    <div id="help">
                        Suivez ce tutoriel pour paramètrer votre application Youtube correctement.
                    </div>
                    <div id="content">
                        <!--embed src="/tools/download?file=Twitter_app_creation_helper.pdf" width="1000px"
                               height="800px"/-->
                        Ce tutoriel apparaîtra prochainement!
                    </div>
                    <script id="functions"></script>
                </div>
                <table>
                    <tr>
                        <td>"App key":</td>
                        <td>
                            <input class=prettyInput type="text" name="p_youtubeApp_dev_key"
                                   value="{{ user.userProfile.youtubeApp_dev_key }}" placeholder="Entrez une valeur">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <a href="#">
            <div id="save_button">
                Soumettre les changements
            </div>
        </a>
    </form>
</div>
{% endblock %}