{% extends "MainPage.html" %}
{% load staticfiles %}

{% block extendHead %}
    <link rel="stylesheet" type="text/css" href='{% static "css/table_style.css" %}?v={{ STATICFILES_VERSION }}' name="style">
    <link rel="stylesheet" type="text/css" href='{% static "css/chart_style.css" %}?v={{ STATICFILES_VERSION }}' name="style">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src='{% static "js/analysisTools/linechart.js" %}?v={{ STATICFILES_VERSION }}'></script>
    <script type="text/javascript" src='{% static "js/table_script.js" %}?v={{ STATICFILES_VERSION }}'></script>


{% endblock %}
{% block content %}
<div id="container">

    <div id="chart_data_type_selector">
        <a href="/tool/linechart?chart_type=activite_en_ligne"><div class="graph_type_selector{% if chart_type == 'activite_en_ligne' %} selected {% endif %}">
            Activité en ligne
        </div></a>
        <span> | </span>
        <a href="/tool/linechart?chart_type=popularite_en_ligne"><div class="graph_type_selector{% if chart_type == 'popularite_en_ligne' %} selected {% endif %}">
            Popularité en ligne
        </div></a>
        <!--span> | </span>
        <div class="yetToCome" style="display:inline-block">
        <a href="/tool/linechart?chart_type=content_popularity"><div class="graph_type_selector{% if chart_type == 'content_popularity' %} selected {% endif %}">
            Content popularity
        </div></a>
        </div>
        <span> | </span>
        <div class="yetToCome" style="display:inline-block">
        <a href="/tool/linechart?chart_type=video_comments"><div class="graph_type_selector{% if chart_type == 'video_comments' %} selected {% endif %}">
            Video comments
        </div></a>
        </div>
        <span> | </span-->
    </div>

    <!--  GUIDE D'UTILISATION  -->
    <section class="tableContainer">

        <div class="section_menu">
            <span class="section_title">
                <b>Guide d'utilisation</b>
            </span>
            {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}

        </div>
        <div class="section_content">
            Cet outil permet de visualiser l'évolution d'une donnée dans le temps, à partir du début de son
            archivage par le SNH. Sélectionner une source de données dans l'une des tables ci-dessous pour voir apparaître
            l'ensemble des données enregistrées pour celle-ci. Sélectionner plusieurs sources de natures différentes pour
            comparer leur évolution. Cliquer et glisser pour <i>zoomer</i> sur les données, clic-droit pour réinitialiser.
            <br>
            <i><span class="requiredField">*</span> Si vous rencontrez un problème avec le graphique, tentez d'utiliser un navigateur différent, tel que Google Chrome ou Firefox.</i>
        </div>

    </section>

    {% if chart_type == 'activite_en_ligne' %}
        <!-- LINECHART -->
        {% include "tool/charts/lineChart.html" with source="userActivity" %}
        <!-- TWITTER USERS -->
        {% include "tool/tables/twitterUserTable.html" with source="ToolLinechart_userActivity" %}
        <!-- TWITTER HASHTAGS -->
        {% include "tool/tables/twitterHashtagTable.html" with source="ToolLinechart" %}







    {% elif chart_type == 'popularite_en_ligne' %}
        <!-- LINECHART -->
        {% include "tool/charts/lineChart.html" with source="userPopularity" %}
        <!-- TWITTER USERS -->
        {% include "tool/tables/twitterUserTable.html" with source="ToolLinechart_userFollowers" %}
        <!--FACEBOOK PAGE -->
        {% include "tool/tables/facebookPageTable.html" with source="ToolLineChart_fbpage" %}


    {% elif chart_type == 'content_popularity' %}

    <!-- YET TO COME -->

    {% elif chart_type == 'video_comments' %}

    <!-- YET TO COME -->

    {% endif %}

</div>
{% endblock %}