{% extends "MainPage.html" %}
{% load staticfiles %}

{% block Title %}SNH | Tools{% endblock %}
{% block extendHead %}
    <link rel="stylesheet" type="text/css" href='{% static "css/table_style.css" %}' name="style">
    <link rel="stylesheet" type="text/css" href='{% static "css/chart_style.css" %}' name="style">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src='{% static "js/analysisTools/linechart.js" %}'></script>
    <script type="text/javascript" src='{% static "js/table_script.js" %}'></script>


{% endblock %}
{% block content %}
<div id="container">

    <div id="chart_data_type_selector">
        <a href="/tool/linechart?chart_type=user_activity"><div class="graph_type_selector{% if chart_type == 'user_activity' %} selected {% endif %}">
            User activity
        </div></a>
        <span> | </span>
        <a href="/tool/linechart?chart_type=user_popularity"><div class="graph_type_selector{% if chart_type == 'user_popularity' %} selected {% endif %}">
            User popularity
        </div></a>
        <!--span> | </span>
        <div class="yetToCome" style="display:inline-block">
        <a href="/tool/linechart?chart_type=content_popularity"><div class="graph_type_selector{% if chart_type == 'content_popularity' %} selected {% endif %}">
            Content popularity
        </div></a>
        </div>
        <span> | </span>
        <div class="yetToCome" style="display:inline-block">
        <a href="/tool/linechart?chart_type=video_comments"><div class="graph_type_selector{% if chart_type == 'video_comments' %} selected {% endif %}">
            Video comments
        </div></a>
        </div>
        <span> | </span-->
    </div>

    {% if chart_type == 'user_activity' %}
        <!-- LINECHART -->
        {% include "tool/charts/lineChart.html" with source="userActivity" %}
        <!-- TWITTER USERS -->
        {% include "tool/tables/twitterUserTable.html" with source="ToolLinechart_userActivity" %}
        <!-- TWITTER HASHTAGS -->
        {% include "tool/tables/twitterHashtagTable.html" with source="ToolLinechart" %}


        <!-- FACEBOOK USERS -->
        <section class="tableContainer yetToCome">
            <div class="section_menu">
                <span class="section_title">
                    <b>Facebook Users</b>
                </span>
                <div class="tableOpenCloseIcon" type="plus">
                    <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
                </div>
            </div>
            <div class="section_content">
                <table class="display" width="100%" drawn='False'>
                    <thead>
                    <tr>
                        <th><input type="checkbox" class='table_select_master'></input></th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Likes</th>
                        <th>About</th>
                    </tr>
                    </thead>
                    <script class="tableVars">
                        source = "/facebook/FBUserTable/1/"
                        columnsDefs = [
                            {
                                "orderable": false,
                                "className": 'select-checkbox',
                                "targets": 0
                            },
                            {
                                "targets": 1,
                                "render": function (data, type, row) {
                                    return '<a href="/twitter/user/' + row[2] + '" class="TableToolLink">' + row[1] + '</a>';
                                }
                            },
                            {
                                "targets": 2,
                                "render": function (data, type, row) {
                                    return '<a href="/twitter/user/' + row[2] + '" class="TableToolLink">' + row[2] + '</a>';
                                }
                            },
                            {
                                "targets": 3,
                                "render": function (data, type, row) {
                                    if (row[3] == 'None') {
                                        return '0'
                                    }
                                    else {
                                        return row[3]
                                    }
                                    ;
                                }
                            },
                        ]
                    </script>
                </table>
            </div>
        </section>
        <!-- YOUTUBE USERS -->
        <section class="tableContainer yetToCome">
            <div class="section_menu">
                <span class="section_title">
                    <b>Youtube users</b>
                </span>
                <div class="tableOpenCloseIcon" type="plus">
                    <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
                </div>
            </div>

            <div class="section_content">
                <table class="display" width="100%" drawn='True'>
                    <thead>
                    <tr>
                        <th><input type="checkbox" class='table_select_master'></input></th>
                        <th>Channel name</th>
                        <th>Video uploads</th>
                    </tr>
                    </thead>
                    <script class="tableVars">
                        source = "/youtube/YTUserTable/1/"
                        columnsDefs = []
                    </script>
                </table>
            </div>
        </section>
        <!-- DAILYMOTION USERS -->
        <section class="tableContainer yetToCome">
            <div class="section_menu">
                <span class="section_title">
                    <b>Dailymotion users</b>
                </span>
                <div class="tableOpenCloseIcon" type="plus">
                    <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
                </div>
            </div>

            <div class="section_content">
                <table class="display" width="100%" drawn='True'>
                    <thead>
                    <tr>
                        <th><input type="checkbox" class='table_select_master'></input></th>
                        <th>Channel name</th>
                        <th>Video uploads</th>
                    </tr>
                    </thead>
                    <script class="tableVars">
                        source = "/dailymotion/DMUserTable/1/"
                        columnsDefs = []
                    </script>
                </table>
            </div>
        </section>
        <!-- GROUPS -->
        <section class="tableContainer yetToCome">
        <div class="section_menu">
            <span class="section_title">
                <b>Groups</b>
            </span>
            <div class="tableOpenCloseIcon" type="plus">
                <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
            </div>
        </div>

        <div class="section_content">
            <table class="display" width="100%" drawn='True'>
                <thead>
                <tr>
                    <th><input type="checkbox" class='table_select_master'></input></th>
                    <th>Channel name</th>
                    <th>Video uploads</th>
                </tr>
                </thead>
                <script class="tableVars">
                    source = "/dailymotion/DMUserTable/1/"
                    columnsDefs = []
                </script>
            </table>
        </div>
    </section>

    {% elif chart_type == 'user_popularity' %}
        <!-- LINECHART -->
        {% include "tool/charts/lineChart.html" with source="userPopularity" %}
        <!-- TWITTER USERS -->
        {% include "tool/tables/twitterUserTable.html" with source="ToolLinechart_userFollowers" %}

        <!-- FACEBOOK USERS -->
        <section class="tableContainer yetToCome">
            <div class="section_menu">
                <span class="section_title">
                    <b>Facebook Users</b>
                </span>
                <div class="tableOpenCloseIcon" type="plus">
                    <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
                </div>
            </div>

            <div class="section_content">
                <table class="display" width="100%" drawn='False'>
                    <thead>
                    <tr>
                        <th><input type="checkbox" class='table_select_master'></input></th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Likes</th>
                        <th>About</th>
                    </tr>
                    </thead>
                    <script class="tableVars">
                        source = "/facebook/FBUserTable/1/"
                        columnsDefs = [
                            {
                                "orderable": false,
                                "className": 'select-checkbox',
                                "targets": 0
                            },
                            {
                                "targets": 1,
                                "render": function (data, type, row) {
                                    return '<a href="/twitter/user/' + row[2] + '" class="TableToolLink">' + row[1] + '</a>';
                                }
                            },
                            {
                                "targets": 2,
                                "render": function (data, type, row) {
                                    return '<a href="/twitter/user/' + row[2] + '" class="TableToolLink">' + row[2] + '</a>';
                                }
                            },
                            {
                                "targets": 3,
                                "render": function (data, type, row) {
                                    if (row[3] == 'None') {
                                        return '0'
                                    }
                                    else {
                                        return row[3]
                                    }
                                    ;
                                }
                            },
                        ]
                    </script>
                </table>
            </div>
        </section>
        <!-- YOUTUBE USERS -->
        <section class="tableContainer yetToCome">
            <div class="section_menu">
                <span class="section_title">
                    <b>Youtube users</b>
                </span>
                <div class="tableOpenCloseIcon" type="plus">
                    <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
                </div>
            </div>

            <div class="section_content">
                <table class="display" width="100%" drawn='True'>
                    <thead>
                    <tr>
                        <th><input type="checkbox" class='table_select_master'></input></th>
                        <th>Channel name</th>
                        <th>Video uploads</th>
                    </tr>
                    </thead>
                    <script class="tableVars">
                        source = "/youtube/YTUserTable/1/"
                        columnsDefs = []
                    </script>
                </table>
            </div>
        </section>
        <!-- DAILYMOTION USERS -->
        <section class="tableContainer yetToCome">
            <div class="section_menu">
                <span class="section_title">
                    <b>Dailymotion users</b>
                </span>
                <div class="tableOpenCloseIcon" type="plus">
                    <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
                </div>
            </div>

            <div class="section_content">
                <table class="display" width="100%" drawn='True'>
                    <thead>
                    <tr>
                        <th><input type="checkbox" class='table_select_master'></input></th>
                        <th>Channel name</th>
                        <th>Video uploads</th>
                    </tr>
                    </thead>
                    <script class="tableVars">
                        source = "/dailymotion/DMUserTable/1/"
                        columnsDefs = []
                    </script>
                </table>
            </div>
        </section>
        <!-- GROUPS -->
        <section class="tableContainer yetToCome">
            <div class="section_menu">
                <span class="section_title">
                    <b>Groups</b>
                </span>
                <div class="tableOpenCloseIcon" type="plus">
                    <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
                </div>
            </div>

            <div class="section_content">
                <table class="display" width="100%" drawn='True'>
                    <thead>
                    <tr>
                        <th><input type="checkbox" class='table_select_master'></input></th>
                        <th>Channel name</th>
                        <th>Video uploads</th>
                    </tr>
                    </thead>
                    <script class="tableVars">
                        source = "/dailymotion/DMUserTable/1/"
                        columnsDefs = []
                    </script>
                </table>
            </div>
        </section>

    {% elif chart_type == 'content_popularity' %}

    <!-- YET TO COME -->

    {% elif chart_type == 'video_comments' %}

    <!-- YET TO COME -->

    {% endif %}

</div>
{% endblock %}