{% load staticfiles %}
{% load extratags %}

{% if tool == "gridDisplay" %}
<div class="grid">
    {% autoescape off %}
        {{ item|getFieldsValuesAsTiles:currentUser }}
    {% endautoescape %}
</div>
{% endif %}

{% autoescape off %}
{% if tool == "gridDisplayItem" %}
<div class="tooltip grid-item {{ field.extra_class }}" {{ field.extra_features }}>

    {% if field.type == "date" %}
    <div class='value date_value'>
        <span>{{ field.value }}</span>
    </div>
    {% elif field.type == "long_string" %}
    <div class='value string_value'>
        <span>{{ field.strValue }}</span>
    </div>
    {% elif field.type == 'html_link' %}
    <div class='value html_link_value'>
        <span>{{ field.strValue }}</span>
    </div>

    {% elif field.type == "integer" %}
    <div class='value integer_value'>
        {% if field.strValue|length >= 15 %}
        <span style=" font-size:8px;">
        {% elif field.strValue|length >= 13 %}
        <span style=" font-size:9px;">
        {% elif field.strValue|length >= 11 %}
        <span style=" font-size:10px;">
        {% elif field.strValue|length >= 9 %}
        <span style=" font-size:12px;">
        {% else %}
        <span style=" font-size:18px;">
        {% endif %}
            {{ field.strValue|truncatechars:75 }}
        </span>
    </div>

    {% elif field.type == "boolean" %}
    <div class='value boolean_value'>
        {% if field.strValue == "False" %} <span style='color:red'>Non</span>
        {% elif field.strValue == "True" %} <span style='color:green'>Oui</span>
        {% endif %}
    </div>

    {% elif field.type == "short_string" or field.type == "link_url" %}
    <div class='value string_value'>
        {% if field.strValue|length >= 60 %}
        <span style=" font-size:8px;">
        {% elif field.strValue|length >= 30 %}
        <span style=" font-size:10px;">
        {% elif field.strValue|length >= 9 %}
        <span style=" font-size:12px;">
        {% else %}
        <span style=" font-size:18px;">
        {% endif %}
            {% if field.type == "link_url" %}
            <a href='{{ field.value }}' class='TableToolLink' target='_blank'>{{ field.value|truncatechars:40 }}</a>
            {% else %}
            {{ field.strValue|truncatechars:40 }}
            {% endif %}
        </span>
    </div>

    {% elif field.type == "image_url" %}
    <div class="popup" id="imageBigDisplayPopup">
        <div id="title">{{ field.name }}</div>
        <div id="help">{{ field.description }}</div>
        <div id="content">
            <img class="imageBigDisplay" src="{{ field.strValue }}"></img>
        </div>
        <script id="functions"></script>
    </div>

    <div class='value image_value'></div>

    {% elif field.type == "object"%}
    <div class='value object_value'>
        <span>
            <a href='{{ field.value.getLink }}' class='TableToolLink'>{{ field.value }}</a>
        </span>
    </div>

    {% elif field.type == "object_list"%}
    <div class='value object_list_value'>
        <span><ul>
            {% with field.value.all as values %}
            {% for val in values %}
                <li><a href='{{ val.getLink }}' class='TableToolLink'>{{ val }}</a></li>
            {% endfor %}
            {% endwith %}
        </ul></span>
    </div>

    {% endif %}
    <div class='fieldName'>
        {% if field.name|length >= 30 %}
            <span style=" font-size:8px;">
        {% elif field.name|length >= 20 %}
            <span style=" font-size:9px;">
        {% elif field.name|length >= 10 %}
            <span style=" font-size:12px;">
        {% else %}
            <span>
        {% endif %}
        {{ field.name }}</span>
    </div>
    <span class="tooltiptext">{{ field.description }}</span>
</div>
{% endif %}
{% endautoescape %}