{% load staticfiles %}


<!-- POPUP EXAMPLE
<div class="popup" id="removeTwitterUser">
    <div id="title">POPUP TITLE</div>
    <div id="help">
        HELP MESSAGE
    </div>
    <div id="content">
        HTML CONTENT OF THE POPUP
    </div>
    <script id="functions">
        FUNCTIONS TO BE PAIRED WITH THE CONTENT
    </script>
</div>
-->

<!-- POP-UP CONTAINER -->
<div id="centerPopupOutter">
    <table>
        <tr>
            <td id="centerPopupOutterTD">
                <div id='centerPopupInner'>
                    <b>
                        <div id="centerPopupTitle"></div>
                    </b>
                    <div id="centerPopupCloser">
                        <center>X</center>
                    </div>
                    <div id="centerPopupHelper">?</div>
                    <div id="centerPopupHelpText"></div>
                    <br style="font-size:16px;">
                    <hr>
                    <div id="centerPopupContent"></div>
                </div>
            </td>
        </tr>
    </table>
</div>


<!-- DOWNLOAD SELECTION POPUP -->
<div class="popup" id="downloadSelection">
    <div id="title">Download selected rows</div>
    <div id="help">
        Download the selected rows of the table in the chosen format. Format choices are .CSV or .JSON.
        <span style="color:red">The more fields are selected, the slower the download will be!</span>
    </div>
    <div id="content">
        Select the file format
        <center>
            <div class="yetToCome" style="height:20px;width:300px;padding:5px;">
                .CSV <input class="fileTypeSelect" type="radio" name="fileType" value="csv" checked>
                <div style="font-size: 16px;display:inline-block;">|</div>
                .JSON <input class="fileTypeSelect" type="radio" name="fileType" value="json">
            </div>
            <input id="sourceURL" type="hidden" name="sourceURL" value="">
            <input id="DownloadfileName" type="hidden" name="DownloadfileName" value="">
        </center>
        <hr>
        Select the object fields:<br><br>
        <table id="downloadFieldsTable">
            <tr>
                <td><input type="checkbox" id="selectAllFieldsChechbox" name="masterFieldSelector"></td>
                <td><b>Select all fieldsTEST</b></td>
                <td><a class="fieldHelper">?</a><div class="fieldHelpText">Will select all available fields. Selecting all fields will slow down the generation of the file by a lot. Use only if you really need all this informations.'</div></td>
            </tr>
        </table>
        <br>
        <center>
            <input type="submit" value="Download" onclick="downloadSelectedRows(this)"></input>
        </center>
        <br>
        <center>
            <span id="selectedRowsCount">0 rows selected in </span>
            <span id="selectedTableTitle"></span>
            <span id="selectedTableName"></span> Table
        </center>
        <br>
    </div>
</div>
