{% load staticfiles %}


<!-- POPUP EXAMPLE
<a onclick=displayCenterPopup("aPopupUniqueName")>display popup</a>
<div class="popup" id="aPopupUniqueName">
    <div id="title">POPUP TITLE</div>
    <div id="help">
        HELP MESSAGE
    </div>
    <div id="content">
        HTML CONTENT OF THE POPUP
    </div>
    <script id="functions">
        FUNCTIONS TO BE PAIRED WITH THE CONTENT
    </script>
</div>
-->

<!-- POP-UP CONTAINER -->
<div id="centerPopupOutter">
    <table>
        <tr>
            <td id="centerPopupOutterTD">
                <div id='centerPopupInner'>
                    <b>
                        <div id="centerPopupTitle"></div>
                    </b>
                    <div id="centerPopupCloser">
                        <center>X</center>
                    </div>
                    <div id="centerPopupHelper">?</div>
                    <div id="centerPopupHelpText"></div>
                    <br style="font-size:16px;">
                    <hr>
                    <div id="centerPopupContent"></div>
                </div>
            </td>
        </tr>
    </table>
</div>


<!-- DOWNLOAD SELECTION POPUP -->
<div class="popup" id="downloadSelection">
    <div id="title">Téléchargez les lignes sélectionnées</div>
    <div id="help">
        Téléchargez les lignes sélectionnées du tableau, en spécifiant les champs requis de chaque objet.
        <span style="color:red">Plus le nombre de champs sélectionné est grand, plus long sera le traitement!</span>
    </div>
    <div id="content">
        <center style="display:none;">
            <div class="yetToCome" style="height:20px;width:300px;padding:5px;">
                .CSV <input class="fileTypeSelect" type="radio" name="fileType" value="csv" checked>
                <div style="font-size: 16px;display:inline-block;">|</div>
                .JSON <input class="fileTypeSelect" type="radio" name="fileType" value="json">
            </div>
        </center>
        <input id="sourceURL" type="hidden" name="sourceURL" value="">
        <input id="DownloadfileName" type="hidden" name="DownloadfileName" value="">
        Sélectionnez les champs des objets:<br><br>
        <table id="downloadFieldsTable">
            <tr>
                <td><input type="checkbox" id="selectAllFieldsChechbox" name="masterFieldSelector"></td>
                <td><b>Sélectionner tous les champs</b></td>
                <td><a class="fieldHelper">?</a>
                    <div class="fieldHelpText">
                        Ralentira la création du fichier de beaucoup! N'utiliser cette fonction que si vous
                        nécéssitez VRAIMENT tous les champs des objects.
                    </div>
                </td>
            </tr>
        </table>
        <br>
        <center>
            <input id="submitButton" type="submit" value="Télécharger" onclick="downloadSelectedRows(this)"></input>
            <br><br>
            <div id="selectedCountContainer">
                <span id="selectedRowsCount">0 Sélectionnées dans la table </span>
                <span id="selectedTableTitle"></span>
                <span id="selectedTableId"></span>
            </div>
            <div id="progressBarContainer">
                <progress id="progressBar" value="0" max="100"></progress>
                <span id="progressPercent"> 0%</span>
            </div>
            <br>
        </center>
    </div>
</div>
