{% extends "MainPage.html" %}
{% load staticfiles %}

{% block Title %}SNH | {{comment.author}}'s comment {% endblock %}

{% block extendHead %}
    <link rel="stylesheet" type="text/css" href='{% static "css/table_style.css" %}' name="style">
    <script type="text/javascript" src='{% static "js/table_script.js" %}'></script>
{% endblock %}

{% block content %}
<section class="overviewContainer yetToCome">
    <div class="section_menu">
        <span class="section_title">
            <b>Vue d'ensemble</b>
        </span>
    </div>
    <div class="section_overview_content">
        -- STATISTIQUES DIVERSES --
    </div>
</section>

<!-- VIDEO TABLE -->
{% include "tool/tables/youtubeCommentTable.html" with source="YoutubeComment_replies" %}



{% endblock %}

















































