{% extends "MainPage.html" %}
{% load staticfiles %}
{% load extratags %}


{% block extendHead %}
    <link rel="stylesheet" type="text/css" href='{% static "css/table_style.css" %}' name="style">
    <script type="text/javascript" src='{% static "js/table_script.js" %}'></script>
{% endblock %}

{% block content %}
<section class="overviewContainer">
    <div class="section_menu">
        <span class="section_title" style="text-decoration: none; cursor:default">
           <b>Vidéo Youtube: {{ video.title }}</b>
        </span>
    </div>
    <div class="section_overview_content">
        {% with "YTVideo"|getFieldsAsDict as fields %}
        <div class="overviewDescription">
            <div style="margin-bottom: 15px">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.ident }}"
                        frameborder="0"></iframe>
            </div><br>
            {% if video.description %}
            <b>Description:</b><br>{{ video.description }}
            {% else %}
            <i>Pas de description disponible</i>
            {% endif %}
        </div>
        <br>
        <div class="overviewValue tooltip">
            {{ fields.channel.name }}:
            <hr>
            <a href="/youtube/channel/{{ video.channel.ident }}" class="TableToolLink">
                {{ video.channel }}
            </a>
            <span class="tooltiptext">{{ fields.channel.description }}</span>
        </div>

        <div class="overviewValue tooltip">
            {{ fields.publishedAt.name}}:<hr> {{ video.publishedAt }}
            <span class="tooltiptext">{{ fields.publishedAt.description }}</span>
        </div>
        {% if video.contentRating_raw %}
        <div class="overviewValue tooltip">
            {{ fields.contentRating_raw.name}}:
            <hr> {{ video.contentRating_raw }}
            <span class="tooltiptext">{{ fields.contentRating_raw.description }}</span>
        </div>
        {% endif %}
        <div class="overviewValue tooltip">
            {{ fields.publicStatsViewable.name}}:
            <hr> {{ video.publicStatsViewable }}
            <span class="tooltiptext">{{ fields.publicStatsViewable.description }}</span>
        </div>
        {% if video.recordingLocation %}
        <div class="overviewValue tooltip">
            {{ fields.recordingLocation.name}}:
            <hr> {{ video.recordingLocation }}
            <span class="tooltiptext">{{ fields.recordingLocation.description }}</span>
        </div>
        {% endif %}
        {% if video.streamStartTime %}
        <div class="overviewValue tooltip">
            Vidéo est un <i>stream</i>:
            <hr> Oui
            <span class="tooltiptext">La vidéo a été diffusée en temps réel</span>
        </div>
        <div class="overviewValue tooltip">
            {{ fields.streamStartTime.name}}:
            <hr> {{ video.streamStartTime }}
            <span class="tooltiptext">{{ fields.streamStartTime.description }}</span>
        </div>
        <div class="overviewValue tooltip">
            {{ fields.streamEndTime.name}}:
            <hr> {{ video.streamEndTime }}
            <span class="tooltiptext">{{ fields.streamEndTime.description }}</span>
        </div>
        <div class="overviewValue tooltip">
            {{ fields.streamConcurrentViewers.name}}:
            <hr> {{ video.streamConcurrentViewers }}
            <span class="tooltiptext">{{ fields.streamConcurrentViewers.description }}</span>
        </div>
        {% endif %}
        <div class="overviewValue tooltip">
            {{ fields.view_count.name}}:
            <hr> {{ video.view_count }}
            <span class="tooltiptext">{{ fields.view_count.description }}</span>
        </div>
        <div class="overviewValue tooltip">
            {{ fields.like_count.name}}:
            <hr> {{ video.like_count }}
            <span class="tooltiptext">{{ fields.like_count.description }}</span>
        </div>
        <div class="overviewValue tooltip">
            {{ fields.dislike_count.name}}:
            <hr> {{ video.dislike_count }}
            <span class="tooltiptext">{{ fields.dislike_count.description }}</span>
        </div>
        <div class="overviewValue tooltip">
            {{ fields.favorite_count.name}}:
            <hr> {{ video.favorite_count }}
            <span class="tooltiptext">{{ fields.favorite_count.description }}</span>
        </div>
        <div class="overviewValue tooltip">
            {{ fields.comment_count.name}}:
            <hr> {{ video.comment_count }}
            <span class="tooltiptext">{{ fields.comment_count.description }}</span>
        </div>
        {% if video.deleted_at %}
        <div class="overviewValue tooltip">
            Video supprimée:
            <hr> Oui
            <span class="tooltiptext">La vidéo a été supprimée par son auteur</span>
        </div>
        <div class="overviewValue tooltip">
            Date de deletion:
            <hr> {{ video.deleted_at }}
            <span class="tooltiptext">{{ fields.deleted_at.description }}</span>
        </div>
        {% endif %}
        {% if user.is_superuser %}
        <div class="overviewValue superuserOnly">
            Dernière update:
            <hr> {{ video.last_updated }}
        </div>
        <div class="overviewValue superuserOnly">
           Error on update:
            <hr> {{ video.error_on_update }}
        </div>
        <div class="overviewValue superuserOnly">
            Update frequency:
            <hr> {{ video.update_frequency }} day
        </div>
        <div class="overviewValue superuserOnly">
            File path:
            <hr> {{ video.file_path }}
        </div>
        {% endif %}
        {% endwith %}
    </div>
</section>

<!-- COMMENT TABLE -->
{% include "tool/tables/youtubeCommentTable.html" with source="YoutubeVideo_comments" %}



{% endblock %}

















































