{% extends "MainPage.html" %}
{% load staticfiles %}
{% load extratags %}


{% block extendHead %}
    <link rel="stylesheet" type="text/css" href='{% static "css/table_style.css" %}?v={{ STATICFILES_VERSION }}' name="style">
    <script type="text/javascript" src='{% static "js/table_script.js" %}?v={{ STATICFILES_VERSION }}'></script>
{% endblock %}

{% block content %}
<section class="overviewContainer">
    <div class="section_menu">
        <span class="section_title document_title">
            <b>Chaîne Youtube: <a href="https://www.youtube.com/channel/{{ channel.ident }}" class="TableToolLink" target="_blank">
                {{ channel }}
            </a></b>
        </span>
        {% include "tool/misc.html" with tool="addRemoveFromList" listName="ytChannelsToHarvest" list=user.userProfile.ytChannelsToHarvest.all item=channel %}
    </div>
    <div class="section_overview_content">
        {% include "tool/misc.html" with tool="gridDisplay" item=channel currentUser=user %}
    </div>
</section>

<!-- VIDEO TABLE -->
{% include "tool/tables/youtubeVideoTable.html" with source="YoutubeChannel_vids" %}

<!-- PLAYLISTS TABLE -->
{% include "tool/tables/youtubePlaylistTable.html" with source="YoutubeChannel_playlists" %}

<!-- SUBSCRIPTION TABLE -->
{% include "tool/tables/youtubeChannelTable.html" with source="YoutubeChannel_subscriptions" %}

<!-- SUBSCRIBERS TABLE -->
{% include "tool/tables/youtubeChannelTable.html" with source="YoutubeChannel_subscribers" %}

<!-- COMMENT TABLE -->
{% include "tool/tables/youtubeCommentTable.html" with source="YoutubeChannel_comments" %}

<!-- COMMENT TABLE -->
{% include "tool/tables/youtubeCommentTable.html" with source="YoutubeChannel_postedComments" %}

{% endblock %}

















































