{% extends "MainPage.html" %}
{% load staticfiles %}
{% load extratags %}


{% block extendHead %}
    <link rel="stylesheet" type="text/css" href='{% static "css/table_style.css" %}?v={{ STATICFILES_VERSION }}' name="style">
    <script type="text/javascript" src='{% static "js/table_script.js" %}?v={{ STATICFILES_VERSION }}'></script>
{% endblock %}

{% block content %}
<section class="overviewContainer">
    <div class="section_menu">
        <span class="section_title document_title">
            <b>{{ playlist }}</b>
        </span>
    </div>
    <div class="section_overview_content">
        {% include "tool/misc.html" with tool="gridDisplay" item=playlist currentUser=user %}
    </div>
</section>

<!-- VIDEO TABLE -->
{% include "tool/tables/youtubeVideoTable.html" with source="YoutubePlaylist_vids" %}

{% endblock %}

















































