{% extends "MainPage.html" %}
{% load staticfiles %}
{% load extratags %}


{% block extendHead %}
    <link rel="stylesheet" type="text/css" href='{% static "css/table_style.css" %}?v={{ STATICFILES_VERSION }}' name="style">
    <script type="text/javascript" src='{% static "js/table_script.js" %}?v={{ STATICFILES_VERSION }}'></script>
{% endblock %}

{% block content %}
<section class="overviewContainer">
    <div class="section_menu">
        <span class="section_title document_title">
           <b><a href="http://youtube.com/video/{{ video.ident }}" class="TableToolLink" target="_blank">{{ video }}</a></b>
        </span>
    </div>
    <div class="section_overview_content">
        {% include "tool/misc.html" with tool="gridDisplay" item=video currentUser=user %}
    </div>
</section>

<!-- COMMENT TABLE -->
{% include "tool/tables/youtubeCommentTable.html" with source="YoutubeVideo_comments" %}



{% endblock %}

















































