{% load staticfiles %}


<!--  GUIDE D'UTILISATION  -->
<section class="tableContainer">

    <div class="section_menu">
            <span class="section_title">
                <b>Guide d'utilisation</b>
            </span>
        {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
    </div>
    <div class="section_content">
        Cet outil vous permet de visualiser la proportion de différentes données collectées par le SNH. Pour afficher
        un graphique, il s'agit d'effectuer une sélection d'éléments dans les tableaux au bas de la page. Il est aussi
        possible d'ajuster le seuil de visibilité du graphique, soit de masquer les réponses ayant un nombre en dessous
        d'une valeur minimale.

        <br>
        <i><span class="requiredField">*</span> Si vous rencontrez un problème avec le graphique, tentez d'utiliser un
            navigateur différent, tel que Google Chrome ou Firefox.</i>
    </div>

</section>


<div class="chart_container">
    <div id="chart"></div>
    <div class="graphReloader">
        <img src="{% static 'medias/refresh_icon_128.png' %}" style='height:100%;'>
    </div>
    <div class="threshold_setter_container">
        <span>Seuil de visibilité: </span>
        <input id="threshold_setter" type="number" min="1" placeholder="Min"/>
    </div>
    <!--div class="coma_excluder_container">
        <span>Filter by coma-separation</span>
        <input id="coma_excluder" type="checkbox" checked/>
    </div-->
    {% if source == "location" %}
        <script id="chart_vars">
        var chartType = 'PieChart';
        var chartSource = "/tool/piechart";
        var GET_params = {
            ajax: true,
            chart_type: 'location',
            visibility_threshold: visibilityThreshold,
        }
        var options = {
            title: 'Location',
            animation: {duration: 300, easing: 'out',},
            legend: {
                position: 'right',
                textStyle: {
                    fontSize: 10,
                },
            },
            chartArea: {
                left: 10,
                top: 30,
                bottom: 10,
                right: 10,
            },
            is3D:true,
            tooltip:{
                isHtml:true,
            },
            sliceVisibilityThreshold:0.001,
        };
    </script>

    {% elif source == "type_2" %}

    {% endif %}
</div>