{% load staticfiles %}
{% load extratags %}

<section class="tableContainer">

{% if source == "facebookBase" %}
<div class="">
    <div class="section_menu">
            <span class="section_title">
                <b>Pages publiques collectés</b>
            </span>
        <div class="section_options">

            <span>|</span>
            <span id="new_page" class="section_menuItem"><a
                    onclick="addFBPageFormPopup()">Ajouter</a></span>
            <!-- ADD NEW FBPAGE POPUP-->
            <div class="popup" id="addNewFbPage">
                <div id="title">Ajouter une nouvelle Page</div>
                <div id="help">
                    Ajoutez une nouvelle page Facebook à votre liste en collant l'url de la page ci-dessous.
                </div>
                <div id="content">
                    <form style="max-width:450px;" method="post" action="/facebook/forms/FBAddPage"
                          enctype="multipart/form-data" id="newPageForm">
                        {% csrf_token %}
                        <p>Ajoutez toutes les urls:</p>
                        <center>
                            <table>
                                <tr>
                                </tr>
                            </table>
                            <br>
                            <div onclick="addPageLine()" id="addLineButton">
                                <div class="plusIconInput">
                                    {% include "tool/icons.html" with x=3 y=3 %}
                                </div>
                            </div>
                        </center>
                        <hr>
                        <div class="">
                            <p>Alternativement, sélectionnez un fichier .csv:</p>
                            <input type="file" name="Browse" size="chars">
                            <br><br>
                        </div>
                        <center><input type="submit" value="Soumetre" style="right:0px;"></input></center>
                    </form>
                </div>
                <script id="functions">
                    function addPageLine() {
                        var container = getPopupContainer();
                        container.find('tr').last().after(function () {
                            return $(
                                    '<tr>' +
                                    '<td><input type="text" name="pageUrl" placeholder="https://www.facebook.com/..." ' +
                                    'value="" style="width:300px"></td>' +
                                    '</tr>'
                            );
                        });
                        $(".datePicker").datepicker();
                    }
                    function addFBPageFormPopup() {
                        var addLine = lastPopupId != 'addNewFbPage';
                        displayCenterPopup('addNewFbPage', function () {
                            if (addLine) {
                                addPageLine()
                            }
                            ;
                        });
                        $('#centerPopupContent').find("#newPageForm").unbind('submit');
                        $('#centerPopupContent').find("#newPageForm").submit(function (event) {
                            event.preventDefault();
                            var formData = new FormData($(this)[0]);
                            $('#centerPopupInner').addClass("waitingMask");
                            $('#centerPopupContent').addClass('unselectable');
                            $.ajax({
                                url: $(this).attr("action"),
                                type: "POST",
                                data: formData,
                                processData: false,
                                contentType: false,
                                success: function (response) {
                                    $('#centerPopupInner').removeClass("waitingMask");
                                    $('#centerPopupContent').removeClass('unselectable');
                                    $('#centerPopupOutter').hide();
                                    reloadTable('#FbPagesTable')
                                    if (response['status'] == 'ok') {
                                        displayNewMessages(response['messages'], 4000)
                                    } else if (response['status'] == 'exception') {
                                        displayNewErrors(response['errors'], 4000)
                                    }
                                    ;
                                }
                            });
                        });
                    }
                </script>
            </div>

            <span>|</span>
            <span id="remove_page" class="section_menuItem"><a onclick="removeSelectedPages()">Retirer</a></span>
            <!-- REMOVE FBPAGE POPUP-->
            <div class="popup" id="removeFbPage">
                <div id="title">Retirer</div>
                <div id="help">
                    Retire les pages Facebook actuellement sélectionnés de votre liste de collecte. Les
                    informations ne seront pas supprimées, mais vous ne les verrez plus apparaitre dans
                    votre liste "Pages publiques collectés".
                </div>
                <div id="content">
                    <center>Êtes-vous sûr de vouloir supprimer les <br> pages Facebook de votre liste de
                        collecte?
                        <br><br>
                        <div id="selectedFbPages">0 lignes selectionnées</div>
                        <br>
                        <input type="submit" value="Remove" onclick="submitForm()"></input>
                    </center>
                </div>
                <script id="functions">
                    function removeSelectedPages() {
                        lastPopupId = null;
                        var displayer = $('#removeFbPage').children('#content').children().children('#selectedFbPages');
                        var length = selectedCounts['#FbPagesTable']
                        if (!length) {
                            alert("Vous devez d'abpord sélectioner une ligne du tableau.")
                        }
                        else {
                            displayer.html("" + length + " row" + (length > 1 ? "s" : "") + " selected");
                            displayCenterPopup('removeFbPage')
                        }
                    }
                    function submitForm() {
                        url = '/removeSelectedItems?pageURL=' +
                                window.location.pathname + '&tableId=FbPagesTable' +
                                '&listToRemoveFrom=facebookPagesToHarvest';
                        executeAjaxAndDisplayMessages(url, '#FbPagesTable');
                    }
                </script>
            </div>

            {% include "tool/tables/tableMenuItems.html" with name="downloadFields" className="FBPage" filename="Harvested_Facebook_Pages" %}
            {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
        </div>
        {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
    </div>
    <div class="section_content">
        <table class="display" id="FbPagesTable" width="100%" drawn='False'>
            <thead>
            <tr>
                <th><input type="checkbox" class='table_select_master'></input></th>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Nombre de fans</th>
                <th>Nombre de références</th>
                <th></th>
            </tr>
            </thead>
            <script class="tableVars">
                var modelName = "FBPage";
                var srcs = [
                    {
                        //modelName   :   "",
                        attr        :   "facebookPagesToHarvest",
                        //tableId     :   null,
                        //id            : "{{ item.pk }}"
                    }
                ]
                var fields = "name,category,fan_count,talking_about_count,link,pk";
                var columnsDefs = [
                    {
                        "orderable": false,
                        "searchable": false,
                        "className": 'select-checkbox',
                        "targets": 0,
                        "render": function () {
                            return ""
                        }
                    },
                    {
                        "targets": 1,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['name'] == null) {
                                return '<i>indéfini</i>'
                            } else {
                                return '<a href="/facebook/page/' + row['pk'] + '" ' +
                                        'class="TableToolLink">' + truncate_text(row['name'], 20, true) + '</a>';
                            }
                        }
                    },
                    {
                        "targets": 2,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['category'] == null) {
                                return ""
                            }
                            ;
                            return row['category'];
                        }
                    },
                    {
                        "targets": 3,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['fan_count'] == null) {
                                return ""
                            }
                            ;
                            return "<center>" + row['fan_count'] + "</center>";
                        }
                    },
                    {
                        "targets": 4,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['talking_about_count'] == null) {
                                return ""
                            }
                            ;
                            return "<center>" + row['talking_about_count'] + "</center>";
                        }
                    },
                    {
                        "targets": 5,
                        "searchable": false,
                        "orderable": false,
                        "render": function (data, type, row) {
                            if (row['link'] == null) {
                                return ""
                            }
                            ;
                            return "<a target='_blank' href='" + row["link"] + "' class='TableToolLink'>Voir page</a>";
                        }
                    },
                ]
            </script>
        </table>
    </div>
</div>


{% endif %}
</section>