{% load staticfiles %}
{% load extratags %}

{% if name == "reloadTable" %}

<span>|</span>
<span class="section_menuItem" id="reloadTableLink">Recharger la table</span>

{% elif name == "openCloseIcon" %}

<div class="tableOpenCloseIcon" type="plus">
    <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
</div>

{% elif name == "downloadFilename" %}
<span>|</span>
<span class="section_menuItem tableDownloader" filename={{ filename }}>Télécharger la sélection

{% elif name == "downloadFields" %}
{% include "tool/tables/tableMenuItems.html" with name="downloadFilename" filename=filename %}
<div class="downloadFields">
    {% for key,val in className|getFields %}
    <div field="{{key}}" helper="{{val.description}}">{{ val.name }}</div>
    {% endfor %}
</div>
</span>

{% elif name == "excludeRetweets"%}

<span>|</span>
<span><input type="checkbox" name="exclude_retweets" class="option_checkbox"> Exclure les retweets</span>

{% endif %}