{% load staticfiles %}
{% load extratags %}

{% if name == "reloadTable" %}

<span>|</span>
<span class="section_menuItem" id="reloadTableLink" title="Recharger la table">
    {% include "tool/icons.html" with x=0 y=5 className="tableOptionIcon" %}
</span>

{% elif name == "openCloseIcon" %}

<div class="tableOpenCloseIcon" type="plus">
    {% include "tool/icons.html" with x=3 y=3 className="openCloseIcon"%}
</div>

{% elif name == "downloadFilename" %}
<span>|</span>
<span class="section_menuItem tableDownloader" filename={{ filename }} title="Télécharger la selection">
    {% include "tool/icons.html" with x=5 y=4 className="tableOptionIcon" %}

{% elif name == "downloadFields" %}
{% include "tool/tables/tableMenuItems.html" with name="downloadFilename" filename=filename %}
<div class="downloadFields">
    {% for key,val in className|getFields %}
    <div field="{{key}}" helper="{{val.description}}">{{ val.name }}</div>
    {% endfor %}
</div>
</span>

{% elif name == "excludeRetweets"%}

<span>|</span>
<span><input type="checkbox" name="exclude_retweets" class="option_checkbox" title="Exclure les retweets">
    <!--{% include "tool/icons.html" with x=1 y=5 className="tableOptionIcon" %}-->
    Exclure les retweets
</span>

{% endif %}