{% load staticfiles %}
{% load extratags %}

<section class="tableContainer">

    {% if source == "TwitterBase" %}
        <div class="section_menu">
            <span class="section_title">
                <b>Utilisateurs collectés</b>
            </span>
            <div class="section_options">
                <span>|</span>
                <span id="new_user" class="section_menuItem"><a
                        onclick="addTWUserFormPopup()">Ajouter</a></span>
                <!-- ADD NEW TWUSER POPUP-->
                <div class="popup" id="addNewTwitterUser">
                    <div id="title">Ajouter un nouvel utilisateur</div>
                    <div id="help">
                        Ajoutez un nouvel utilisateur Twitter à votre liste en écrivant leur nom d'utilisateur
                        (screen_name), ou en téléchargeant un fichier .csv, dans lequel chaque ligne correspond
                        à un nom d'utilisateur distinct et valide.
                    </div>
                    <div id="content">
                        <form style="max-width:450px;" method="post" action="/twitter/addUser"
                              enctype="multipart/form-data" id="newUserForm">
                            {% csrf_token %}
                            <p>Écrivez tous les "screen-names":</p>
                            <center>
                                <input id='slot_1' type="text" name="screen_name" placeholder="screen name" value="">
                                <br><br>
                                <div onclick="addUserLine(this)">
                                    <img src="{% static 'medias/plus_icon_128.png' %}" style="height:15px; cursor:pointer;">
                                </div>
                            </center>
                            <hr>
                            <p>Alternativement, sélectionnez un fichier .csv:</p>
                            <input type="file" name="Browse" size="chars">
                            <br><br>
                            <center><input type="submit" value="Soumetre" style="right:0px;"></input></center>
                        </form>
                    </div>
                    <script id="functions">
                        function addUserLine(elem) {
                            $(elem).parent().children('input').last().after(function () {
                                return $("<input type='text' name='screen_name' placeholder='screen_name'>");
                            });
                        }
                        function addTWUserFormPopup(){
                            displayCenterPopup('addNewTwitterUser')
                            $('#centerPopupContent').find("#newUserForm").unbind('submit');
                            $('#centerPopupContent').find("#newUserForm").submit(function (event) {
                                event.preventDefault();
                                var formData = new FormData($(this)[0]);
                                $.ajax({
                                    url: $(this).attr("action"),
                                    type: "POST",
                                    data: formData,
                                    processData: false,
                                    contentType: false,
                                    success: function (response) {
                                        $('#centerPopupOutter').hide();
                                        reloadTable('#TWUserTable')
                                        if (response['status'] == 'ok') {
                                            displayNewMessages(response['messages'])
                                        } else if (response['status'] == 'exception') {
                                            displayNewErrors(response['errors'])
                                        }
                                        ;
                                    }
                                });
                            });
                        }
                    </script>
                </div>
                <span>|</span>
                <span id="delete_user" class="section_menuItem"><a onclick="removeSelectedUsers()">Retirer</a></span>
                <!-- REMOVE TWUSER POPUP-->
                <div class="popup" id="removeTwitterUser">
                    <div id="title">Retirer</div>
                    <div id="help">
                        Retire les utilisateurs Twitter actuellement sélectionnés de votre liste de collecte. Les informations
                        ne seront pas supprimées, mais vous ne les verrez plus apparaitre dans votre liste d'"Utilisateurs
                        Collectés".
                    </div>
                    <div id="content">
                        <center>Êtes-vous sûr de vouloir supprimer les <br> utilisateurs Twitter de votre liste de collecte?
                            <br><br>
                            <div id="selectedTWUsers">0 lignes selectionnées</div>
                            <br>
                            <input type="submit" value="Remove" onclick="submitForm()"></input>
                        </center>
                    </div>
                    <script id="functions">
                        function removeSelectedUsers() {
                            lastPopupId = null;
                            var displayer = $('#removeTwitterUser').children('#content').children().children('#selectedTWUsers');
                            var length = selectedCounts['#TWUserTable']
                            if (!length) {
                                alert("Vous devez d'abpord sélectioner une ligne du tableau.")
                            }
                            else {
                                displayer.html(""+length+" row"+(length>1?"s":"")+" selected");
                                displayCenterPopup('removeTwitterUser')
                            }
                        }
                        function submitForm() {
                            url = '/removeSelectedItems?pageURL=' +
                                window.location.pathname + '&tableId=TWUserTable' +
                                '&listToRemoveFrom=twitterUsersToHarvest';
                            executeAjaxAndDisplayMessages(url, '#TWUserTable');
                        }
                    </script>
                </div>
                <span>|</span>
                <span id="TWUser" class="section_menuItem tableDownloader" filename="Harvested_Twitter_Users">Télécharger la sélection
                    <!-- DOWNLOAD FIELDS -->
                    <div class="downloadFields">
                    {% for key,val in 'TWUser'|getFields %}
                        <div field="{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                    {% endfor %}
                    </div>
                </span>
                <span>|</span>
                <span id="reloadTableLink" class="section_menuItem">Recharger la table</span>
            </div>
            <div class="tableOpenCloseIcon" type="plus">
                <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
            </div>
        </div>
        <div class="section_content">
            <table class="display" id="TWUserTable" width="100%" drawn='False'>
                <thead>
                    <tr>
                        <th><input type="checkbox" class='table_select_master'></input></th>
                        <th>Nom</th>
                        <th>Nom d'utilisateur</th>
                        <th>Nombre d'abonnés</th>
                        <th>Nombre d'abonnements</th>
                        <th>Nombre de status</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <script class="tableVars">
                    var fields = "name,screen_name,followers_count,friends_count,statuses_count,location";
                    var url = "/twitter/TWUserTable/{{user.id}}/";
                    var columnsDefs = [
                        {
                            "orderable": false,
                            "searchable": false,
                            "className": 'select-checkbox',
                            "targets": 0,
                            "render": function () {
                                return ""
                            }
                        },
                        {
                            "targets": 1,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['name'] == null) {
                                    return '<i>indéfini</i>'
                                }
                                else {
                                    return row['name']
                                }
                                ;
                            }
                        },
                        {
                            "targets": 2,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['screen_name'] == null) {
                                    return '<i>indéfini</i>'
                                } else {
                                    return '<a href="/twitter/user/' + row['screen_name'] + '" class="TableToolLink snippetHover">' + row['screen_name'] + '</a>';
                                }
                            }
                        },
                        {
                            "targets": 3,
                            "searchable": false,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['followers_count'] == null) {
                                    return '<i>indéfini</i>'
                                }
                                else {
                                    return row['followers_count']
                                }
                                ;
                            }
                        },
                        {
                            "targets": 4,
                            "searchable": false,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['friends_count'] == null) {
                                    return '<i>indéfini</i>'
                                }
                                else {
                                    return row['friends_count']
                                }
                                ;
                            }
                        },
                        {
                            "targets": 5,
                            "searchable": false,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['statuses_count'] == null) {
                                    return '<i>indéfini</i>'
                                }
                                else {
                                    return row['statuses_count']
                                }
                                ;
                            }
                        },
                        {
                            "targets": 6,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['location'] == '') {
                                    return '<i>indéfini</i>'
                                }
                                else {
                                    return row['location']
                                }
                                ;
                            }
                        },
                    ]
                </script>
            </table>
        </div>

    {% elif source == "TwitterUserFollowers" %}
        <div class="section_menu">
                <span class="section_title">
                    <b>Abonnés</b>
                </span>
            <div class="section_options">
                <span>|</span>
                <span id="downloadAllUsers" class="section_menuItem tableDownloader" filename="{{twUser}}_followers">DTélécharger la sélection
                    <!-- DOWNLOAD FIELDS -->
                    <div class="downloadFields">
                        {% for key,val in 'follower'|getFields %}
                        <div field="{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                        {% for key,val in 'TWUser'|getFields %}
                        <div field="value__{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                    </div>
                </span>
                <span>|</span>
                <span id="reloadTableLink" class="section_menuItem">Recharger la table</span>
            </div>
            <div class="tableOpenCloseIcon" type="plus">
                <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
            </div>
        </div>
        <div class="section_content">
            <table class="display" id="TWFollowersTable" width="100%" drawn='False'>
                <thead>
                <tr>
                    <th><input type="checkbox" class='table_select_master'></input></th>
                    <th>Nom</th>
                    <th>Nom d'utilisateur</th>
                    <th>Location</th>
                    <th>Depuis (au minimum)</th>
                    <th>Jusqu'à</th>
                </tr>
                </thead>
                <script class="tableVars">
                    var fields = "value__name,value__screen_name,value__location,recorded_time,ended";
                    var url = "/twitter/TWFollowersTable/{{twUser.id}}/";
                    var columnsDefs = [
                        {
                            "orderable": false,
                            "searchable": false,
                            "className": 'select-checkbox',
                            "targets": 0,
                            "render": function () {
                                return ""
                            }
                        },
                        {
                            "targets": 1,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['value__name'] == null) {
                                    return '<i>indéfini</i>'
                                }
                                else {
                                    return row['value__name']
                                }
                                ;
                            }
                        },
                        {
                            "targets": 2,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['value__screen_name'] == null) {
                                    return '<i>indéfini</i>'
                                } else {
                                    return '<a href="/twitter/user/' + row['value__screen_name'] + '" class="TableToolLink snippetHover">' + row['value__screen_name'] + '</a>';
                                }
                            }
                        },
                        {
                            "targets": 3,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['value__location'] == '') {
                                    return '<i>indéfini</i>'
                                }
                                else {
                                    return row['value__location']
                                }
                                ;
                            }
                        },
                        {
                            "searchable": false,
                            "targets": 4,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['recorded_time'] == '') {
                                    return '<i>indéfini</i>'
                                }
                                else {
                                    return row['recorded_time']
                                }
                                ;
                            }
                        },
                        {
                            "searchable": false,
                            "targets": 5,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['ended'] == '') {
                                    return '<i>indéfini</i>'
                                }
                                else {
                                    return row['ended']
                                }
                                ;
                            }
                        },
                    ]
                </script>
            </table>
        </div>

    {% elif source == "TwitterUserFriends" %}
        <div class="section_menu">
                <span class="section_title">
                    <b>Abonnements</b>
                </span>
            <div class="section_options">
                <span>|</span>
                <span id="downloadAllUsers" class="section_menuItem tableDownloader" filename="{{twUser}}_following"> Télécharger la sélection
                    <!-- DOWNLOAD FIELDS -->
                    <div class="downloadFields">
                        {% for key,val in 'follower'|getFields %}
                        <div field="{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                        {% for key,val in 'TWUser'|getFields %}
                        <div field="twuser__{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                    </div>
                </span>
                <span>|</span>
                <span id="reloadTableLink" class="section_menuItem">Recharger la table</span>
            </div>
            <div class="tableOpenCloseIcon" type="plus">
                <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
            </div>
        </div>
        <div class="section_content">
            <table class="display" id="TWFriendsTable" width="100%" drawn='False'>
                <thead>
                <tr>
                    <th><input type="checkbox" class='table_select_master'></input></th>
                    <th>Nom</th>
                    <th>Nom d'utilisateur</th>
                    <th>Location</th>
                    <th>Depuis (au minimum)</th>
                    <th>Jusqu'à</th>
                </tr>
                </thead>
                <script class="tableVars">
                    var fields = "twuser__name,twuser__screen_name,twuser__location,recorded_time,ended";
                    var url = "/twitter/TWFriendsTable/{{twUser.id}}/";
                    var columnsDefs = [
                        {
                            "orderable": false,
                            "searchable": false,
                            "className": 'select-checkbox',
                            "targets": 0,
                            "render": function () {
                                return ""
                            }
                        },
                        {
                            "targets": 1,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['twuser__name'] == null) {
                                    return '<i>indéfini</i>'
                                }
                                else {
                                    return row['twuser__name']
                                }
                                ;
                            }
                        },
                        {
                            "targets": 2,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['twuser__screen_name'] == null) {
                                    return '<i>indéfini</i>'
                                } else {
                                    return '<a href="/twitter/user/' + row['twuser__screen_name'] + '" class="TableToolLink snippetHover">' + row['twuser__screen_name'] + '</a>';
                                }
                            }
                        },
                        {
                            "targets": 3,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['twuser__location'] == '') {
                                    return '<i>indéfini</i>'
                                }
                                else {
                                    return row['twuser__location']
                                }
                                ;
                            }
                        },
                        {
                            "searchable": false,
                            "targets": 4,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['recorded_time'] == '') {
                                    return '<i>indéfini</i>'
                                }
                                else {
                                    return row['recorded_time']
                                }
                                ;
                            }
                        },
                        {
                            "searchable": false,
                            "targets": 5,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['ended'] == '') {
                                    return '<i>indéfini</i>'
                                }
                                else {
                                    return row['ended']
                                }
                                ;
                            }
                        },
                    ]
                </script>
            </table>
        </div>

    {% elif source == "TwitterTweetMentions" %}
        <div class="section_menu">
            <span class="section_title">
                <b>Utilisateurs mentionnés</b>
            </span>
            <div class="section_options">
                <span>|</span>
                <span id="downloadTweets" class="section_menuItem tableDownloader"
                      filename="Tweet_{{ tweet.get_ident }}_user_mentions">Télécharger la sélection
                    <!-- DOWNLOAD FIELDS -->
                    <div class="downloadFields">
                        {% for key,val in 'TWUser'|getFields %}
                        <div field="{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                    </div>
                </span>
                <span>|</span>
                <span id="reloadTableLink" class="section_menuItem">Recharger la table</span>
            </div>
            <div class="tableOpenCloseIcon" type="plus">
                <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
            </div>
        </div>
        <div class="section_content">
        <table class="display" id="TWMentionnedUsersTable" width="100%" drawn='False'>
            <thead>
            <tr>
                <th><input type="checkbox" class='table_select_master'></input></th>
                <th>Nom</th>
                <th>Nom d'utilisateur</th>
                <th>Nombre d'abonnés</th>
                <th>Nombre d'abonnements</th>
                <th>Nombre de status</th>
                <th>Location</th>
            </tr>
            </thead>
            <script class="tableVars">
                var fields = "name,screen_name,followers_count,friends_count,statuses_count,location";
                var url = "/twitter/TWMentionnedUsers/{{tweet.id}}/";
                var columnsDefs = [
                    {
                        "orderable": false,
                        "searchable": false,
                        "className": 'select-checkbox',
                        "targets": 0,
                        "render": function () {
                            return ""
                        }
                    },
                    {
                        "targets": 1,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['name'] == null) {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['name']
                            }
                            ;
                        }
                    },
                    {
                        "targets": 2,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['screen_name'] == null) {
                                return '<i>indéfini</i>'
                            } else {
                                return '<a href="/twitter/user/' + row['screen_name'] + '" class="TableToolLink snippetHover">' + row['screen_name'] + '</a>';
                            }
                        }
                    },
                    {
                        "targets": 3,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['followers_count'] == null) {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['followers_count']
                            }
                            ;
                        }
                    },
                    {
                        "targets": 4,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['friends_count'] == null) {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['friends_count']
                            }
                            ;
                        }
                    },
                    {
                        "targets": 5,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['statuses_count'] == null) {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['statuses_count']
                            }
                            ;
                        }
                    },
                    {
                        "targets": 6,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['location'] == '') {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['location']
                            }
                            ;
                        }
                    },
                ]
            </script>
        </table>
    </div>

    {% elif source == "TwitterTweetFavoritedBy" %}
        <div class="section_menu">
            <span class="section_title">
                <b>Favorité par</b>
            </span>
            <div class="section_options">
                <span>|</span>
                <span id="downloadTweets" class="section_menuItem tableDownloader"
                      filename="Tweet_{{ tweet.get_ident }}_favorited_by">Télécharger la sélection
                    <!-- DOWNLOAD FIELDS -->
                    <div class="downloadFields">
                        {% for key,val in 'favorite_tweet'|getFields %}
                        <div field="{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                        {% for key,val in 'TWUser'|getFields %}
                        <div field="twuser__{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                    </div>
                </span>
                <span>|</span>
                <span id="reloadTableLink" class="section_menuItem">Recharger la table</span>
            </div>
            <div class="tableOpenCloseIcon" type="plus">
                <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
            </div>
        </div>
        <div class="section_content">
        <table class="display" id="TWFavoritedByTable" width="100%" drawn='False'>
            <thead>
            <tr>
                <th><input type="checkbox" class='table_select_master'></input></th>
                <th>Nom</th>
                <th>Nom d'utilisateur</th>
                <th>Favoris depuis (au moins)</th>
                <th>Favoris jusqu'à</th>
            </tr>
            </thead>
            <script class="tableVars">
                var fields = "twuser__name,twuser__screen_name,recorded_time,ended";
                var url = "/twitter/TWFavoritedBy/{{tweet.id}}/";
                var columnsDefs = [
                    {
                        "orderable": false,
                        "searchable": false,
                        "className": 'select-checkbox',
                        "targets": 0,
                        "render": function () {
                            return ""
                        }
                    },
                    {
                        "targets": 1,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['twuser__name'] == null) {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['twuser__name']
                            }
                            ;
                        }
                    },
                    {
                        "targets": 2,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['twuser__screen_name'] == null) {
                                return '<i>twuser__screen_name</i>'
                            } else {
                                return '<a href="/twitter/user/' + row['twuser__screen_name'] + '" class="TableToolLink snippetHover">' + row['twuser__screen_name'] + '</a>';
                            }
                        }
                    },
                    {
                        "targets": 3,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                                return row['recorded_time'];
                        }
                    },
                    {
                        "targets": 4,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            return row['ended'];
                        }
                    }
                ]
            </script>
        </table>
    </div>

    {% elif source == "ToolLinechart_userActivity" %}
        <div class="section_menu">
            <span class="section_title">
                <b>Activité des utilisateurs Twitter</b>
            </span>
            <div class="section_options">
                <span>|</span>
                <span id="reloadTableLink" class="section_menuItem">Recharger la table</span>
            </div>
            <div class="tableOpenCloseIcon" type="plus">
                <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
            </div>
        </div>
        <div class="section_content">
        <table class="display" id="TWUserTable" width="100%" drawn='False'>
            <thead>
            <tr>
                <th><input type="checkbox" class='table_select_master'></input></th>
                <th>Nom</th>
                <th>Nom d'utilisateur</th>
                <th>Nombre d'abonnés</th>
                <th>Nombre d'abonnements</th>
                <th>Nombre de status</th>
                <th>Location</th>
            </tr>
            </thead>
            <script class="tableVars">
                var fields = "name,screen_name,followers_count,friends_count,statuses_count,location";
                var url = "/twitter/TWUserTable/{{user.id}}/";
                var columnsDefs = [
                    {
                        "orderable": false,
                        "searchable": false,
                        "className": 'select-checkbox',
                        "targets": 0,
                        "render": function () {
                            return ""
                        }
                    },
                    {
                        "targets": 1,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['name'] == null) {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['name']
                            }
                            ;
                        }
                    },
                    {
                        "targets": 2,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['screen_name'] == null) {
                                return '<i>indéfini</i>'
                            } else {
                                return '<a href="/twitter/user/' + row['screen_name'] + '" class="TableToolLink snippetHover">' + row['screen_name'] + '</a>';
                            }
                        }
                    },
                    {
                        "targets": 3,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['followers_count'] == null) {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['followers_count']
                            }
                            ;
                        }
                    },
                    {
                        "targets": 4,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['friends_count'] == null) {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['friends_count']
                            }
                            ;
                        }
                    },
                    {
                        "targets": 5,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['statuses_count'] == null) {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['statuses_count']
                            }
                            ;
                        }
                    },
                    {
                        "targets": 6,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['location'] == '') {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['location']
                            }
                            ;
                        }
                    },
                ]
            </script>
        </table>
    </div>

    {% elif source == "ToolLinechart_userFollowers" %}
        <div class="section_menu">
                <span class="section_title">
                    <b>Nombre d'abonnés d'utilisateurs Twitter</b>
                </span>
            <div class="section_options">
                <span>|</span>
                <span id="reloadTableLink" class="section_menuItem">Recharger la table</span>
            </div>
            <div class="tableOpenCloseIcon" type="plus">
                <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
            </div>
        </div>
        <div class="section_content">
        <table class="display" id="TWUserTable" width="100%" drawn='False'>
            <thead>
            <tr>
                <th><input type="checkbox" class='table_select_master'></input></th>
                <th>Nom</th>
                <th>Nom d'utilisateur</th>
                <th>Nombre d'abonnés</th>
                <th>Nombre d'abonnements</th>
                <th>Nombre de status</th>
                <th>Location</th>
            </tr>
            </thead>
            <script class="tableVars">
                var fields = "name,screen_name,followers_count,friends_count,statuses_count,location";
                var url = "/twitter/TWUserTable/{{user.id}}/";
                var columnsDefs = [
                    {
                        "orderable": false,
                        "searchable": false,
                        "className": 'select-checkbox',
                        "targets": 0,
                        "render": function () {
                            return ""
                        }
                    },
                    {
                        "targets": 1,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['name'] == null) {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['name']
                            }
                            ;
                        }
                    },
                    {
                        "targets": 2,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['screen_name'] == null) {
                                return '<i>indéfini</i>'
                            } else {
                                return '<a href="/twitter/user/' + row['screen_name'] + '" class="TableToolLink snippetHover">' + row['screen_name'] + '</a>';
                            }
                        }
                    },
                    {
                        "targets": 3,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['followers_count'] == null) {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['followers_count']
                            }
                            ;
                        }
                    },
                    {
                        "targets": 4,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['friends_count'] == null) {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['friends_count']
                            }
                            ;
                        }
                    },
                    {
                        "targets": 5,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['statuses_count'] == null) {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['statuses_count']
                            }
                            ;
                        }
                    },
                    {
                        "targets": 6,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['location'] == '') {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['location']
                            }
                            ;
                        }
                    },
                ]
            </script>
        </table>
    </div>

    {% elif source == "ToolPiechartFollowerLocation" %}
        <div class="section_menu">
            <span class="section_title">
                <b>Location des abonnés d'utilisateurs Twitter</b>
            </span>
        <div class="section_options">
            <span>|</span>
            <span id="reloadTableLink" class="section_menuItem">Recharger la table</span>
        </div>
        <div class="tableOpenCloseIcon" type="plus">
            <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
        </div>
    </div>
        <div class="section_content">
        <table class="display" id="TWUserTableFollowerLoc" width="100%" drawn='False'>
            <thead>
            <tr>
                <th><input type="checkbox" class='table_select_master'></input></th>
                <th>Nom</th>
                <th>Nom d'utilisateur</th>
                <th>Nombre d'abonnés</th>
                <th>Nombre d'abonnements</th>
                <th>Nombre de status</th>
                <th>Location</th>
            </tr>
            </thead>
            <script class="tableVars">
                var fields = "name,screen_name,followers_count,friends_count,statuses_count,location";
                var url = "/twitter/TWUserTable/{{user.id}}/";
                var columnsDefs = [
                    {
                        "orderable": false,
                        "searchable": false,
                        "className": 'select-checkbox',
                        "targets": 0,
                        "render": function () {
                            return ""
                        }
                    },
                    {
                        "targets": 1,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['name'] == null) {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['name']
                            }
                            ;
                        }
                    },
                    {
                        "targets": 2,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['screen_name'] == null) {
                                return '<i>indéfini</i>'
                            } else {
                                return '<a href="/twitter/user/' + row['screen_name'] + '" class="TableToolLink snippetHover">' + row['screen_name'] + '</a>';
                            }
                        }
                    },
                    {
                        "targets": 3,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['followers_count'] == null) {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['followers_count']
                            }
                            ;
                        }
                    },
                    {
                        "targets": 4,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['friends_count'] == null) {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['friends_count']
                            }
                            ;
                        }
                    },
                    {
                        "targets": 5,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['statuses_count'] == null) {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['statuses_count']
                            }
                            ;
                        }
                    },
                    {
                        "targets": 6,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            if (row['location'] == '') {
                                return '<i>indéfini</i>'
                            }
                            else {
                                return row['location']
                            }
                            ;
                        }
                    },
                ]
            </script>
        </table>
    </div>

    {% endif %}
</section>