{% load staticfiles %}
{% load extratags %}

<section class="tableContainer">

    {% if source == "TwitterBase" %}
    <div class="">
        <div class="section_menu">
            <span class="section_title">
                <b>Hashtags collectés</b>
            </span>
            <div class="section_options">
                <span>|</span>
                <span class="section_menuItem"><a onclick="addAshtagPopup()">Ajouter</a></span>
                <!-- ADD NEW HASHTAG POPUP-->
                <div class="popup" id="addNewHashtag">
                    <div id="title">Ajouter un nouveau <i>hashtag</i></div>
                    <div id="help">
                        Ajoute un nouvel <i>hashtag</i> à votre liste de collecte. Peut commencer ou non avec le
                        caractère "#". Une date de début et de fin doit être fournie pour chaque hashtag spécifié.
                        Celles-ci correspondent à la période durant laquelle le hashtag sera collectée.
                        Si la méthode CSV est utilisée, chaque ligne du fichier doit prendre la forme suivante:
                        <br><br>
                        <center>
                            <b>terme,date_de_debut,date_de_fin</b>
                        </center>
                        <br>
                        Où start_date < end_date et où les deux sont écrits tels que: MM/JJ/AAAA. Par exemple:
                        <br><br>
                        <center>
                            <b>#GRCP,01/01/2012,12/31/2014</b>
                        </center>
                        <br> est un format valide.
                    </div>
                    <div id="content">
                        <form style="max-width:450px;" method="post" action="/twitter/addHashtag"
                              enctype="multipart/form-data" id="addHashtagPopupForm">
                            {% csrf_token %}
                            <p>Spécifiez tous les hashtags:</p>
                            <center>
                                <table>
                                    <tr>
                                        <td>Terme</td>
                                        <td>Date de début</td>
                                        <td>Date de fin</td>
                                    </tr>
                                </table>
                                <br>
                                <div onclick="addHashtagLine()" id="addLineButton">
                                    <div class="plusIconInput">
                                        {% include "tool/icons.html" with x=3 y=3 %}
                                    </div>
                                </div>
                            </center>
                            <hr>
                            <p>Alternativement, sélectionnez un fichier .csv:</p>
                            <input type="file" name="Browse" size="chars">
                            <br><br>
                            <center><input type="submit" value="Soumettre" style="right:0px;"></input></center>
                        </form>
                    </div>
                    <script id="functions">
                        function addHashtagLine() {
                            var container = getPopupContainer();
                            container.find('tr').last().after(function () {
                                return $(
                                        '<tr>' +
                                        '<td><input type="text" name="hashtags" placeholder="Terme" value=""></td>' +
                                        '<td><input type="text" name="starts" class="datePicker"></td> ' +
                                        '<td><input type="text" name="ends" class="datePicker"></td>' +
                                        '</tr>'
                                );
                            });
                            $(".datePicker").datepicker();
                        }
                        function addAshtagPopup() {
                            var addLine = lastPopupId != 'addNewHashtag';
                            displayCenterPopup('addNewHashtag', function () {
                                if (addLine) {
                                    addHashtagLine()
                                }
                                ;
                            });
                            $('#centerPopupContent').find("#addHashtagPopupForm").unbind('submit');
                            $('#centerPopupContent').find("#addHashtagPopupForm").submit(function (event) {
                                event.preventDefault();
                                var formData = new FormData($(this)[0]);
                                $('#centerPopupInner').addClass("waitingMask");
                                $('#centerPopupContent').addClass('unselectable');
                                $.ajax({
                                    url: $(this).attr("action"),
                                    type: "POST",
                                    data: formData,
                                    processData: false,
                                    contentType: false,
                                    success: function (response) {
                                        $('#centerPopupInner').removeClass("waitingMask");
                                        $('#centerPopupContent').removeClass('unselectable');
                                        $('#centerPopupOutter').hide();
                                        reloadTable('#TWHashtagTable')
                                        if (response['status'] == 'ok') {
                                            displayNewMessages(response['messages'])
                                        } else if (response['status'] == 'exception') {
                                            displayNewErrors(response['errors'])
                                        }
                                        ;
                                    }
                                });
                            });
                        }
                    </script>
                </div>
                <span>|</span>
                <span class="section_menuItem"><a onclick="displayRemoveHashtagsPopup()">Retirer</a></span>
                <!-- REMOVE HASHTAG POPUP-->
                <div class="popup" id="removeHashtags">
                    <div id="title">Retirer</div>
                    <div id="help">
                        Retire un hashtag de votre liste de collecte. Ni le hashtag ni les tweets associés ne seront
                        supprimés.
                    </div>
                    <div id="content">
                        <center>êtes-vous sûr de vouloir supprimer les <br> hashtags sélectionnés de votre liste de
                            collecte?
                            <br><br>
                            <div id="selectedHashtagsNumber">0 lignes sélectionnées</div>
                            <br>
                            <input type="submit" value="Remove" onclick="submitRemoveHashtagForm()"></input>
                        </center>
                    </div>
                    <script id="functions">
                        function displayRemoveHashtagsPopup() {
                            lastPopupId = null;
                            var displayer = $('#removeHashtags').children('#content').children().children('#selectedHashtagsNumber');
                            var length = selectedCounts['#TWHashtagTable']
                            if (!length) {
                                alert("Vous devez d'abord sélectionner une ligne dans le tableau.")
                            }
                            else {
                                displayer.html("" + length + " row" + (length > 1 ? "s" : "") + " selected");
                                displayCenterPopup('removeHashtags')
                            }

                        }

                        function submitRemoveHashtagForm() {
                            url = '/removeSelectedItems?pageURL=' +
                                    window.location.pathname + '&tableId=TWHashtagTable' +
                                    '&listToRemoveFrom=twitterHashtagsToHarvest';
                            executeAjaxAndDisplayMessages(url, '#TWHashtagTable');
                        }
                    </script>
                </div>
                <span>|</span>
                <span id="HashtagHarvester" class="section_menuItem tableDownloader" filename="Harvested_Hashtags"
                      title="Télécharger la sélection">
                    {% include "tool/icons.html" with x=5 y=4 className="tableOptionIcon" %}
                    <!-- DOWNLOAD FIELDS -->
                    <div class="downloadFields">
                        {% for key,val in 'HashtagHarvester'|getFields %}
                        <div field="{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                        {% for key,val in 'Hashtag'|getFields %}
                        <div field="hashtag__{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                    </div>
                </span>
                {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
            </div>
            {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
        </div>
        <div class="section_content">
            <table class="display" id="TWHashtagTable" width="100%" drawn='False'>
                <script class="tableVars">
                    var modelName = "HashtagHarvester";
                    var srcs = [
                        {
                            attr: "twitterHashtagsToHarvest",
                        }
                    ]
                    var columns = [
                        {
                            "colStr": "Terme",
                            "fields": ["hashtag__term", "hashtag__pk"],
                            "render": function (data, type, row) {
                                if (row['hashtag__term'] == null) {
                                    return undefinedTag();
                                } else {
                                    return tableToolLink("/twitter/hashtag/" + row["hashtag__pk"],
                                            truncate_text(row['hashtag__term'], 30, true));
                                }
                            }
                        },
                        {
                            "orderable": false,
                            "searchable": false,
                            "colStr": "Nombre de tweets",
                            "fields": ["harvest_count"],
                            "render": function (data, type, row) {
                                if (row['harvest_count'] == null) {
                                    return ""
                                }
                                ;
                                return row['harvest_count'];
                            }
                        },
                        {
                            "colStr": "Collecté depuis",
                            "fields": ["_harvest_since"],
                            "render": function (data, type, row) {
                                if (row['_harvest_since'] == null) {
                                    return ""
                                }
                                ;
                                return row["_harvest_since"];
                            }
                        },
                        {
                            "colStr": "Collecté jusqu'à",
                            "fields": ["_harvest_until"],
                            "render": function (data, type, row) {
                                if (row['_harvest_until'] == null) {
                                    return ""
                                }
                                ;
                                return row["_harvest_until"];
                            }
                        },
                    ]
                </script>
            </table>
        </div>
    </div>

    {% elif source == "TwitterTweetHashtag" %}
    <div class="">
        <div class="section_menu">
            <span class="section_title">
                <b>Hashtags inclus</b>
            </span>
            <div class="section_options">
                {% include "tool/tables/tableMenuItems.html" with name="downloadFields" className="Tweet" filename=tweet.get_ident|join:"_favorited_by" %}
                {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
            </div>
            {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
        </div>
        <div class="section_content">
            <table class="display" width="100%" drawn='False' id="TWContainedHashtagsTable">
                <script class="tableVars">
                    var modelName = "Hashtag";
                    var srcs = [
                        {
                            modelName: "Tweet",
                            attr: "hashtags",
                            id: "{{ tweet.pk }}",
                        },
                    ]
                    var columns = [
                        {
                            "colStr": "Terme",
                            "fields": ["term", "pk"],
                            "render": function (data, type, row) {
                                if (row['term'] == null) {
                                    return undefinedTag();
                                } else {
                                    return tableToolLink("/twitter/hashtag/" + row["pk"],
                                            truncate_text(row['term'], 30, true));
                                }
                            }
                        },
                        {
                            "orderable": false,
                            "searchable": false,
                            "colStr": "Nombre de tweets",
                            "fields": ["hit_count"],
                            "render": function (data, type, row) {
                                if (row['hit_count'] == null) {
                                    return ""
                                }
                                ;
                                return centeredTag(row['hit_count']);
                            }
                        },
                    ]
                </script>
            </table>
        </div>
    </div>

    {% elif source == "ToolLinechart" %}
    <div class="">
        <div class="section_menu">
            <span class="section_title">
                <b>Hashtags collectés</b>
            </span>
            <div class="section_options">
                {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
            </div>
            {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
        </div>
        <div class="section_content">
            <table class="display" id="TWHashtagTable" width="100%" drawn='False'>
                <script class="tableVars">
                    var modelName = "HashtagHarvester";
                    var srcs = [
                        {
                            attr: "twitterHashtagsToHarvest",
                        }
                    ]
                    var columns = [
                        {
                            "colStr": "Terme",
                            "fields": ["hashtag__term", "hashtag__pk"],
                            "render": function (data, type, row) {
                                if (row['hashtag__term'] == null) {
                                    return undefinedTag();
                                } else {
                                    return tableToolLink("/twitter/hashtag/" + row["hashtag__pk"],
                                            truncate_text(row['hashtag__term'], 30, true));
                                }
                            }
                        },
                        {
                            "orderable": false,
                            "searchable": false,
                            "colStr": "Nombre de tweets",
                            "fields": ["harvest_count"],
                            "render": function (data, type, row) {
                                if (row['harvest_count'] == null) {
                                    return ""
                                }
                                ;
                                return row['harvest_count'];
                            }
                        },
                        {
                            "colStr": "Collecté depuis",
                            "fields": ["_harvest_since"],
                            "render": function (data, type, row) {
                                if (row['_harvest_since'] == null) {
                                    return ""
                                }
                                ;
                                return row["_harvest_since"];
                            }
                        },
                        {
                            "colStr": "Collecté jusqu'à",
                            "fields": ["_harvest_until"],
                            "render": function (data, type, row) {
                                if (row['_harvest_until'] == null) {
                                    return ""
                                }
                                ;
                                return row["_harvest_until"];
                            }
                        },
                    ]
                </script>
            </table>
        </div>
    </div>

    {% elif source == "ToolPiechartHashtagPosterLocation" %}
    <div class="">
        <div class="section_menu">
                <span class="section_title">
                    <b>Location des auteurs de tweets contenant un hashtag</b>
                </span>
            <div class="section_options">
                {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
            </div>
            {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
        </div>
        <div class="section_content">
            <table class="display" id="TWHashtagTable" width="100%" drawn='False'>
                <script class="tableVars">
                    var modelName = "HashtagHarvester";
                    var srcs = [
                        {
                            attr: "twitterHashtagsToHarvest",
                        }
                    ]
                    var columns = [
                        {
                            "colStr": "Terme",
                            "fields": ["hashtag__term", "hashtag__pk"],
                            "render": function (data, type, row) {
                                if (row['hashtag__term'] == null) {
                                    return undefinedTag();
                                } else {
                                    return tableToolLink("/twitter/hashtag/" + row["hashtag__pk"],
                                            truncate_text(row['hashtag__term'], 30, true));
                                }
                            }
                        },
                        {
                            "orderable": false,
                            "searchable": false,
                            "colStr": "Nombre de tweets",
                            "fields": ["harvest_count"],
                            "render": function (data, type, row) {
                                if (row['harvest_count'] == null) {
                                    return ""
                                }
                                ;
                                return row['harvest_count'];
                            }
                        },
                        {
                            "colStr": "Collecté depuis",
                            "fields": ["_harvest_since"],
                            "render": function (data, type, row) {
                                if (row['_harvest_since'] == null) {
                                    return ""
                                }
                                ;
                                return row["_harvest_since"];
                            }
                        },
                        {
                            "colStr": "Collecté jusqu'à",
                            "fields": ["_harvest_until"],
                            "render": function (data, type, row) {
                                if (row['_harvest_until'] == null) {
                                    return ""
                                }
                                ;
                                return row["_harvest_until"];
                            }
                        },
                    ]
                </script>
            </table>
        </div>
    </div>

    {% elif source == "searchResult" %}
    <div class="">
        <div class="section_menu">
                <span class="section_title">
                    <b>Hasthags Twitter</b>
                </span>
            <div class="section_options">
                {% include "tool/tables/tableMenuItems.html" with name="downloadFields" className="Hashtag" filename="TwitterHashtagsSearchResults_"|join:query %}
                {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
            </div>
            {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
        </div>
        <div class="section_content">
            <table class="display" id="TwitterHashtags" width="100%" drawn='False'>
                <script class="tableVars">
                    var modelName = "Hashtag";
                    var srcs = [
                        {
                            query: '{% autoescape off %}{{ query }}{% endautoescape %}'
                        }
                    ]
                    var columns = [
                        {
                            "colStr": "Terme",
                            "fields": ["term", "pk"],
                            "render": function (data, type, row) {
                                if (row['term'] == null) {
                                    return undefinedTag();
                                } else {
                                    return tableToolLink("/twitter/hashtag/" + row["pk"],
                                            truncate_text(row['term'], 30, true));
                                }
                            }
                        },
                        {
                            "orderable": false,
                            "searchable": false,
                            "colStr": "Nombre de tweets",
                            "fields": ["hit_count"],
                            "render": function (data, type, row) {
                                if (row['hit_count'] == null) {
                                    return ""
                                }
                                ;
                                return row['hit_count'];
                            }
                        },
                    ]
                </script>
            </table>
        </div>
    </div>


    {% endif %}
</section>