{% load staticfiles %}
{% load extratags %}


<section class="tableContainer">

    {% if source == "TwitterBase" %}
    <div class="">
            <div class="section_menu">
                <span class="section_title">
                    <b>Tweets</b>
                </span>
                <div class="section_options">
                    {% include "tool/tables/tableMenuItems.html" with name="excludeRetweets" %}
                    {% include "tool/tables/tableMenuItems.html" with name="downloadFields" className="Tweet" filename="Harvested_tweets" %}
                    {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
                </div>
                {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
            </div>
            <div class="section_content">
                <table class="display" id="TWTweetTable" width="100%" drawn='False'>
                    <script class="tableVars">
                        var modelName = "Tweet";
                        var dynamic = true;
                        var srcs = [
                            {
                                modelName: "TWUser",
                                attr: "tweets",
                                tableId: "TWUserTable",
                            },
                            {
                                modelName: "HashtagHarvester",
                                attr: "hashtag__tweets",
                                tableId: "TWHashtagTable",
                            },
                        ]
                        var columns = [
                            {
                                "colStr": "Date",
                                "fields": ["created_at"],
                                "render": function (data, type, row) {
                                    if (row['created_at'] == null) {
                                        return undefinedTag();
                                    } else {
                                        return row["created_at"];
                                    }
                                }
                            },
                            {
                                "colStr": "Auteur",
                                "fields": ["user__screen_name", "user__pk"],
                                "render": function (data, type, row) {
                                    if (row['user__pk'] == null) {
                                        return "<i>Utilisateur indéfini</i>"
                                    }
                                    ;
                                    return tableToolLink("/twitter/user/" + row["user__pk"], row["user__screen_name"]);
                                }
                            },
                            {
                                "colStr": "Texte",
                                "fields": ["text"],
                                "render": function (data, type, row) {
                                    if (row['text'] == null) {
                                        return ""
                                    }
                                    ;
                                    return truncate_text(row['text'], 80, true);
                                }
                            },
                            {
                                "colStr": "Nombre de retweets",
                                "searchable": false,
                                "fields": ["retweet_count"],
                                "render": function (data, type, row) {
                                    if (row['retweet_count'] == null) {return ""};
                                    return centeredTag(row['retweet_count']);
                                }
                            },
                            {
                                "colStr": "",
                                "fields": ["pk"],
                                "searchable": false,
                                "orderable": false,
                                "render": function (data, type, row) {
                                    if (row['pk'] == null) {
                                        return ""
                                    }
                                    ;
                                    return tableToolLink("/twitter/tweet/" + row["pk"], "Plus d'infos");
                                }
                            },
                        ]
                    </script>
                </table>
            </div></div>

    {% elif source == "TwitterHashtag" %}
    <div class="">
        <div class="section_menu">
                <span class="section_title">
                    <b>Tweets</b>
                </span>
            <div class="section_options">
                {% include "tool/tables/tableMenuItems.html" with name="downloadFields" className="Tweet" filename="Hashtag_"|join:hashtag.term|join:"_Tweets" %}
                {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
            </div>
            {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
        </div>
        <div class="section_content">
            <table class="display" id="HashtagTweetTable" width="100%" drawn='False'>
                <script class="tableVars">
                    var modelName = "Tweet";
                    var srcs = [
                        {
                            modelName: "Hashtag",
                            attr: "tweets",
                            id: "{{ hashtag.pk }}",
                        },
                    ]
                    var columns = [
                        {
                            "colStr": "Auteur",
                            "fields": ["user__screen_name", "user__pk"],
                            "render": function (data, type, row) {
                                if (row['user__pk'] == null) {
                                    return "<i>Utilisateur indéfini</i>"
                                }
                                ;
                                return tableToolLink("/twitter/user/" + row["user__pk"], row["user__screen_name"]);
                            }
                        },
                        {
                            "colStr": "Date",
                            "fields": ["created_at"],
                            "render": function (data, type, row) {
                                if (row['created_at'] == null) {
                                    return undefinedTag();
                                } else {
                                    return row["created_at"];
                                }
                            }
                        },
                        {
                            "colStr": "Texte",
                            "fields": ["text"],
                            "render": function (data, type, row) {
                                if (row['text'] == null) {
                                    return "";
                                } else {
                                    return truncate_text(row['text'], 80, true);
                                }
                            }
                        },
                        {
                            "colStr": "Retweets",
                            "fields": ["retweet_count"],
                            "render": function (data, type, row) {
                                if (row['retweet_count'] == null) {
                                    return "";
                                } else {
                                    return centeredTag(row["retweet_count"]);
                                }
                            }
                        },
                        {
                            "colStr": "",
                            "fields": ["pk"],
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                if (row['pk'] == null) {
                                    return ""
                                }
                                ;
                                return tableToolLink("/twitter/tweet/" + row["pk"], "Plus d'infos");
                            }
                        },
                    ]
                </script>
            </table>
        </div></div>

    {% elif source == "TwitterUserTweets" %}
    <div class="">
        <div class="section_menu">
            <span class="section_title">
                <b>Tweets</b>
            </span>
            <div class="section_options">
                {% include "tool/tables/tableMenuItems.html" with name="downloadFields" className="Tweet" filename=twUser|join:"_Tweets" %}
                {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
                {% include "tool/tables/tableMenuItems.html" with name="excludeRetweets" %}
            </div>
            {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
        </div>
        <div class="section_content">
            <table class="display" id="TWUserTweetTable" width="100%" drawn='False'>
                <script class="tableVars">
                    var modelName = "Tweet";
                    var srcs = [
                        {
                            modelName: "TWUser",
                            attr: "tweets",
                            id: "{{ twUser.pk }}",
                        },
                    ]
                    var columns = [
                        {
                            "colStr": "Date",
                            "fields": ["created_at"],
                            "render": function (data, type, row) {
                                if (row['created_at'] == null) {
                                    return undefinedTag();
                                } else {
                                    return row["created_at"];
                                }
                            }
                        },
                        {
                            "colStr": "Texte",
                            "fields": ["text",],
                            "render": function (data, type, row) {
                                if (row['text'] == null) {
                                    return ""
                                }
                                ;
                                return truncate_text(row['text'],100,true);
                            }
                        },
                        {
                            "colStr": "Nombre de retweets",
                            "fields": ["retweet_count"],
                            "render": function (data, type, row) {
                                if (row['retweet_count'] == null) {
                                    return ""
                                }
                                ;
                                return "<center>"+row["retweet_count"]+"</center>";
                            }
                        },
                        {
                            "colStr": "",
                            "fields": ["pk"],
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                if (row['pk'] == null) {
                                    return ""
                                }
                                ;
                                return tableToolLink("/twitter/tweet/" + row["pk"], "Plus d'infos");
                            }
                        },
                    ]
                </script>
            </table>
        </div></div>

    {% elif source == "TwitterUserMentions" %}
    <div  class="">
        <div class="section_menu">
                <span class="section_title">
                    <b>Mentions dans des tweets</b>
                </span>
            <div class="section_options">
                {% include "tool/tables/tableMenuItems.html" with name="downloadFields" className="Tweet" filename=twUser|join:"_mentions" %}
                {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
                {% include "tool/tables/tableMenuItems.html" with name="excludeRetweets" %}
            </div>
            {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
        </div>
        <div class="section_content">
            <table class="display" id="TWUserMentionsTable" width="100%" drawn='False'>
                <script class="tableVars">
                    var modelName = "Tweet";
                    var srcs = [
                        {
                            modelName: "TWUser",
                            attr: "mentions",
                            id: "{{ twUser.pk }}",
                        },
                    ]
                    var columns = [
                        {
                            "colStr": "Date",
                            "fields": ["created_at"],
                            "render": function (data, type, row) {
                                if (row['created_at'] == null) {
                                    return undefinedTag();
                                } else {
                                    return row["created_at"];
                                }
                            }
                        },
                        {
                            "colStr": "Auteur",
                            "fields": ["user__screen_name", "user__pk"],
                            "render": function (data, type, row) {
                                if (row['user__pk'] == null) {
                                    return "<i>Utilisateur indéfini</i>"
                                }
                                ;
                                return tableToolLink("/twitter/user/" + row["user__pk"], row["user__screen_name"]);
                            }
                        },
                        {
                            "colStr": "Texte",
                            "fields": ["text",],
                            "render": function (data, type, row) {
                                if (row['text'] == null) {
                                    return ""
                                }
                                ;
                                return truncate_text(row['text'], 100, true);
                            }
                        },
                        {
                            "colStr": "Nombre de retweets",
                            "fields": ["retweet_count"],
                            "render": function (data, type, row) {
                                if (row['retweet_count'] == null) {
                                    return ""
                                }
                                ;
                                return centeredTag(row['retweet_count']);
                            }
                        },
                        {
                            "colStr": "",
                            "fields": ["pk"],
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                if (row['pk'] == null) {
                                    return ""
                                }
                                ;
                                return tableToolLink("/twitter/tweet/" + row["pk"], "Plus d'infos");
                            }
                        },
                    ]
                </script>
            </table>
        </div></div>

    {% elif source == "TwitterUserFavorites" %}
    <div class="">
        <div class="section_menu">
                <span class="section_title">
                    <b>Tweets favoris</b>
                </span>
            <div class="section_options">
                <span>|</span>
            <span id="downloadTweets" class="section_menuItem tableDownloader" filename="{{ twUser }}_favorite_tweets"
                  title="Télécharger la sélection">
                {% include "tool/icons.html" with x=5 y=4 className="tableOptionIcon" %}
                <!-- DOWNLOAD FIELDS -->
                    <div class="downloadFields">
                        {% for key,val in 'favorite_tweet'|getFields %}
                        <div field="{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                        {% for key,val in 'Tweet'|getFields %}
                        <div field="value__{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                    </div>
                </span>
                {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
                {% include "tool/tables/tableMenuItems.html" with name="excludeRetweets" %}
            </div>
            {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
        </div>
        <div class="section_content">
            <table class="display" id="TWUserFavoritesTable" width="100%" drawn='False'>
                <script class="tableVars">
                    var modelName = "favorite_tweet";
                    var srcs = [
                        {
                            modelName: "TWUser",
                            attr: "favorite_tweets",
                            id: "{{ twUser.pk }}",
                        },
                    ]
                    var columns = [
                        {
                            "colStr": "Date",
                            "fields": ["value__created_at"],
                            "render": function (data, type, row) {
                                if (row['value__created_at'] == null) {
                                    return undefinedTag();
                                } else {
                                    return row["value__created_at"];
                                }
                            }
                        },
                        {
                            "colStr": "Auteur",
                            "fields": ["value__user__screen_name", "value__user__pk"],
                            "render": function (data, type, row) {
                                if (row['value__user__pk'] == null) {
                                    return "<i>Utilisateur indéfini</i>"
                                }
                                ;
                                return tableToolLink("/twitter/user/" + row["value__user__pk"], row["value__user__screen_name"]);
                            }
                        },
                        {
                            "colStr": "Texte",
                            "fields": ["value__text",],
                            "render": function (data, type, row) {
                                if (row['value__text'] == null) {
                                    return ""
                                }
                                ;
                                return truncate_text(row['value__text'], 100, true);
                            }
                        },
                        {
                            "colStr": "Nombre de retweets",
                            "fields": ["value__retweet_count"],
                            "render": function (data, type, row) {
                                if (row['value__retweet_count'] == null) {
                                    return ""
                                }
                                ;
                                return "<center>" + row["value__retweet_count"] + "</center>";
                            }
                        },
                        {
                            "colStr": "Depuis (Au moins)",
                            "fields": ["recorded_time"],
                            "render": function (data, type, row) {
                                if (row['recorded_time'] == null) {
                                    return ""
                                }
                                ;
                                return "<center>" + row["recorded_time"] + "</center>";
                            }
                        },
                        {
                            "colStr": "Jusqu'à",
                            "fields": ["ended"],
                            "render": function (data, type, row) {
                                if (row['ended'] == null) {
                                    return ""
                                }
                                ;
                                return "<center>" + row["ended"] + "</center>";
                            }
                        },
                        {
                            "colStr": "",
                            "fields": ["value__pk"],
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                if (row['value__pk'] == null) {
                                    return ""
                                }
                                ;
                                return tableToolLink("/twitter/tweet/" + row["value__pk"], "Plus d'infos");
                            }
                        },
                    ]
                </script>
            </table>
        </div></div>

    {% elif source == "TwitterTweetRetweets" %}
    <div class="">
        <div class="section_menu">
            <span class="section_title">
                <b>Retweets</b>
            </span>
            <div class="section_options">
                {% include "tool/tables/tableMenuItems.html" with name="downloadFields" className="Tweet" filename="Tweet_"|join:tweet.get_ident|join:"_retweets" %}
                {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
            </div>
            {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
        </div>
        <div class="section_content">
            <table class="display" id="TWRetweetTable" width="100%" drawn='False'>
                <script class="tableVars">
                    var modelName = "Tweet";
                    var srcs = [
                        {
                            modelName: "Tweet",
                            attr: "retweets",
                            id: "{{ tweet.pk }}",
                        },
                    ]
                    var columns = [
                        {
                            "colStr": "Auteur",
                            "fields": ["user__screen_name", "user__pk"],
                            "render": function (data, type, row) {
                                if (row['user__pk'] == null) {
                                    return "<i>Utilisateur indéfini</i>"
                                }
                                ;
                                return tableToolLink("/twitter/user/" + row["user__pk"], row["user__screen_name"]);
                            }
                        },
                        {
                            "colStr": "Date",
                            "fields": ["created_at"],
                            "render": function (data, type, row) {
                                if (row['created_at'] == null) {
                                    return undefinedTag();
                                } else {
                                    return row["created_at"];
                                }
                            }
                        },
                        {
                            "colStr": "",
                            "fields": ["pk"],
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                if (row['pk'] == null) {
                                    return ""
                                }
                                ;
                                return tableToolLink("/twitter/tweet/" + row["pk"], "Plus d'infos");
                            }
                        },
                    ]
                </script>
            </table>
        </div></div>

    {% elif source == "TwitterTweetRepliedBy" %}
    <div class="">
        <div class="section_menu">
            <span class="section_title">
                <b>Réponses</b>
            </span>
            <div class="section_options">
                {% include "tool/tables/tableMenuItems.html" with name="downloadFields" className="Tweet" filename="Tweet_"|join:tweet.get_ident|join:"_replies" %}
                {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
            </div>
            {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
        </div>
        <div class="section_content">
            <table class="display" id="TWTweetRepliesTable" width="100%" drawn='False'>
                <script class="tableVars">
                    var modelName = "Tweet";
                    var srcs = [
                        {
                            modelName: "Tweet",
                            attr: "replied_by",
                            id: "{{ tweet.pk }}",
                        },
                    ]
                    var columns = [
                        {
                            "colStr": "Auteur",
                            "fields": ["user__screen_name", "user__pk"],
                            "render": function (data, type, row) {
                                if (row['user__pk'] == null) {
                                    return "<i>Utilisateur indéfini</i>"
                                }
                                ;
                                return tableToolLink("/twitter/user/" + row["user__pk"], row["user__screen_name"]);
                            }
                        },
                        {
                            "colStr": "Date",
                            "fields": ["created_at"],
                            "render": function (data, type, row) {
                                if (row['created_at'] == null) {
                                    return undefinedTag();
                                } else {
                                    return row["created_at"];
                                }
                            }
                        },
                        {
                            "colStr": "Texte",
                            "fields": ["text"],
                            "render": function (data, type, row) {
                                if (row['text'] == null) {
                                    return "";
                                } else {
                                    return truncate_text(row['text'], 80, true);
                                }
                            }
                        },
                        {
                            "colStr": "Retweets",
                            "fields": ["retweet_count"],
                            "render": function (data, type, row) {
                                if (row['retweet_count'] == null) {
                                    return "";
                                } else {
                                    return centeredTag(row["retweet_count"]);
                                }
                            }
                        },
                        {
                            "colStr": "",
                            "fields": ["pk"],
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                if (row['pk'] == null) {
                                    return ""
                                }
                                ;
                                return tableToolLink("/twitter/tweet/" + row["pk"], "Plus d'infos");
                            }
                        },
                    ]
                </script>
            </table>
        </div></div>

    {% endif %}
</section>