{% load staticfiles %}
{% load extratags %}


<section class="tableContainer">

    {% if source == "TwitterBase" %}
        <div class="section_menu">
                <span class="section_title">
                    <b>Tweets</b>
                </span>
        <div class="section_options">
            <span>|</span>
            <span id="downloadTweets" class="section_menuItem tableDownloader" filename="Harvested_tweets">Download selection
                <!-- DOWNLOAD FIELDS -->
                <div class="downloadFields">
                    {% for key,val in 'Tweet'|getFields %}
                    <div field="{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                    {% endfor %}
                </div>
            </span>
            <span>|</span>
            <span><input type="checkbox" name="exclude_retweets" class="option_checkbox"> Exclude retweets</span>
            <span>|</span>
            <span id="reloadTableLink" class="section_menuItem">Reload table<!--img class="reloadTableIcon" src="{% static 'medias/refresh_icon_128.png' %}"--></span>
        </div>
        <div class="tableOpenCloseIcon" type="plus">
            <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
        </div>
    </div>
        <div class="section_content">
            <table class="display" id="TWTweetTable" width="100%" drawn='False'>
                <thead>
                <tr>
                    <th><input type="checkbox" class='table_select_master'></input></th>
                    <th>Date</th>
                    <th>Author</th>
                    <th>Text</th>
                    <th>Retweets</th>
                    <th></th>
                </tr>
                </thead>
                <script class="tableVars">
                    $(document).ready(function(){
                        if(typeof TWTweetTable_autoRefresh == 'undefined'){
                            TWTweetTable_autoRefresh = true; // insure that this "bind" fct is called only once per page
                            $('body').bind('selectedTableRowsChanged', function(event, tableId){
                                if (tableId != 'TWTweetTable'){
                                    reloadTable('#TWTweetTable');
                                }
                            });
                        }
                    });
                    var fields = "created_at,user,text,retweet_count,_ident";
                    var url = "/twitter/TWTweetTable/";
                    var dynamicSource = true;
                    var languageParams = {
                        "zeroRecords": "No data available.",
                        "thousands": ",",
                    };
                    var columnsDefs = [
                        {
                            "orderable": false,
                            "className": 'select-checkbox',
                            "targets": 0,
                            "render": function () {
                                return ""
                            }
                        },
                        {
                            "targets": 1,
                            "searchable": false,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['created_at'];
                            }
                        },
                        {
                            "targets": 2,
                            "searchable": true,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['user'] == null) {
                                    return "<i>undefined</i>"
                                }
                                return '<a href="/twitter/user/' + row['user'] + '" class="TableToolLink snippetHover">' + row['user'] + '</a>';
                            }
                        },
                        {
                            "targets": 3,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return formatTweetText(row['text']);
                            }
                        },
                        {
                            "targets": 4,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['retweet_count'];
                            }
                        },
                        {
                            "targets": 5,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                return '<a href="/twitter/tweet/' + row["_ident"] + '" class="TableToolLink">' + 'more infos' + '</a>';
                            }
                        },
                    ];
                </script>
            </table>
        </div>

    {% elif source == "TwitterHashtag" %}
        <div class="section_menu">
                <span class="section_title">
                    <b>Tweets</b>
                </span>
        <div class="section_options">
            <span>|</span>
            <span id="downloadTweets" class="section_menuItem tableDownloader" filename="Hashtag_{{ hashtag.term }}_Tweets">Download selection
                <!-- DOWNLOAD FIELDS -->
                <div class="downloadFields">
                    {% for key,val in 'Tweet'|getFields %}
                    <div field="{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                    {% endfor %}
                </div>
            </span>
            <span>|</span>
            <span id="reloadTableLink" class="section_menuItem">Reload table</span>
            <span>|</span>
            <span><input type="checkbox" name="exclude_retweets" class="option_checkbox"> Exclude retweets</span>
        </div>
        <div class="tableOpenCloseIcon" type="plus">
            <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
        </div>
    </div>
        <div class="section_content">
            <table class="display" id="HashtagTweetTable" width="100%" drawn='False'>
                <thead>
                <tr>
                    <th><input type="checkbox" class='table_select_master'></input></th>
                    <th>Date</th>
                    <th>Author</th>
                    <th>Text</th>
                    <th>Retweets</th>
                    <th></th>
                </tr>
                </thead>
                <script class="tableVars">
                    var fields = "created_at,user,text,retweet_count,_ident";
                    var url = "/twitter/TWHashtagTweetTable/{{ hashtag.pk }}";
                    var languageParams = {
                        "zeroRecords": "No data available.",
                        "thousands": ",",
                    };
                    var columnsDefs = [
                        {
                            "orderable": false,
                            "className": 'select-checkbox',
                            "targets": 0,
                            "render": function () {
                                return ""
                            }
                        },
                        {
                            "targets": 1,
                            "searchable": false,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['created_at'];
                            }
                        },
                        {
                            "targets": 2,
                            "searchable": true,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['user'] == null) {
                                    return "<i>undefined</i>"
                                }
                                return '<a href="/twitter/user/' + row['user'] + '" class="TableToolLink snippetHover">' + row['user'] + '</a>';
                            }
                        },
                        {
                            "targets": 3,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return formatTweetText(row['text']);
                            }
                        },
                        {
                            "targets": 4,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['retweet_count'];
                            }
                        },
                        {
                            "targets": 5,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                return '<a href="/twitter/tweet/' + row["_ident"] + '" class="TableToolLink">' + 'more infos' + '</a>';
                            }
                        },
                    ];
                </script>
            </table>
        </div>

    {% elif source == "TwitterUserTweets" %}
        <div class="section_menu">
            <span class="section_title">
                <b>Tweets</b>
            </span>
            <div class="section_options">
                <span>|</span>
                <span id="downloadTweets" class="section_menuItem tableDownloader" filename="{{ twUser }}_tweets">Download selection
                    <!-- DOWNLOAD FIELDS -->
                    <div class="downloadFields">
                        {% for key,val in 'Tweet'|getFields %}
                        <div field="{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                    </div>
                </span>
                <span>|</span>
                <span id="reloadTableLink" class="section_menuItem">Reload table</span>
                <span>|</span>
                <span><input type="checkbox" name="exclude_retweets" class="option_checkbox"> Exclude retweets</span>
            </div>
            <div class="tableOpenCloseIcon" type="plus">
                <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
            </div>
        </div>
        <div class="section_content">
            <table class="display" id="TWUserTweetTable" width="100%" drawn='False'>
                <thead>
                <tr>
                    <th><input type="checkbox" class='table_select_master'></input></th>
                    <th>Date</th>
                    <th>Text</th>
                    <th>Retweets</th>
                    <th></th>
                </tr>
                </thead>
                <script class="tableVars">
                    var fields = "created_at,text,retweet_count,_ident";
                    var url = "/twitter/TWUserTweetTable/{{ twUser.pk }}/";
                    var languageParams = {
                        "zeroRecords": "No data available.",
                        "thousands": ",",
                    };
                    var columnsDefs = [
                        {
                            "orderable": false,
                            "className": 'select-checkbox',
                            "targets": 0,
                            "render": function () {
                                return ""
                            }
                        },
                        {
                            "targets": 1,
                            "searchable": false,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['created_at'];
                            }
                        },
                        {
                            "targets": 2,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return formatTweetText(row['text']);
                            }
                        },
                        {
                            "targets": 3,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['retweet_count'];
                            }
                        },
                        {
                            "targets": 4,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                return '<a href="/twitter/tweet/' + row["_ident"] + '" class="TableToolLink">' + 'more infos' + '</a>';
                            }
                        },
                    ];
                </script>
            </table>
        </div>

    {% elif source == "TwitterUserMentions" %}
        <div class="section_menu">
                <span class="section_title">
                    <b>Mentions in tweets</b>
                </span>
        <div class="section_options">
            <span>|</span>
            <span id="downloadTweets" class="section_menuItem tableDownloader" filename="{{ twUser }}_mentions">Download selection
                <!-- DOWNLOAD FIELDS -->
                    <div class="downloadFields">
                        {% for key,val in 'Tweet'|getFields %}
                        <div field="{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                    </div>
                </span>
            <span>|</span>
            <span id="reloadTableLink" class="section_menuItem">Reload table</span>
        </div>
        <div class="tableOpenCloseIcon" type="plus">
            <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
        </div>
    </div>
        <div class="section_content">
            <table class="display" id="TWUserMentionsTable" width="100%" drawn='False'>
                <thead>
                <tr>
                    <th><input type="checkbox" class='table_select_master'></input></th>
                    <th>Date</th>
                    <th>Author</th>
                    <th>Text</th>
                    <th>Retweets</th>
                    <th></th>
                </tr>
                </thead>
                <script class="tableVars">
                    var fields = "created_at,user,text,retweet_count,_ident";
                    var url = "/twitter/TWUserMentionsTable/{{ twUser.pk }}";
                    var languageParams = {
                        "zeroRecords": "No data available.",
                        "thousands": ",",
                    };
                    var columnsDefs = [
                        {
                            "orderable": false,
                            "className": 'select-checkbox',
                            "targets": 0,
                            "render": function () {
                                return ""
                            }
                        },
                        {
                            "targets": 1,
                            "searchable": false,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['created_at'];
                            }
                        },
                        {
                            "targets": 2,
                            "searchable": true,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return '<a href="/twitter/user/' + row['user'] + '" class="TableToolLink snippetHover">' + row['user'] + '</a>';
                            }
                        },
                        {
                            "targets": 3,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return formatTweetText(row['text']);
                            }
                        },
                        {
                            "targets": 4,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['retweet_count'];
                            }
                        },
                        {
                            "targets": 5,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                return '<a href="/twitter/tweet/' + row["_ident"] + '" class="TableToolLink">' + 'more infos' + '</a>';
                            }
                        },
                    ];
                </script>
            </table>
        </div>

    {% elif source == "TwitterUserFavorites" %}
        <div class="section_menu">
                <span class="section_title">
                    <b>Favorite tweets</b>
                </span>
        <div class="section_options">
            <span>|</span>
            <span id="downloadTweets" class="section_menuItem tableDownloader" filename="{{ twUser }}_favorite_tweets">Download selection
                <!-- DOWNLOAD FIELDS -->
                    <div class="downloadFields">
                        {% for key,val in 'favorite_tweet'|getFields %}
                        <div field="{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                        {% for key,val in 'Tweet'|getFields %}
                        <div field="value__{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                    </div>
                </span>
            <span>|</span>
            <span id="reloadTableLink" class="section_menuItem">Reload table</span>
            <span>|</span>
            <span><input type="checkbox" name="exclude_retweets" class="option_checkbox"> Exclude retweets</span>
        </div>
        <div class="tableOpenCloseIcon" type="plus">
            <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
        </div>
    </div>
        <div class="section_content">
            <table class="display" id="TWUserFavoritesTable" width="100%" drawn='False'>
                <thead>
                <tr>
                    <th><input type="checkbox" class='table_select_master'></input></th>
                    <th>Author</th>
                    <th>Text</th>
                    <th>Retweets</th>
                    <th>Favorited since (at least)</th>
                    <th>Favorited until</th>
                    <th></th>
                </tr>
                </thead>
                <script class="tableVars">
                    var fields = "value__user,value__text,value__retweet_count,value___ident,recorded_time,ended";
                    var url = "/twitter/TWFavoritesTable/{{twUser.id}}/";
                    var languageParams = {
                        "zeroRecords": "No data available.",
                        "thousands": ",",
                    };
                    var columnsDefs = [
                        {
                            "orderable": false,
                            "className": 'select-checkbox',
                            "targets": 0,
                            "render": function () {
                                return ""
                            }
                        },
                        {
                            "targets": 1,
                            "searchable": true,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return '<a href="/twitter/user/' + row['value__user'] + '" class="TableToolLink snippetHover">' + row['value__user'] + '</a>';
                            }
                        },
                        {
                            "targets": 2,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return formatTweetText(row['value__text']);
                            }
                        },
                        {
                            "targets": 3,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['value__retweet_count'];
                            }
                        },
                        {
                            "searchable": false,
                            "targets": 4,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['recorded_time'] == '') {
                                    return '<i>undefined</i>'
                                }
                                else {
                                    return row['recorded_time']
                                }
                                ;
                            }
                        },
                        {
                            "searchable": false,
                            "targets": 5,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['ended'] == '') {
                                    return '<i>undefined</i>'
                                }
                                else {
                                    return row['ended']
                                }
                                ;
                            }
                        },
                        {
                            "targets": 6,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                return '<a href="/twitter/tweet/' + row["value___ident"] + '" class="TableToolLink">' + 'more infos' + '</a>';
                            }
                        },
                    ];
                </script>
            </table>
        </div>

    {% elif source == "TwitterTweetRetweets" %}
        <div class="section_menu">
            <span class="section_title">
                <b>Retweets</b>
            </span>
        <div class="section_options">
            <span>|</span>
            <span id="downloadTweets" class="section_menuItem tableDownloader" filename="Tweet_{{ tweet.get_ident }}_retweets">Download selection
                <!-- DOWNLOAD FIELDS -->
                    <div class="downloadFields">
                        {% for key,val in 'Tweet'|getFields %}
                        <div field="{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                    </div>
                </span>
            <span>|</span>
            <span id="reloadTableLink" class="section_menuItem">Reload table</span>
        </div>
        <div class="tableOpenCloseIcon" type="plus">
            <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
        </div>
    </div>
        <div class="section_content">
            <table class="display" id="TWRetweetTable" width="100%" drawn='False' >
                <thead>
                <tr>
                    <th><input type="checkbox" class='table_select_master'></input></th>
                    <th>Author</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                </thead>
                <script class="tableVars">
                    var fields = "user,created_at,_ident";
                    var url = "/twitter/TWRetweetTable/{{ tweet.id }}";
                    var languageParams = {
                        "zeroRecords": "No data available.",
                        "thousands": ",",
                    };
                    var columnsDefs = [
                        {
                            "orderable": false,
                            "className": 'select-checkbox',
                            "targets": 0,
                            "render": function () {
                                return ""
                            }
                        },
                        {
                            "targets": 1,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return '<a href = "' + row['user'] + '">' + row['user'] + '</a>';
                            }
                        },
                        {
                            "targets": 2,
                            "searchable": false,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['created_at'];
                            }
                        },
                        {
                            "targets": 3,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                return '<a href="/twitter/tweet/' + row["_ident"] + '" class="TableToolLink">' + 'more infos' + '</a>';
                            }
                        },
                    ];
                </script>
            </table>
        </div>

    {% elif source == "TwitterTweetRepliedBy" %}
    <div class="section_menu">
            <span class="section_title">
                <b>Replies</b>
            </span>
        <div class="section_options">
            <span>|</span>
            <span id="downloadTweets" class="section_menuItem tableDownloader"
                  filename="Tweet_{{ tweet.get_ident }}_replies">Download selection
                <!-- DOWNLOAD FIELDS -->
                    <div class="downloadFields">
                        {% for key,val in 'Tweet'|getFields %}
                        <div field="{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                    </div>
                </span>
            <span>|</span>
            <span id="reloadTableLink" class="section_menuItem">Reload table</span>
        </div>
        <div class="tableOpenCloseIcon" type="plus">
            <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
        </div>
    </div>
    <div class="section_content">
        <table class="display" id="TWTweetRepliesTable" width="100%" drawn='False'>
            <thead>
            <tr>
                <th><input type="checkbox" class='table_select_master'></input></th>
                <th>Author</th>
                <th>Date</th>
                <th>Text</th>
                <th>Retweet count</th>
                <th></th>
            </tr>
            </thead>
            <script class="tableVars">
                var fields = "user,created_at,text,retweet_count,_ident";
                var url = "/twitter/TWRepliesTable/{{ tweet.id }}";
                var languageParams = {
                    "zeroRecords": "No data available.",
                    "thousands": ",",
                };
                var columnsDefs = [
                    {
                        "orderable": false,
                        "className": 'select-checkbox',
                        "targets": 0,
                        "render": function () {
                            return ""
                        }
                    },
                    {
                        "targets": 1,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            return '<a href = "' + row['user'] + '">' + row['user'] + '</a>';
                        }
                    },
                    {
                        "targets": 2,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            return row['created_at'];
                        }
                    },
                    {
                        "targets": 3,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            return formatTweetText(row['text']);
                        }
                    },
                    {
                        "targets": 4,
                        "searchable": false,
                        "asSorting": default_asSorting,
                        "render": function (data, type, row) {
                            return row['retweet_count'];
                        }
                    },
                    {
                        "targets": 5,
                        "searchable": false,
                        "orderable": false,
                        "render": function (data, type, row) {
                            return '<a href="/twitter/tweet/' + row["_ident"] + '" class="TableToolLink">' + 'more infos' + '</a>';
                        }
                    },
                ];
            </script>
        </table>
    </div>

    {% endif %}
</section>