{% load staticfiles %}
{% load extratags %}

<section class="tableContainer">

    {% if source == "YoutubeBase" %}
    <div class="">
        <div class="section_menu">
            <span class="section_title">
                <b>Chaînes Collectées</b>
            </span>
            <div class="section_options">
                <span>|</span>
                <span class="section_menuItem"><a onclick="addChannelPopup()">Ajouter</a></span>
                <!-- ADD NEW CHANNEL POPUP-->
                <div class="popup" id="addNewChannel">
                    <div id="title">Ajouter une nouvelle chaîne</div>
                    <div id="help">
                        Ajoutez une nouvelle chaîne en collant son URL dans le champ indiqué
                    </div>
                    <div id="content">
                        <form style="max-width:450px;" method="post" action="/youtube/forms/YTAddChannel"
                              enctype="multipart/form-data" id="addChannelPopupForm">
                            {% csrf_token %}
                            <p>Spécifiez toutes les urls de chaînes:</p>
                            <center>
                                <table>
                                    <tr>
                                    </tr>
                                </table>
                                <br>
                                <div onclick="addChannelLine()" id="addLineButton">
                                    <div class="plusIconInput">
                                        {% include "tool/icons.html" with x=3 y=3 %}
                                    </div>
                                </div>
                            </center>
                            <hr>
                            <p>Alternativement, sélectionnez un fichier .csv:</p>
                            <input type="file" name="Browse" size="chars">
                            <br><br>
                            <center><input type="submit" value="Submit" style="right:0px;"></input></center>
                        </form>
                    </div>
                    <script id="functions">
                        function addChannelLine() {
                            var container = getPopupContainer();
                            container.find('tr').last().after(function () {
                                return $(
                                        '<tr>' +
                                        '<td><input type="text" name="channelURL" placeholder="url" value="" style="width:300px"></td>' +
                                        '</tr>'
                                );
                            });
                            $(".datePicker").datepicker();
                        }
                        function addChannelPopup() {
                            var addLine = lastPopupId != 'addNewChannel';
                            displayCenterPopup('addNewChannel', function () {
                                if (addLine) {
                                    addChannelLine()
                                }
                                ;
                            });
                            $('#centerPopupContent').find("#addChannelPopupForm").unbind('submit');
                            $('#centerPopupContent').find("#addChannelPopupForm").submit(function (event) {
                                event.preventDefault();
                                var formData = new FormData($(this)[0]);
                                $('#centerPopupInner').addClass("waitingMask");
                                $.ajax({
                                    url: $(this).attr("action"),
                                    type: "POST",
                                    data: formData,
                                    processData: false,
                                    contentType: false,
                                    success: function (response) {
                                        $('#centerPopupInner').removeClass("waitingMask");
                                        $('#centerPopupOutter').hide();
                                        reloadTable('#YTChannelTable')
                                        if (response['status'] == 'ok') {
                                            displayNewMessages(response['messages'])
                                        } else if (response['status'] == 'exception') {
                                            displayNewErrors(response['errors'])
                                        }
                                        ;
                                    }
                                });
                            });
                        }
                    </script>
                </div>
                <span>|</span>
                <span class="section_menuItem"><a onclick="displayRemoveChannelPopup()">Retirer</a></span>
                <!-- REMOVE CHANNEL POPUP-->
                <div class="popup" id="removeChannels">
                    <div id="title">Retirer</div>
                    <div id="help">
                        Retirera les chaînes spécifiées de votre liste de collecte
                    </div>
                    <div id="content">
                        <center>êtes vous sûr de vouloir retirer les <br> Chaînes sélectionnées de votre liste?
                            <br><br>
                            <div id="selectedChannelsNumber">0 lignes sélectionnées</div>
                            <br>
                            <input type="submit" value="Remove" onclick="submitRemoveChannelsForm()"></input>
                        </center>
                    </div>
                    <script id="functions">
                        function displayRemoveChannelPopup() {
                            lastPopupId = null;
                            var displayer = $('#removeChannels').children('#content').children().children('#selectedChannelsNumber');
                            var length = selectedCounts['#YTChannelTable']
                            if (!length) {
                                alert('Vous devez d\'abord sélectionner une ligne.')
                            }
                            else {
                                displayer.html("" + length + " row" + (length > 1 ? "s" : "") + " selected");
                                displayCenterPopup('removeChannels')
                            }

                        }

                        function submitRemoveChannelsForm() {
                            url = '/removeSelectedItems?pageURL=' +
                                    window.location.pathname + '&tableId=YTChannelTable' +
                                    '&listToRemoveFrom=ytChannelsToHarvest';
                            executeAjaxAndDisplayMessages(url, '#YTChannelTable');
                        }
                    </script>
                </div>
                {% include "tool/tables/tableMenuItems.html" with name="downloadFields" className="YTChannel" filename="Harvested_Channels" %}
                {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
            </div>
            {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
        </div>
        <div class="section_content">
            <table class="display" id="YTChannelTable" width="100%" drawn='False'>
                <thead>
                <tr>
                    <th><input type="checkbox" class='table_select_master'></input></th>
                    <th>Titre</th>
                    <th>Nombre de vidéos</th>
                    <th>Abonnés</th>
                    <th>Nombre de playlists</th>
                    <th>Vues totales</th>
                </tr>
                </thead>
                <script class="tableVars">
                    var fields = "title,videoCount,subscriberCount,playlists__count,viewCount,ident";
                    var url = "/youtube/ajax?tableId=YTChannelTable";
                    var GETValues
                    var columnsDefs = [
                        {
                            "orderable": false,
                            "className": 'select-checkbox',
                            "targets": 0,
                            "render": function () {
                                return ""
                            }
                        },
                        {
                            "targets": 1,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                if (row['title'] != null) {
                                    return '<a href="/youtube/channel/' + row['ident'] + '" class="TableToolLink">' + row['title'] + '</a>';
                                } else {
                                    return "<i>Non-identifié</i>"
                                }

                            }
                        },
                        {
                            "targets": 2,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['videoCount'];
                            }
                        },
                        {
                            "targets": 3,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['subscriberCount'];
                            }
                        },
                        {
                            "targets": 4,
                            "asSorting": default_asSorting,
                            "orderable":false,
                            "render": function (data, type, row) {
                                return row['playlists__count'];
                            }
                        },
                        {
                            "targets": 5,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['viewCount'];
                            }
                        },
                    ]
                </script>
            </table>
        </div>
    </div>


    {% elif source == "YoutubeChannel_subscriptions" %}
    <div class="">
        <div class="section_menu">
                <span class="section_title">
                    <b>Abonnements</b>
                </span>
            <div class="section_options">
                {% include "tool/tables/tableMenuItems.html" with name="downloadFields" className="YTChannel" filename="Channel_"|join:channel|join:"_subscriptions" %}
                {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
            </div>
            {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
        </div>
        <div class="section_content">
            <table class="display" id="YTChannelSubscribtions" width="100%" drawn='False'>
                <thead>
                <tr>
                    <th><input type="checkbox" class='table_select_master'></input></th>
                    <th>Title</th>
                    <th>Video count</th>
                    <th>Subscriber count</th>
                    <th>Video count</th>
                    <th>View count</th>
                </tr>
                </thead>
                <script class="tableVars">
                    var fields = "value__title,value__videoCount,value__subscriberCount,value__videoCount,value__viewCount";
                    var url = "/youtube/ajax?tableId=YTChannelSubscribtions&channel={{ channel.ident }}";
                    var columnsDefs = [
                        {
                            "orderable": false,
                            "className": 'select-checkbox',
                            "targets": 0,
                            "render": function () {
                                return ""
                            }
                        },
                        {
                            "targets": 1,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                var identifier = row['value__title'].replace(' ', '_')
                                return '<a href="/youtube/channel/' + identifier + '" class="TableToolLink">' + row['value__title'] + '</a>';
                            }
                        },
                        {
                            "targets": 2,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['value__videoCount'];
                            }
                        },
                        {
                            "targets": 3,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['value__subscriberCount'];
                            }
                        },
                        {
                            "targets": 4,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['value__videoCount'];
                            }
                        },
                        {
                            "targets": 5,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['value__viewCount'];
                            }
                        },
                    ]
                </script>
            </table>
        </div>
    </div>

    {% elif source == "YoutubeChannel_subscribers" %}
    <div class="">
        <div class="section_menu">
                <span class="section_title">
                    <b>Abonnés</b>
                </span>
            <div class="section_options">
                {% include "tool/tables/tableMenuItems.html" with name="downloadFields" className="YTChannel" filename="Channel_"|join:channel|join:"_subscribers" %}
                {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
            </div>
            {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
        </div>
        <div class="section_content">
            <table class="display" id="YTChannelSubscribers" width="100%" drawn='False'>
                <thead>
                <tr>
                    <th><input type="checkbox" class='table_select_master'></input></th>
                    <th>Title</th>
                    <th>Video count</th>
                    <th>Subscriber count</th>
                    <th>Video count</th>
                    <th>View count</th>
                </tr>
                </thead>
                <script class="tableVars">
                    var fields = "channel__title,channel__videoCount,channel__subscriberCount,channel__videoCount,channel__viewCount";
                    var url = "/youtube/ajax?tableId=YTChannelSubscribers&channel={{ channel.ident }}";
                    var columnsDefs = [
                        {
                            "orderable": false,
                            "className": 'select-checkbox',
                            "targets": 0,
                            "render": function () {
                                return ""
                            }
                        },
                        {
                            "targets": 1,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                var identifier = row['channel__title'].replace(' ', '_')
                                return '<a href="/youtube/channel/' + identifier + '" class="TableToolLink">' + row['channel__title'] + '</a>';
                            }
                        },
                        {
                            "targets": 2,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['channel__videoCount'];
                            }
                        },
                        {
                            "targets": 3,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['channel__subscriberCount'];
                            }
                        },
                        {
                            "targets": 4,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['channel__videoCount'];
                            }
                        },
                        {
                            "targets": 5,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['channel__viewCount'];
                            }
                        },
                    ]
                </script>
            </table>
        </div>
    </div>

    {% endif %}
</section>