{% load staticfiles %}
{% load extratags %}

<section class="tableContainer">

    {% if source == "YoutubeBase" %}
    <div class="">
        <div class="section_menu">
            <span class="section_title">
                <b>Chaînes Collectées</b>
            </span>
            <div class="section_options">
                <span>|</span>
                <span class="section_menuItem"><a onclick="addChannelPopup()">Ajouter</a></span>
                <!-- ADD NEW CHANNEL POPUP-->
                <div class="popup" id="addNewChannel">
                    <div id="title">Ajouter une nouvelle chaîne</div>
                    <div id="help">
                        Ajoutez une nouvelle chaîne en collant son URL dans le champ indiqué
                    </div>
                    <div id="content">
                        <form style="max-width:450px;" method="post" action="/youtube/forms/YTAddChannel"
                              enctype="multipart/form-data" id="addChannelPopupForm">
                            {% csrf_token %}
                            <p>Spécifiez toutes les urls de chaînes:</p>
                            <center>
                                <table>
                                    <tr>
                                    </tr>
                                </table>
                                <br>
                                <div onclick="addChannelLine()" id="addLineButton">
                                    <div class="plusIconInput">
                                        {% include "tool/icons.html" with x=3 y=3 %}
                                    </div>
                                </div>
                            </center>
                            <hr>
                            <p>Alternativement, sélectionnez un fichier .csv:</p>
                            <input type="file" name="Browse" size="chars">
                            <br><br>
                            <center><input type="submit" value="Submit" style="right:0px;"></input></center>
                        </form>
                    </div>
                    <script id="functions">
                        function addChannelLine() {
                            var container = getPopupContainer();
                            container.find('tr').last().after(function () {
                                return $(
                                        '<tr>' +
                                        '<td><input type="text" name="channelURL" placeholder="url" value="" style="width:300px"></td>' +
                                        '</tr>'
                                );
                            });
                            $(".datePicker").datepicker();
                        }
                        function addChannelPopup() {
                            var addLine = lastPopupId != 'addNewChannel';
                            displayCenterPopup('addNewChannel', function () {
                                if (addLine) {
                                    addChannelLine()
                                }
                                ;
                            });
                            $('#centerPopupContent').find("#addChannelPopupForm").unbind('submit');
                            $('#centerPopupContent').find("#addChannelPopupForm").submit(function (event) {
                                event.preventDefault();
                                var formData = new FormData($(this)[0]);
                                $('#centerPopupInner').addClass("waitingMask");
                                $.ajax({
                                    url: $(this).attr("action"),
                                    type: "POST",
                                    data: formData,
                                    processData: false,
                                    contentType: false,
                                    success: function (response) {
                                        $('#centerPopupInner').removeClass("waitingMask");
                                        $('#centerPopupOutter').hide();
                                        reloadTable('#YTChannelTable')
                                        if (response['status'] == 'ok') {
                                            displayNewMessages(response['messages'])
                                        } else if (response['status'] == 'exception') {
                                            displayNewErrors(response['errors'])
                                        }
                                        ;
                                    }
                                });
                            });
                        }
                    </script>
                </div>
                <span>|</span>
                <span class="section_menuItem"><a onclick="displayRemoveChannelPopup()">Retirer</a></span>
                <!-- REMOVE CHANNEL POPUP-->
                <div class="popup" id="removeChannels">
                    <div id="title">Retirer</div>
                    <div id="help">
                        Retirera les chaînes spécifiées de votre liste de collecte
                    </div>
                    <div id="content">
                        <center>êtes vous sûr de vouloir retirer les <br> Chaînes sélectionnées de votre liste?
                            <br><br>
                            <div id="selectedChannelsNumber">0 lignes sélectionnées</div>
                            <br>
                            <input type="submit" value="Remove" onclick="submitRemoveChannelsForm()"></input>
                        </center>
                    </div>
                    <script id="functions">
                        function displayRemoveChannelPopup() {
                            lastPopupId = null;
                            var displayer = $('#removeChannels').children('#content').children().children('#selectedChannelsNumber');
                            var length = selectedCounts['#YTChannelTable']
                            if (!length) {
                                alert('Vous devez d\'abord sélectionner une ligne.')
                            }
                            else {
                                displayer.html("" + length + " row" + (length > 1 ? "s" : "") + " selected");
                                displayCenterPopup('removeChannels')
                            }

                        }

                        function submitRemoveChannelsForm() {
                            url = '/removeSelectedItems?pageURL=' +
                                    window.location.pathname + '&tableId=YTChannelTable' +
                                    '&listToRemoveFrom=ytChannelsToHarvest';
                            executeAjaxAndDisplayMessages(url, '#YTChannelTable');
                        }
                    </script>
                </div>
                {% include "tool/tables/tableMenuItems.html" with name="downloadFields" className="YTChannel" filename="Harvested_Channels" %}
                {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
            </div>
            {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
        </div>
        <div class="section_content">
            <table class="display" id="YTChannelTable" width="100%" drawn='False'>
                <script class="tableVars">
                    var modelName = "YTChannel";
                    var srcs = [
                        {
                            attr: "ytChannelsToHarvest",
                        }
                    ]
                    var columns = [
                        {
                            "fields": ["title", "pk"],
                            "colStr": "Titre",
                            "render": function (data, type, row) {
                                if (row['title'] == null) {
                                    return undefinedTag();
                                }
                                ;
                                return tableToolLink("/youtube/channel/"+row["pk"],
                                        truncate_text(row["title"], 50, true));
                            }
                        },
                        {
                            "searchable": false,
                            "fields": ["videoCount"],
                            "colStr": "Nombre de vidéos",
                            "render": function (data, type, row) {
                                if (row['videoCount'] == null) {
                                    return "";
                                }
                                ;
                                return centeredTag(row['videoCount']);
                            }
                        },
                        {
                            "searchable": false,
                            "fields": ["subscriberCount"],
                            "colStr": "Abonnés",
                            "render": function (data, type, row) {
                                if (row['subscriberCount'] == null) {
                                    return "";
                                }
                                ;
                                return centeredTag(row['subscriberCount']);
                            }
                        },
                        {
                            "searchable": false,
                            "orderable":false,
                            "fields": ["playlists__count"],
                            "colStr": "Nombre de playlists",
                            "render": function (data, type, row) {
                                return centeredTag(row['playlists__count']);
                            }
                        },
                        {
                            "searchable": false,
                            "fields": ["viewCount"],
                            "colStr": "Vues totales",
                            "render": function (data, type, row) {
                                return centeredTag(row['viewCount']);
                            }
                        },
                    ]
                </script>
            </table>
        </div>
    </div>

    {% elif source == "YoutubeChannel_subscriptions" %}
    <div class="">
        <div class="section_menu">
                <span class="section_title">
                    <b>Abonnements de cette chaîne</b>
                </span>
            <div class="section_options">
                {% include "tool/tables/tableMenuItems.html" with name="downloadFields" className="YTChannel" filename="Channel_"|join:channel|join:"_subscriptions" %}
                {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
            </div>
            {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
        </div>
        <div class="section_content">
            <table class="display" id="YTChannelSubscribtions" width="100%" drawn='False'>
                <script class="tableVars">
                    var modelName = "Subscription";
                    var srcs = [
                        {
                            modelName: "YTChannel",
                            attr: "subscriptions",
                            id: "{{ channel.pk }}",
                        },
                    ]
                    var columns = [
                         {
                            "fields": ["value__title", "value__pk"],
                            "colStr": "Chaîne",
                            "render": function (data, type, row) {
                                if (row['value__title'] == null) {
                                    return undefinedTag();
                                }
                                ;
                                return tableToolLink("/youtube/channel/" + row["value__pk"],
                                        truncate_text(row["value__title"], 50, true));
                            }
                        },
                        {
                            "fields": ["value__video_count"],
                            "colStr": "Nombre de vidéos",
                            "render": function (data, type, row) {
                                return centeredTag(row['value__video_count']);
                            }
                        },
                        {
                            "fields": ["value__subscriber_count"],
                            "colStr": "Nombre d'abonnés",
                            "render": function (data, type, row) {
                                return centeredTag(row['value__subscriber_count']);
                            }
                        },
                        {
                            "fields": ["recorded_time"],
                            "colStr": "Abonné depuis",
                            "render": function (data, type, row) {
                                return row['recorded_time'];
                            }
                        },
                        {
                            "fields": ["ended"],
                            "colStr": "Abonné jusqu'à",
                            "render": function (data, type, row) {
                                return row['ended'];
                            }
                        },
                    ]
                </script>
            </table>
        </div>
    </div>

    {% elif source == "YoutubeChannel_subscribers" %}
    <div class="">
        <div class="section_menu">
                <span class="section_title">
                    <b>Abonnés à cette chaîne</b>
                </span>
            <div class="section_options">
                {% include "tool/tables/tableMenuItems.html" with name="downloadFields" className="YTChannel" filename="Channel_"|join:channel|join:"_subscribers" %}
                {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
            </div>
            {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
        </div>
        <div class="section_content">
            <table class="display" id="YTChannelSubscribers" width="100%" drawn='False'>
                <script class="tableVars">
                    var modelName = "Subscription";
                    var srcs = [
                        {
                            modelName: "YTChannel",
                            attr: "subscribers",
                            id: "{{ channel.pk }}",
                        },
                    ]
                    var columns = [
                        {
                            "fields": ["channel__title", "channel__pk"],
                            "colStr": "Chaîne",
                            "render": function (data, type, row) {
                                if (row['channel__title'] == null) {
                                    return undefinedTag();
                                }
                                ;
                                return tableToolLink("/youtube/channel/" + row["channel__pk"],
                                        truncate_text(row["channel__title"], 50, true));
                            }
                        },
                        {
                            "fields": ["channel__video_count"],
                            "colStr": "Nombre de vidéos",
                            "render": function (data, type, row) {
                                return centeredTag(row['channel__video_count']);
                            }
                        },
                        {
                            "fields": ["channel__subscriber_count"],
                            "colStr": "Nombre d'abonnés",
                            "render": function (data, type, row) {
                                return centeredTag(row['channel__subscriber_count']);
                            }
                        },
                        {
                            "fields": ["recorded_time"],
                            "colStr": "Abonné depuis",
                            "render": function (data, type, row) {
                                return row['recorded_time'];
                            }
                        },
                        {
                            "fields": ["ended"],
                            "colStr": "Abonné jusqu'à",
                            "render": function (data, type, row) {
                                return row['ended'];
                            }
                        },
                    ]
                </script>
            </table>
        </div>
    </div>

    {% endif %}
</section>