{% load staticfiles %}
{% load extratags %}

<section class="tableContainer">

    {% if source == "YoutubeBase" %}
    <div class="">
        <div class="section_menu">
            <span class="section_title">
                <b>Videos collectées</b>
            </span>
            <div class="section_options">
                <span>|</span>
                <span class="section_menuItem tableDownloader" filename="harvested_yt_videos">Télécharger la sélection
                    <!-- DOWNLOAD FIELDS -->
                    <div class="downloadFields">
                        {% for key,val in 'YTVideo'|getFields %}
                        <div field="{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                    </div>
                </span>
                <span>|</span>
                <span class="section_menuItem" id="reloadTableLink">Recharger la table</span>
            </div>
            <div class="tableOpenCloseIcon" type="plus">
                <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
            </div>
        </div>
        <div class="section_content">
            <table class="display" id="YTVideosTable" width="100%" drawn='False'>
                <thead>
                <tr>
                    <th><input type="checkbox" class='table_select_master'></input></th>
                    <th>Titre</th>
                    <th>Chaîne</th>
                    <th>Description</th>
                    <th>Nombre de vues</th>
                    <th>Nombre de likes</th>
                    <th>Nombre de dislikes</th>
                    <th>Nombre de favoris</th>
                    <th>Nombre de commentairest</th>
                    <th></th>
                </tr>
                </thead>
                <script class="tableVars">
                    $(document).ready(function () {
                        if (typeof YTVideoTable_autoRefresh == 'undefined') {
                            YTVideoTable_autoRefresh = true; // insure that this "bind" fct is called only once per page
                            $('body').bind('selectedTableRowsChanged', function (event, tableId) {
                                if (tableId != 'YTVideosTable') {
                                    reloadTable('#YTVideosTable');
                                }
                            });
                        }
                    });
                    var fields = "title,channel__title,description,view_count,like_count,dislike_count,favorite_count,comment_count,ident";
                    var url = "/youtube/ajax?tableId=YTVideosTable";
                    var GETValues
                    var columnsDefs = [
                        {
                            "orderable": false,
                            "className": 'select-checkbox',
                            "targets": 0,
                            "render": function () {
                                return ""
                            }
                        },
                        {
                            "targets": 1,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['title'];
                            }
                        },
                        {
                            "targets": 2,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['channel__title'];
                            }
                        },
                        {
                            "targets": 3,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                var desc = row['description'];
                                if(desc == null){return '<i>indéfini</i>'}
                                var desc = row['description'].substring(0, 200)
                                if (row['description'].length > 200) {
                                    desc += '...'
                                }
                                return desc;
                            }
                        },
                        {
                            "targets": 4,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['view_count'];
                            }
                        },
                        {
                            "targets": 5,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['like_count'];
                            }
                        },
                        {
                            "targets": 6,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['dislike_count'];
                            }
                        },
                        {
                            "targets": 7,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['favorite_count'];
                            }
                        },
                        {
                            "targets": 8,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['comment_count'];
                            }
                        },
                        {
                            "targets": 9,
                            "render": function (data, type, row) {
                                return '<a href="/youtube/video/' + row['ident'] + '" class="TableToolLink">Plus d\'infos</a>';
                            }
                        },
                    ]
                </script>
            </table>
        </div>
    </div>

    {% elif source == "YoutubeChannel_vids" %}
    <div class="">
        <div class="section_menu">
            <span class="section_title">
                <b>Videos</b>
            </span>
            <div class="section_options">
                <span>|</span>
                <span class="section_menuItem tableDownloader" filename="{{channel.title}}_uploaded_videos">Télécharger la sélection
                    <!-- DOWNLOAD FIELDS -->
                    <div class="downloadFields">
                        {% for key,val in 'YTVideo'|getFields %}
                        <div field="{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                    </div>
                </span>
                <span>|</span>
                <span class="section_menuItem" id="reloadTableLink">Recharger la table</span>
            </div>
            <div class="tableOpenCloseIcon" type="plus">
                <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
            </div>
        </div>
        <div class="section_content">
            <table class="display" id="YTChannelVideosTable" width="100%" drawn='False'>
                <thead>
                <tr>
                    <th><input type="checkbox" class='table_select_master'></input></th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>View count</th>
                    <th>Like count</th>
                    <th>Dislike count</th>
                    <th>Favorite count</th>
                    <th>Comment count</th>
                    <th></th>
                </tr>
                </thead>
                <script class="tableVars">
                    var fields = "title,description,view_count,like_count,dislike_count,favorite_count,comment_count,ident";
                    var url = "/youtube/ajax?tableId=YTChannelVideosTable&channelId={{channel.ident}}";
                    var GETValues
                    var columnsDefs = [
                        {
                            "orderable": false,
                            "className": 'select-checkbox',
                            "targets": 0,
                            "render": function () {
                                return ""
                            }
                        },
                        {
                            "targets": 1,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['title'];
                            }
                        },
                        {
                            "targets": 2,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                var desc = row['description'];
                                if (desc==null){return '<i>indéfini</i>'}
                                var desc = row['description'].substring(0,200)
                                if (row['description'].length>200) {desc+='...'}
                                return desc;
                            }
                        },
                        {
                            "targets": 3,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['view_count'];
                            }
                        },
                        {
                            "targets": 4,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['like_count'];
                            }
                        },
 {
                            "targets": 5,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['dislike_count'];
                            }
                        },
                        {
                            "targets": 6,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['favorite_count'];
                            }
                        },
                        {
                            "targets": 7,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['comment_count'];
                            }
                        },
                        {
                            "targets": 8,
                            "render": function (data, type, row) {
                                return '<a href="/youtube/video/'+row['ident']+'" class="TableToolLink">More infos</a>';
                            }
                        },
                    ]
                </script>
            </table>
        </div>
    </div>

    {% elif source == "YoutubePlaylist_vids" %}
    <div class="">
        <div class="section_menu">
            <span class="section_title">
                <b>Videos</b>
            </span>
            <div class="section_options">
                <span>|</span>
                <span class="section_menuItem tableDownloader" filename="{{channel.title}}_uploaded_videos">Télécharger la sélection
                    <!-- DOWNLOAD FIELDS -->
                    <div class="downloadFields">
                        {% for key,val in 'YTPlaylistItem'|getFields %}
                        <div field="{{key}}" helper="{{val.description}}">{{ val.name }}</div>
                        {% endfor %}
                    </div>
                </span>
                <span>|</span>
                <span class="section_menuItem" id="reloadTableLink">Recharger la table</span>
            </div>
            <div class="tableOpenCloseIcon" type="plus">
                <img src="{% static 'medias/plus_icon_128.png' %}" style="height:100%;">
            </div>
        </div>
        <div class="section_content">
            <table class="display" id="YTPlaylistVideosTable" width="100%" drawn='False'>
                <thead>
                <tr>
                    <th><input type="checkbox" class='table_select_master'></input></th>
                    <th>Position</th>
                    <th>Title</th>
                    <th>Channel</th>
                    <th>View count</th>
                    <th>Like count</th>
                    <th>Dislike count</th>
                    <th>Favorite count</th>
                    <th>Comment count</th>
                    <th></th>
                </tr>
                </thead>
                <script class="tableVars">
                    var fields = "playlistOrder,video__title,video__channel__title,video__view_count,video__like_count,video__dislike_count,video__favorite_count,video__comment_count,video__ident,video__channel__ident";
                    var url = "/youtube/ajax?tableId=YTPlaylistVideosTable&playlist={{playlist.ident}}";
                    var GETValues;
                    var columnsDefs = [
                        {
                            "orderable": false,
                            "className": 'select-checkbox',
                            "targets": 0,
                            "render": function () {
                                return ""
                            }
                        },
                        {
                            "targets": 1,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['playlistOrder'];
                            }
                        },
                        {
                            "targets": 2,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['video__title'];
                            }
                        },
                        {
                            "targets": 3,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['video__channel__title'];
                            }
                        },
                        {
                            "targets": 4,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['video__view_count'];
                            }
                        },
                        {
                            "targets": 5,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['video__like_count'];
                            }
                        },
                        {
                            "targets": 6,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['video__dislike_count'];
                            }
                        },
                        {
                            "targets": 7,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['video__favorite_count'];
                            }
                        },
                        {
                            "targets": 8,
                            "asSorting": default_asSorting,
                            "render": function (data, type, row) {
                                return row['video__comment_count'];
                            }
                        },
                        {
                            "targets": 9,
                            "orderable": false,
                            "render": function (data, type, row) {
                                var identifier = row['video__ident'].slice(1,row['video__ident'].length)
                                return '<a href="/youtube/video/' + identifier + '" class="TableToolLink">More infos</a>';
                            }
                        },
                    ]
                </script>
            </table>
        </div>
    </div>

    {% endif %}
</section>