{% extends "MainPage.html" %}
{% load staticfiles %}


{% block extendHead %}
<script type="text/javascript" src='{% static "js/script_facebook.js" %}?v={{ STATICFILES_VERSION }}'></script>
<link rel="stylesheet" type="text/css" href='{% static "css/table_style.css" %}?v={{ STATICFILES_VERSION }}' name="style">
<script>
    var appID = '{{ app.app_id }}';
    var appVersion = '{{ app.version }}';
</script>
{% endblock %}

{% block content %}
<section class="overviewContainer">
    <div class="section_menu">
        <span class="section_title">
            <b>Log into Facebook</b>
        </span>
    </div>
    <div class="section_overview_content">
        <center>
            <div id="notLoggedInMessage">(not logged in)<br><br></div>
            <input id="custom_login_button" type="submit" value="Login" onclick=logIn()>
            <div id="login_infos_container" style="display:none;">
                Logged in as: <br>
                <img src="" id="userImg">
                <b><div id="user_name"></div></b><br>
            </div>
            <input id="custom_logout_button" type="submit" value="Logout" onclick=logout() style="display:none;">
        </center>
    </div>
</section>
    <!--
     <script type="text/javascript">
        function fbUserSelect(id, searchType, access_token){
            if (FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    document.getElementById("fbUserSearchResults").innerHTML = "";
                    FB.api(
                        id + "?fields=name,id,picture" + (searchType === 'user' || searchType === 'page' ? ',is_verified' : ''),
                        function (response) {
                            var selectDiv = document.getElementById("fbUserSelected");
                            var html = "<img height='50' width='50' alt='profile picture' src='" + response.picture.data.url + "'>" + (response.is_verified === true ? "<img src='{% static 'medias/facebook_verified_icon_150.png' %}' height='25' width='25' alt='verified'>" : "") + response.name + ", " + response.id;

                            selectDiv.innerHTML = selectDiv.innerHTML + "<p id='" + response.id + "'>" + html + "</p>";
                        }
                    );
                }
            }));
        }

        function fbUserSearch() {
            if (FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    var searchDiv = document.getElementById("fbUserSearchResults");
                    searchDiv.innerHTML = "";
                    var searchType = "";
                    [].slice.call(document.getElementsByTagName("input")).filter(
                        function(element){
                            return element.name === "searchType";
                        }
                    ).forEach(
                        function(item, index){
                            if (item.checked){
                                searchType = item.value;
                            }
                        }
                    );
                    var name = [].slice.call(document.getElementsByTagName("input")).filter(
                        function(element){
                            return element.name === "nameToSearch";
                        })[0].value;
                    console.log(name);
                    FB.api(
                        "search?limit=5&type=" + searchType + "&q=" + name,
                        function(response){
                            if (response && !response.error) {
                                console.log(response);
                                response.data.forEach(function(item, index){
                                    FB.api(
                                        item.id + "?fields=name,id,picture" + (searchType === "user" || searchType === "page" ? ",is_verified" : "" ),
                                        function(response){
                                            if (response && !response.error){
                                                console.log(response);
                                                var html = "<img height='50' width='50' alt='profile picture' src='" + response.picture.data.url + "'>" + (response.is_verified === true ? "<img src='{% static 'medias/facebook_verified_icon_150.png' %}' height='25' width='25' alt='verified'>" : "") + response.name + ", " + response.id;

                                                searchDiv.innerHTML = searchDiv.innerHTML + "<p><a href='javascript:fbUserSelect(" + response.id + ", \"" + searchType + "\");'>" + html + "</a></p>";
                                            }
                                            else{
                                                console.log(response);
                                            }
                                        }
                                    );
                                });
                            }
                            else {
                                console.log(response);
                            }
                        }
                    );
                }
            }));
            return false;
        }
    </script>


    <form id="fbUserSearch" action="javascript:fbUserSearch();">
        <input type="text" name="nameToSearch" placeholder="screen_name" value="" required><br>
        <input type="radio" name="searchType" value="user" required> Users<br>
        <input type="radio" name="searchType" value="page" required> Pages<br>
        <input type="radio" name="searchType" value="group" required> Groups<br>
        <input name="submit" type="Submit" value="Search">
    </form>

    <!--<div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>-->
    <!--
    <div id="fbUserSearchResults">
    </div>

    <div id="fbUserSelected">
        <h1>Selected List of users</h1>
    </div> -->

{% endblock %}