{% extends "MainPage.html" %}
{% load staticfiles %}
{% load extratags %}



{% block extendHead %}
    <link rel="stylesheet" type="text/css" href='{% static "css/table_style.css" %}?v={{ STATICFILES_VERSION }}' name="style">
    <script type="text/javascript" src='{% static "js/table_script.js" %}?v={{ STATICFILES_VERSION }}'></script>
{% endblock %}

{% block content %}
<section class="overviewContainer" {% if page.cover %}
         style="background-image:url({{ page.cover }});background-size:cover;" {% endif %}>
    <div class="section_menu">
        <span class="section_title" style="background-color : rgba(227, 227, 227, 0.85);">
            {% if page.username %}
            <a class="TableToolLink" target="_blank"
               href="https://www.facebook.com/{{ page.username }}"><b>{{ page }}</b></a>
            {% else %}
            <b>{{ page }}</b>
            {% endif %}
        </span>
    </div>
    <div class="section_overview_content">
        {% include "tool/misc.html" with tool="gridDisplay" item=page currentUser=user %}
    </div>
</section>

<!-- FEED -->
{% include "tool/tables/facebookPostTable.html" with source="pageFeed" page=page%}

<!-- POSTED STATUSES -->
{% include "tool/tables/facebookPostTable.html" with source="pagePosted" %}



{% endblock %}


















































