{% extends "MainPage.html" %}
{% load staticfiles %}
{% load extratags %}

{% block extendHead %}
    <link rel="stylesheet" type="text/css" href='{% static "css/table_style.css" %}?v={{ STATICFILES_VERSION }}' name="style">
    <script type="text/javascript" src='{% static "js/table_script.js" %}?v={{ STATICFILES_VERSION }}'></script>
{% endblock %}


{% block content %}
    <section class="overviewContainer">
        <div class="section_menu">
            <span class="section_title document_title">
                {% if fbComment.permalink_url %}
                <a href="{{ fbComment.permalink_url }}" class="TableToolLink" target="_blank">
                    <b>{{ fbComment }}</b>
                </a>
                {% else %}
                <b>{{ fbComment }}</b>
                {% endif %}
            </span>
        </div>
        <div class="section_overview_content">
            {% include "tool/misc.html" with tool="gridDisplay" item=fbComment currentUser=user %}
        </div>
    </section>

    <!-- REPLIES -->
    {% include "tool/tables/facebookCommentTable.html" with source="commentReplies" fbComment=fbComment %}

    <!-- REACTIONS -->
    {% include "tool/tables/facebookReactionTable.html" with source="commentReactions" fbComment=fbComment %}



{% endblock %}


















































