{% extends "MainPage.html" %}
{% load staticfiles %}
{% load extratags %}



{% block extendHead %}
    <link rel="stylesheet" type="text/css" href='{% static "css/table_style.css" %}?v={{ STATICFILES_VERSION }}' name="style">
    <script type="text/javascript" src='{% static "js/table_script.js" %}?v={{ STATICFILES_VERSION }}'></script>
{% endblock %}


{% block content %}
    <section class="overviewContainer">
        <div class="section_menu">
            <span class="section_title" style="text-decoration: none; cursor:default">
                <span class="section_title"
                      style="background-color : rgba(227, 227, 227, 0.85);box-shadow: 1px 1px 1px #333">
                {% if fbPost.permalink_url %}
                <a href="{{ fbPost.permalink_url }}" class="TableToolLink" target="_blank">
                    <b>{{ fbPost }}</b>
                </a>
                {% else %}
                <b>{{ fbPost }}</b>
                {% endif %}
            </span>
            </span>
        </div>
        <div class="section_overview_content">
            {% include "tool/misc.html" with tool="gridDisplay" item=fbPost currentUser=user %}
        </div>
    </section>

    <!-- COMMENTS -->
    {% include "tool/tables/facebookCommentTable.html" with source="statusComments" fbPost=fbPost%}

    <!-- REACTIONS -->
    {% include "tool/tables/facebookReactionTable.html" with source="statusReactions" fbPost=fbPost%}



{% endblock %}


















































