{% extends "MainPage.html" %}
{% load staticfiles %}


{% block extendHead %}
    <link rel="stylesheet" type="text/css" href='{% static "css/table_style.css" %}?v={{ STATICFILES_VERSION }}' name="style">
    <script type="text/javascript" src='{% static "js/table_script.js" %}?v={{ STATICFILES_VERSION }}'></script>
{% endblock %}

{% block content %}
    <section class="overviewContainer yetToCome">
        <div class="section_menu">
            <span class="section_title">
                <b>Overview</b>
            </span>
        </div>
        <div class="section_overview_content">
            -- STATISTIQUES DIVERSES --
        </div>
    </section>

    {% include "tool/tables/facebookPageTable.html" with source="facebookBase" %}

    <section class="tableContainer yetToCome">
    <div class="section_menu">
            <span class="section_title">
                <b>Groupes publiques collectés</b>
            </span>
        <div class="section_options">
                <span class="section_menuItem">
                    |
                </span>
                <span id="downloadAllTweets" class="section_menuItem">
                    Télécharger la sélection
                </span>
        </div>
    </div>

    <div class="section_content">
        <table class="display" id="comment_table" width="100%" drawn='False'>
            <thead>
            <tr>
                <th><input type="checkbox" class='table_select_master'></input></th>
                <th>Created Time</th>
                <th>Comment author</th>
                <th>Post author</th>
                <th>Text</th>
                <th>Likes</th>
            </tr>
            </thead>
        </table>
    </div>
</section>

    {% include "tool/tables/facebookPostTable.html" with source="facebookBase" %}

    <section class="tableContainer yetToCome">
        <div class="section_menu">
            <span class="section_title">
                <b>Commentaires</b>
            </span>
            <div class="section_options">
                <span class="section_menuItem">
                    |
                </span>
                <span id="downloadAllTweets" class="section_menuItem">
                    Télécharger la sélection
                </span>
            </div>
        </div>

        <div class="section_content">
            <table class="display" id="comment_table" width="100%" drawn='False'>
                <thead>
                    <tr>
                        <th><input type="checkbox" class='table_select_master'></input></th>
                        <th>Created Time</th>
                        <th>Comment author</th>
                        <th>Post author</th>
                        <th>Text</th>
                        <th>Likes</th>
                    </tr>
                </thead>
            </table>
        </div>
    </section>
{% endblock %}






























































