
.content {
    margin:2px;
    text-align:center;
}

.section_box {
    border:solid 1px #DDD;
    background-color:#FFF;
    height:300px;
    display:inline-block;
    margin-bottom:5px;
    text-align:left;
    padding:7px;
    vertical-align: top;
}

.section_box:hover {
    box-shadow: 0px 0px 5px 5px #DDD inset;
}

.section_title{
    font-size: 14px;
    border-bottom: solid 1px #DDD;
    padding-bottom: 3px;
}

.section_title_icon{
    width:35px;
    height:35px;
    vertical-align: middle;
}

#editor {
    margin-top:35px;
    float:right;
    margin-right:5px;
}

#zone_title {
    height:60px;
}

#title_text{
    float:left;
    margin-top:20px;
    margin-left:5px;
    font-size: 16px;
}

.section_box_info{
    font-size: 12px;
    border-bottom: solid 1px #DDD;
    padding:5px;
}

.dataValue {
    float:right;
}
























