#chart_data_type_selector {
    background-color:#FFF;
    border:solid 1px #DDD; 
    text-align: center;
    padding: 3px;
    margin-bottom:3px;
}

.chart_container{
    height:400px;
    background-color: #FFF;
    border: solid 1px #DDD;
    margin-bottom:5px;
    overflow: hidden;
}

#chart{
    height:100%;
}

.table_box {
    background-color: #FFF;
    border: solid 1px #DDD;
    margin-bottom:3px;
    padding:5px;
}

.graph_type_selector {
    height:20px;
    padding:10px;
    display:inline-block;
    cursor:pointer;
    transition:0.4s;
    margin:0px;
    border-radius: 2px;
}
.graph_type_selector:hover {
    background-color: #CCCCCC;
}

.graph_type_selector.selected {
    font-weight: bold;
}
.graph_type_selector.selected:hover {
    background-color: inherit;
}

.graphReloader {
    position:relative;
    z-index:2;
    height:20px;
    float:right;
    bottom:30px;
    margin-right:5px;
    cursor:pointer;
    opacity:0.5;
    transition:0.4s;
    animation-duration: 250ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.graphReloader:hover {
    opacity:1;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
          transform: rotate(360deg);
      }
}