
/*
body {
    margin:1px;
    background-color: #E3E3E3;
    margin-right:5px;
    font-family: Verdana;
}
*/
body{
    background-color:#E3E3E3;
    width:100%;
    margin:0px;
    font-family: Verdana;
    min-height:100px;

}

a {
    color:black;
    text-decoration: none;
}

#content_container {
    padding-top: 47px;
    min-width: 500px;
}

#inner_container {
    margin-right: auto;
    margin-left: auto;
    max-width:1200px;
}

#head_banner {
    border:solid 1px #DDD;
    position:fixed;
    width:100%;
    height:40px;
    min-width: 590px;
    background-color:#FFF;
    margin-top:-2px;
}

#side_menu {
    /*background: rgb(60, 60, 60) none repeat scroll 0% 0%;
    box-shadow: 0px 0px 5px 5px rgb(34, 34, 34) inset;*/
    background-color:#FFF;
    border: solid 1px #EEE;
    width:200px;
    left:0px;
    position:fixed;
    top:47px;
    overflow-y: auto;
    z-index:2;
}

#login_button {
    position:relative;
    float:right;
    height:24px;
    margin:5px;
    margin-right:9px;
    padding:3px;
    padding-left:6px; padding-right: 6px;
    background-color:#EEE;
    border:solid 1px #DDD;
}

#login_section {
    background-color:#FFF;
    width:300px;
    height:150px;
    right:-320px;
    top:40px;
    border:solid 1px #EEE;
    position:absolute;
    box-shadow: 0px 5px 5px 5px #CCC;
    padding:5px;
    padding-top: 50px;
    text-align: center;
    
}

#menu_select {
    float:left;
    height:25px;
    margin:9px;
    width:25px;
    cursor:pointer;
}
#menu_select:hover {
    margin:10px;
    height:23px;
    width:23px;
    background-color:#EEE;
}

#bottom_banner {
    margin-top:5px;
    margin-right: auto;
    margin-left: auto;
    max-width:1200px;
    border: solid 1px #DDD;
    background-color: #FFF;
    height:28px;
    text-align: center;
    padding-top: 6px;
}

.left_menu_item {
    background-color: #FFF;
    height:26px;
    margin-bottom:3px;
    padding:7px;
    font-size:16px;
}
.left_menu_item:hover {
    background-color: #CCC;
    border:none;
}

#inner_container_frame {
    width:100%;
    min-height:200px;
    border:none;
    overflow: hidden;
}

#SNH_Title {
    padding:5px;
    float:left;
    height:20px;
    margin:5px;

}

.left_menu_item_icon {
    width:29px;
    height:29px;
    vertical-align: middle;
}

#left_menu_permanent_items {
    list-style-type:circle;
    margin-left: -20px;
    font-size:12px;
    margin-top:5px;
}

#navigator{
    border:solid 1px #DDD;
    background-color:#FFF;
    padding:5px;
    margin-right: auto;
    margin-left: auto;
    max-width:1190px;
    font-size:12px;
    margin-bottom:3px;
}

.bottom_banner_item{
    font-size:12px;
}

.bottom_banner_item:hover{
    text-decoration: underline;
}

.perm_item:hover{
    text-decoration: underline;
}

#groupMenu {
    margin-left:2px;
    margin-bottom:5px;
}

#addGroupLink {
    float:right; 
    margin-right:5px;
    cursor:pointer;
}
#addGroupLink:hover {
    text-decoration: underline;
}
.menu_hr {
    border: solid 1px #EEE;
    height:2px;
}

.sub_left_menu_item {
    background-color: #EEE;
    height:26px;
    margin-bottom:3px;
    margin-left:12px;
    padding:7px;
    font-size:16px;
}
.sub_left_menu_item:hover {
    background-color: #CCC;
    border:none;
}
#SubLeftMenu {
    display:none;
}






















































