

.settings_box {
    border: solid 1px #DDD;
    padding: 5px;
    background-color: #FFF;
    margin-bottom:3px;
}

#save_button {
    border: solid 1px #DDD;
    padding: 5px;
    background-color: #FFF;
    float:right;
}

.category_title {
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}

.category_insider_separator {
    border: 1px solid #EEE;
}

.category_content {
    display:none;
}


.helpLink {
    color:red;
}

.helpLink:hover {
    text-decoration: underline;
}