

.settings_box {
    border: solid 1px #DDD;
    background-color: #FFF;
    margin-bottom:5px;
}

#save_button {
    border: solid 1px #DDD;
    border-radius:2px;
    padding: 5px;
    background-color: #FFF;
    float:right;
    transition : 0.4s;
}
#save_button:hover {
    background-color : #CCC;
}

.facebook_login_logout {
    border           : solid 1px #bebebe;
    border-radius    : 2px;
    padding          : 5px;
    background-color : #dadada;
    transition       : 0.4s;
    width: 100px;
    cursor:pointer;
}

.facebook_login_logout:hover {
    background-color : #b0b0b0;
}

img#userImg {
    width:100px;
}

.category_title {
    float     : left;
    font-size : 12px;
    padding   : 4px;
    cursor    : pointer;
}

.category_title:hover {
    text-decoration: underline;
}


.section_menu {
    height       : 24px;
    padding      : 15px;
    padding-left : 5px;
}

.category_insider_separator {
    border: 1px solid #EEE;
}

.category_content {
    display:none;
    padding:8px;
}


.helpLink {
    color:red;
}

.helpLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

#tokenErrorMarker{
    display:none;
    color:red;
}