@import url('/static/js/DataTables-1.10.9/css/jquery.dataTables.css');
@import url('/static/js/Select-1.0.1/css/select.dataTables.min.css');

section.tableContainer, section.overviewContainer {
    background-color:#FFF;
    border:solid 1px #DDD;
    margin-bottom:5px;
}

.section_title {
    float:left;
    padding:3px;
    font-size:12px;
    cursor:pointer;
}

.select-checkbox {
    cursor:pointer;
}

.section_title:hover{
    text-decoration: underline;
}

.reloadTableIcon {
    height:12px;
    vertical-align: middle;
}

.section_menu{
    height:24px;
    padding:15px;
    padding-left:5px;
}

.section_content{
    display:none;
    padding:5px;
    min-height:100px;
}

.section_overview_content{
    padding:5px;
    min-height:100px;
}

.search_field{
    padding-right:30px;
    width:100px;
}

.section_menuItem{
    cursor:pointer;
    font-size:12px;
}

.section_menuItem:hover{
    text-decoration: underline;
}

.TableToolLink{
    color:#000;
    cursor:pointer;
    text-decoration:none;
}
.TableToolLink:hover{
    text-decoration: underline;
}

.section_options{
    float:left;
    overflow: hidden;
    white-space: nowrap;
    height:23px;
    margin-top:3px;
    width:0px;
}

.tableOpenCloseIcon {
    padding:3px;
    float:right;
    height:20px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    cursor: pointer;
}

.tableOpenCloseIcon:hover {
    background-color:#CCC;
}

#snippetContainer{
    height:200px;
    width:300px;
}

#snippet {
    height:100%;
    width:100%;
    background:#FFF;
    border: solid 1px #DDD;
    box-shadow: 0px 5px 5px 5px #CCC;
    display:none;
}

input[type=checkbox][class=option_checkbox] {
    margin-top:-3px;
    transform: scale(0.9);
}

.downloadFields {
    display:none;
}

#selectedTableName {
    display : none;
}








