<h1>Social Network Harvester account creation</h1>
<hr>
<p>
    Merci d'utiliser le Social Network Harvester! Avec cet outil vous serez en mesure de rapidement collecter de
    grandes quantités d'information provenant des médias sociaux ainsi que de facilement organiser, filtrer et afficher
    de l'information pertinente pour vos projets de recherche.
</p>
<table>
    <tr>
        <td><b>Nom d'utilisateur:</b></td>
        <td>{{ username }}</td>
    </tr>
    <tr>
        <td><b>Prénom:</b></td>
        <td>{{ fname }}</td>
    </tr>
    <tr>
        <td><b>Nom:</b></td>
        <td>{{ lname }}</td>
    </tr>
    <tr>
        <td><b>Organisation:</b></td>
        <td>{{ org }}</td>
    </tr>
</table>
<p>
    Veuillez noter qu'avant de pouvoir utiliser votre compte SNH, celui-ci doit être activé par un membre du personel
    d'administration. Aucune action n'est requise de votre part à cette étape, mais si vous rencontrez un quelquonque
    problème, vous pouvez contacter une personne-ressource à l'une des addresses ci-dessous:
    <ul>
        {% for addr in webmasters %}
            <li><a href="mailto:{{ addr }}">{{ addr }}</a></li>
        {% endfor %}
    </ul>
    Dans tous les cas, l'un des administrateur vous contactera aussitôt que votre compte est activé (généralement en
    moins de 24h) ou s'il/elle possède des interogations quant à vos motifs ou votre organisation.
</p>
<p>
    Entre-temps, veuillez noter que le SNH fonctionne en utilisant les API publics de Twitter, Facebook, Youtube et
    d'autres médias sociaux. Cela signifie que dans l'optique de respecter les termes et conditions de chaque médium,
    les données collectées à l'aide du SNH doivent n'être utilisées qu'à des fins d'exploration et de façon agrégées. Si
    les données font l'objet d'une publication sous une forme ou une autre, celles-ci DOIVENT être anonymisées en
    retirant toute pièce d'information pouvant permettre d'identifier quelqu'un.
</p>
<p>
    Finalement, afin d'utiliser ce service, vous devrez effectuer une configuration initiale de votre compte une fois
    que celui-ci sera activé. La première étape à suivre devrait être d'aller à votre page de
    <a href="https://aspira.ulaval.ca/user/settings">paramètres</a> afin d'y entrer les informations demandées. Tous
    les détails sont disponibles sur place. Notez qu'aucune (nouvelle) donnée ne sera collectée en fonctions de vos
    requêtes avant que votre compte soit proprement configuré selon les plateformes correspondantes.
</p>
<p>
    Finalement, merci encore d'utiliser le Social Network Harvester! N'oubliez pas d'utiliser vos nouveaux pouvoir de
    façon responsable!
</p>