<h1>Social Network Harvester account creation</h1>
<hr>
<p>
    Thank your for using the Social Network Harvester! With this tool you will be able to quickly collect
    large amounts of social media data as well as easily ordering, filtering and displaying relevant informations
    for your research projects.
</p>
<table>
    <tr>
        <td><b>Username:</b></td>
        <td>{{ username }}</td>
    </tr>
    <tr>
        <td><b>First Name:</b></td>
        <td>{{ fname }}</td>
    </tr>
    <tr>
        <td><b>Last Name:</b></td>
        <td>{{ lname }}</td>
    </tr>
    <tr>
        <td><b>Organization:</b></td>
        <td>{{ org }}</td>
    </tr>
</table>
<p>
    Please note that before being able to use the SNH, your account must be activated by the admin. No need to
    contact anyone but if you encounter any problem, you can contact him/her using one of the addresses below:
    <ul>
        {% for addr in webmasters %}
            <li><a href="mailto:{{ addr }}">{{ addr }}</a></li>
        {% endfor %}
    </ul>
    In any case, one of the admins will contact you as soon as your account has been activated (generally under 24h) or,
    if he/she has any questions regarding your intentions or your organization.
</p>
<p>
    In the meantime, note that the SNH works using the public APIs of Twitter, Facebook, Youtube and other social
    medias. This means that, in order to respect the Terms and Conditions of each medium, the data collected using
    the SNH must be used only as a mean to explore insights and generate pretty graphs. If published in any form,
    the data MUST be anonymized by removing any piece of information wich can be used to identify someone.
</p>
<p>
    Finally, in order to use this service, you will need to complete some configuration on your account once it's
    activated. The first thing you should do is go to your settings page in order to enter the relevant information.
    All details are explained there. Please follow them carefully. Note that no (new) data will be harvested according
    to your requests until your account is properly configured with the corresponding social network platform.
</p>
<p>
    Finally, thank you again for using the Social Network Harvester! Remember to use your new powers responsibly!
</p>