<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>(NoReply) Réinitialisation du mot de passe</title>
</head>
<body>
<h1>Réinitialisation de vote mot de passe</h1>
<br><br> Quelqu'un a demandé à réinitialiser le mot de passe de votre compte <a href="https://aspira.ulaval.ca">Aspira</a>.
<br><br> Votre nom d'utilisateur est <b>{{ aspiraUser.username }}</b>
<br><br> Si vous n'êtes pas à l'origine de cette requête, veuillez ignorer ce message. Sinon pour choisir un nouveau mot de passe, veuillez suivre le lien suivant:
<br><br><a href="{{ link }}">{{ link }}</a>
<br><br>Veuillez noter que ce lien n'est valide que pour une période d'une heure à partir de l'envoi de ce message.
</body>
</html>